Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Correct branching logic and adjust tests
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add brood asset to the containers
  apps/melding-form/public/container/brood.svg
Due: none

Fix tests and remove duplicates
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make asset icon paths dynamic (#1438)
  apps/melding-form/public/container/brood.svg
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  apps/melding-form/src/app/_utils/getAssetIconSVG.test.ts
  apps/melding-form/src/app/_utils/getAssetIconSVG.ts
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add CoPilot review instructions (#1451)
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Standardizes eligible arrow functions to use implicit returns and configures ESLint to enforce that style (#1454)
  apps/admin/src/app/Admin.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.tsx
  eslint.config.mjs
  libs/file-upload/src/FileList/FileList.tsx
  libs/file-upload/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test description correction
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix accessibility and image alignment of Image Slider (#1445)
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add required property to fix test
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add new required validation message
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add mocking for matchMedia (breaking patch update from inputmask)
  apps/admin/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make unique validation message more generic
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Ensure react-router & react-router-dom versions are aligned
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Implement minor improvements over BO attachments (#1446)
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Move 'Not yet implemented' and 'To discuss' sections to Jira tickets
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add error handling strategy for Back Office (#1422)
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Align @vitest/coverage-v8 to vitest update
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update pnpm lock
  pnpm-lock.yaml
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

Remove edgecase implementation and className prop Discussed with UX that we will use 1 variant across sizes
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  libs/file-upload/src/FileList/FileListItem.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Trigger button hover style from parent - ensure all 3 variants are accounted for
  libs/file-upload/src/FileUpload/FileUpload.module.css
Due: prettier --check, stylelint --allow-empty-input

Parse categoryId to ensure it is an integer
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add link to change category to melding detail
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update aria-describedby for TextArea component
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create change-category page
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create change-category client component
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add translations for the change-category page
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix default value and key handling in ChangeCategory
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update melding-page to pass prop to determine if change-category link should show
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create util which checks if reclassification is allowed
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create action to change category
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adhere eslint rule
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify form field name
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix props
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Install libraries for type-safe, validated and middleware-powered Server Actions for Next.js
  apps/back-office/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use next-safe-action to safe coupling between server action and client component
  apps/back-office/src/app/_actions/safe-action.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused library
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix param type
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix the tests
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Sync lock file
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
