Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Fix linting issue
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Merge different Next Links into 1 component
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/AmsNextLink.test.tsx
  apps/back-office/src/app/_components/AmsNextLink.tsx
  apps/back-office/src/app/_components/Header.tsx
  apps/back-office/src/app/_components/LinkComponent.test.tsx
  apps/back-office/src/app/_components/LinkComponent.tsx
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Import types as types explicitly
  apps/back-office/src/app/_components/AmsNextLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use Next Link type instead of generic type
  apps/back-office/src/app/_components/AmsNextLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add some more explanation
  apps/back-office/src/app/_components/AmsNextLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix `legacybehavior` issues in back-office (#1202)
  apps/back-office/package.json
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/AmsNextLink.test.tsx
  apps/back-office/src/app/_components/AmsNextLink.tsx
  apps/back-office/src/app/_components/Header.tsx
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update spacing values
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
  libs/markdown-to-html/src/MarkdownToHtml.module.css
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix test
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Explicitly set resource to AssetType* to meet new test requirement form useListController
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/admin/src/pages/asset-types/AssetTypeList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement CoPilot feedback
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor use of urgency values
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use urgency values in test
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update spacing values (#1204)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
  libs/markdown-to-html/src/MarkdownToHtml.module.css
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

chore: address dependabot alerts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused attribute, add comment
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix Admin lockfile issue
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update react hook form
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert some changes to lockfile to fix error in Admin (#1210)
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor use of constants
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refine early redirect test case
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use constant in test
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add extra typings urgency values
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Filter 'conditional' key from panel components
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Changed urgency tranlsations
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Filter 'conditional' key from panel components in Admin (#1211)
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wait for 1 day before installing dependencies for added security
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: none

Update apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set backend type for public_id
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only use spy to check early redirect
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wait for 1 day before installing dependencies for added security (#1212)
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: none

Remove unused attribute, add comment (#1209)
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add route handler to Melding Form to handle users coming from Back Office
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract shared logic
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Delete source cookie in Summary
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix dependabot alerts by overriding dependency versions (#1208)
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add urgency to melding (#1203)
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
  apps/melding-form/src/mocks/data.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/utils.test.ts
  apps/melding-form/src/app/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
