Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add .env file so the app can still run without the containers
  .gitignore
  apps/admin/.env
Due: none

dockerized admin app
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

Use env vars to be able to configure the keycloak and backend settings
  Dockerfile
  apps/admin/src/app/providers/useAuthProvider.ts
  docker-compose.yml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Progress Docker Container networking
  Dockerfile
  apps/admin/src/app/providers/useAuthProvider.ts
  docker-compose.yml
  libs/api-client/src/core/OpenAPI.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove comment
  apps/public/next.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename stages to reflect the project name
  Dockerfile
  docker-compose.yml
Due: none

Dockerize Admin app (#642)
  .dockerignore
  .gitignore
  Dockerfile
  apps/admin/.env
  apps/admin/src/app/providers/useAuthProvider.ts
  apps/public/next.config.ts
  docker-compose.yml
  openapi-ts.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add column to AddressMenu
  apps/public/src/app/(map)/locatie/kies/_components/AddressMenu/AddressMenu.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Make BE address configurable
  apps/public/next-env.d.ts
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(map)/layout.tsx
  apps/public/src/app/layout.tsx
  libs/api-client/src/core/OpenAPI.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/layout.test.tsx
  apps/public/src/app/layout.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use alpine base
  Dockerfile
Due: none

Use alpine base for public image
  Dockerfile
Due: none

Add api client proxy to set base url
  apps/public/src/apiClient.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename api client proxy
  apps/public/src/apiClient.ts
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set backend base url with env var
  apps/public/.env
  apps/public/src/apiClientProxy.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use env var in docker compose
  Dockerfile
  docker-compose.yml
Due: none

Make env public, add comment
  Dockerfile
  apps/public/.env
  apps/public/src/apiClientProxy.ts
  docker-compose.yml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use alpine base for public image (#654)
  Dockerfile
Due: none

Cleanup code after review
  apps/public/src/app/(map)/locatie/kies/_components/AddressMenu/AddressMenu.module.css
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
  apps/public/src/app/(map)/locatie/kies/utils.ts/reverse-geocode-service.test.ts
  apps/public/src/app/(map)/locatie/kies/utils.ts/reverse-geocode-service.ts
  apps/public/src/genericTypes.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add packageManager to package.json
  apps/public/next-env.d.ts
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove pnpm version from github action
  .github/workflows/ci.yml
Due: none

Update ra-keycloak and keycloak-js
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/useAuthProvider.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change NX to pnpm for form-builder
  libs/form-builder/.babelrc
  libs/form-builder/.eslintrc.json
  libs/form-builder/README.md
  libs/form-builder/package.json
  libs/form-builder/project.json
  libs/form-builder/tsconfig.json
  libs/form-builder/tsconfig.lib.json
  libs/form-builder/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Align tsconfig with form-renderer
  libs/form-builder/tsconfig.json
  libs/form-builder/tsconfig.lib.json
  libs/form-builder/tsconfig.spec.json
Due: none

Change test config
  libs/form-builder/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add --passWithNoTests flag to test since there are no tests
  libs/form-builder/package.json
  libs/form-builder/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

adds network connectivity and use build time and runtime arguments
  Dockerfile
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/layout.tsx
  docker-compose.yml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

specificy server and client side in comments
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/layout.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update next-env
  apps/public/next-env.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test for adding marker
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Pr feedback
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/utils/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Pr feedback fix
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update ra-keycloak and keycloak-js (#657)
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/useAuthProvider.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lockfile
  pnpm-lock.yaml
Due: none

Add test case to SideBar
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unnecessary API client config
  Dockerfile
  apps/public/src/app/layout.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update pnpm
  package.json
Due: none

Remove test utils in form-builder
  libs/form-builder/package.json
  libs/form-builder/tsconfig.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Undo changes in ci-yml
  .github/workflows/ci.yml
Due: none

Remove pnpm version from ci-yml
  .github/workflows/ci.yml
Due: none
