Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": "npx nx affected -t typecheck --exclude=api-client",
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add max character count to enable character counter
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/public/next-env.d.ts
  libs/formio/src/components/Textarea/Textarea.tsx
  libs/formio/src/components/Textarea/editForm.ts
  libs/formio/src/template/input/input.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Fix tests
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
  libs/formio/src/template/input/input.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Set maxCharCount to null when not used
  libs/formio/src/components/Textarea/editForm.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Fix tests
  apps/public/next-env.d.ts
  libs/formio/src/components/Textarea/Textarea.tsx
  libs/formio/src/template/input/input.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Filter form response by schema
  apps/admin/src/pages/form/utils/filterFormResponse.spec.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
  apps/admin/src/pages/form/utils/uber-json-schema-filter.d.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Use snapshot in test
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.spec.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.spec.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Update mock data, update snapshot
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.spec.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.spec.tsx
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Add max character count (#517)
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
  libs/formio/src/components/Textarea/Textarea.tsx
  libs/formio/src/components/Textarea/editForm.ts
  libs/formio/src/template/input/input.spec.tsx
  libs/formio/src/template/input/input.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Add maxCharCount to mock
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Update snapshot
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.spec.tsx.snap
Due: none

wip
  package-lock.json
  package.json
Due: none

Update packages
  package-lock.json
  package.json
Due: none

admin translations into app
  apps/admin/src/app/providers/i18nProvider.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

PR feedback
  apps/admin/src/app/providers/i18nProvider.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Update packages (#518)
  apps/admin/src/app/providers/i18nProvider.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Use correct return type
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Add file upload mvp
  .lintstagedrc.json
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.spec.tsx
  apps/public/src/app/bijlagen/_components/file-upload.tsx
  apps/public/src/app/bijlagen/page.tsx
  apps/public/tsconfig.json
  package-lock.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

Remove typecheck from linting
  package.json
Due: none

Update styling
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

Add mobile version
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Cleanup code
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Make accessible
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

Add comment
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Filter form builder output by schema (#519)
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.spec.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.spec.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
  apps/admin/src/pages/form/utils/filterFormResponseMocks.ts
  apps/admin/src/pages/form/utils/uber-json-schema-filter.d.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Update minor dependencies
  apps/admin/src/app/providers/i18nProvider.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Update dependencies (#530)
  apps/admin/src/app/providers/i18nProvider.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Cleanup code
  apps/public/src/app/bijlagen/_components/file-upload.spec.tsx
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Remove button and change tests
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.spec.tsx
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

Change variable
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove lock-file
  package-lock.json
Due: none

Add custom renderer
  .lintstagedrc.json
  apps/public/src/app/nieuwe-renderer/page.tsx
  apps/public/src/mocks/mockFormData.json
  libs/form-renderer/.babelrc
  libs/form-renderer/.eslintrc.json
  libs/form-renderer/README.md
  libs/form-renderer/project.json
  libs/form-renderer/src/FormRenderer.spec.ts
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/index.ts
  libs/form-renderer/src/index.ts
  libs/form-renderer/tsconfig.json
  libs/form-renderer/tsconfig.lib.json
  libs/form-renderer/tsconfig.spec.json
  libs/form-renderer/vite.config.ts
  libs/form-renderer/vitest.setup.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client

Add lock-file
  package-lock.json
Due: none

Cleanup code
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client, stylelint --allow-empty-input

reinstall packages
  package-lock.json
Due: none
