Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Fix linting error in SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add form page to back-office
  apps/back-office/.env
  apps/back-office/package.json
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/PrimaryForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/translations/nl.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Handle handoff to melding-form
  apps/back-office/src/app/melden/actions.ts
  apps/melding-form/src/constants.ts
  apps/melding-form/src/proxy.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix issue with empty string as value for conditional.show (#1197)
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/shared.test.ts
  libs/form-builder/src/components/shared.ts
  libs/form-builder/src/components/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add link back to back-office
  apps/melding-form/.env
  apps/melding-form/src/app/(general)/bedankt/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add urgency input
  apps/back-office/src/app/melden/PrimaryForm.tsx
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove pagination param and update genericDataProviedr tests
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change textInput to numberInput
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add max_asset cookie passed as prop test case
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change textInput to numberInput
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix admin test for spinButtons
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Initial setup
  apps/melding-form/.env
  apps/melding-form/next.config.ts
  apps/melding-form/src/app/(back-office)/bo/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(back-office)/bo/bedankt/page.tsx
  apps/melding-form/src/app/(back-office)/bo/bijlage/page.tsx
  apps/melding-form/src/app/(back-office)/bo/contact/page.tsx
  apps/melding-form/src/app/(back-office)/bo/locatie/page.tsx
  apps/melding-form/src/app/(back-office)/bo/samenvatting/page.tsx
  apps/melding-form/src/app/(back-office)/layout.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/constants.ts
  apps/melding-form/src/proxy.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement iframe approach partially
  apps/back-office/.env
  apps/back-office/next.config.ts
  apps/back-office/package.json
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/PrimaryForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melden/shell/page.tsx
  apps/back-office/translations/nl.json
  apps/melding-form/src/app/(back-office)/bo/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(back-office)/bo/bedankt/page.tsx
  apps/melding-form/src/app/(back-office)/bo/bijlage/page.tsx
  apps/melding-form/src/app/(back-office)/bo/contact/page.tsx
  apps/melding-form/src/app/(back-office)/bo/locatie/page.tsx
  apps/melding-form/src/app/(back-office)/bo/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Regenerate API client, use correct endpoint (#1195)
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove console logs
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix row-gap
  apps/back-office/src/app/_components/OverviewMobile.module.css
Due: prettier --check, stylelint --allow-empty-input

Temp
  apps/back-office/package.json
  apps/back-office/src/app/layout.tsx
  apps/melding-form/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use meldingData instead of setting a cookie for max_assets
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove max_assets form cookie constants
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

POC using imports
  apps/back-office/next.config.ts
  apps/back-office/package.json
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/PrimaryForm.tsx
  apps/back-office/src/app/melden/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/bedankt/page.tsx
  apps/back-office/src/app/melden/bijlage/page.tsx
  apps/back-office/src/app/melden/contact/page.tsx
  apps/back-office/src/app/melden/cookie-storing/page.tsx
  apps/back-office/src/app/melden/locatie/kies/page.tsx
  apps/back-office/src/app/melden/locatie/page.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melden/samenvatting/page.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add plural translations for max asset warning
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Removed old translation
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add limit to getList request in admin (#1180)
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Override `overflow-wrap` to fix overflow issues
  apps/back-office/src/app/_components/OverviewMobile.module.css
Due: prettier --check, stylelint --allow-empty-input

Add configure option for max_asset in Asset Types (#1198)
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/constants.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wrap description on small mobile screens (#1196)
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix issue with legacyBehavior prop
  apps/back-office/src/app/_components/utils/overviewFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add default port to start command
  apps/back-office/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace all legacyBehavior props in back-office
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/Pagination.tsx
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/Header.tsx
  apps/back-office/src/app/_components/LinkComponent.test.tsx
  apps/back-office/src/app/_components/LinkComponent.tsx
  apps/back-office/src/app/_components/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix import position
  apps/back-office/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass restProps to BackLink
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify types
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly specify import as type
  apps/back-office/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add urgency to overview and detail page
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update test cases
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.test.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Undo urgency fallback since it cannot be undefined
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix overviewField Tests
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run generate client to update urgency types
  apps/back-office/src/mocks/data.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
