Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Use correct UTC-with-offset datetime in mocks
  apps/back-office/src/mocks/data.ts
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Delete config which updates non-existent copilot-managed block
  .github/workflows/pr-label.yaml
Due: none

Use latest version
  .github/workflows/pr-label.yaml
Due: none

Make const naming more targeted & replace relevant magic strings with it
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/app/_utils/getAssetIconSVG.ts
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add fallback handling for AssetElement icon
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move AssetIcon back to be contained within /locatie/kies
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update workflow
  .github/workflows/docs-pr-review.lock.yml
  .github/workflows/docs-pr-review.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add PR-labels pipeline to project (#1435)
  .github/workflows/pr-label.yaml
Due: none

Allow for custom button classes to handle edgecases
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  libs/file-upload/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add alert type precedence order
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add table of contents
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use submission instead of response
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move exception to sub-bullet
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change back office upload progress label
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add sentence about logging parsing errors
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extract shared `formatDateString` function and use everywhere we format dates (#1442)
  apps/back-office/.env
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/_utils/formatValue.test.ts
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/_utils/formatDateString.ts
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getFormattedDateString.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/env/schema.ts
  apps/back-office/src/mocks/data.ts
  apps/back-office/vitest.setup.ts
  apps/melding-form/.env
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.ts
  apps/melding-form/src/app/bedankt/page.test.tsx
  apps/melding-form/src/app/bedankt/page.tsx
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/vitest.setup.ts
  libs/utils/src/formatDateString.test.ts
  libs/utils/src/formatDateString.ts
  libs/utils/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix image alignment
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor image url find to remove shadowing
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure screen reader anounces change when using previous and next buttons
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show AttachmentPreview loader
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Show attachment owner name instead of filename
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix incorrect eslint warning
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix import
  apps/melding-form/src/app/_components/Footer/Footer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Conform to repo settings by pinning to commit hash instead of version
  .github/workflows/pr-label.yaml
Due: none

Remove warnings after discussion
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Adhere to prettier rules
  .github/workflows/pr-label.yaml
Due: none

Add copilot description to main block
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-label.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ESLint warnings for restricted design-system imports. (#1447)
  apps/melding-form/src/app/_components/Footer/Footer.tsx
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update the GitHub Actions workflow for PR labeling to comply with repository policy (#1448)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-label.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Copilot review instructions
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Test commit to check if instructions work
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.tsx
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/_components/_utils/renderOverviewFieldValue.tsx
  apps/back-office/src/app/kebab-overview.tsx
  apps/back-office/src/app/page.test.tsx
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test breakage
  apps/back-office/src/app/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add content diff line to renamed file for inline-comment test
  apps/back-office/src/app/kebab-overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set correct config values
  .github/workflows/pr-label.yaml
Due: none

Update instructions
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Adjusts the PR-label GitHub Actions workflow configuration so the Copilot section in PR descriptions is placed between the intended headings (#1450)
  .github/workflows/pr-label.yaml
Due: none

Add CoPilot review instructions
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and apply eslint rule that enforces explicit returns
  apps/admin/src/app/Admin.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.tsx
  eslint.config.mjs
  libs/file-upload/src/FileList/FileList.tsx
  libs/file-upload/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests to the branching lofic in AttachmentSection
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
