Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Move use-client directive to component
  libs/ui/src/SubmitButton/SubmitButton.tsx
  libs/ui/src/SubmitButton/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix import aliasing in Vitest
  libs/form-renderer/package.json
  libs/form-renderer/tsconfig.json
  libs/form-renderer/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix CSS modules typescript issues
  libs/form-renderer/typings.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move css modules typing to root
  .gitignore
  libs/form-renderer/tsconfig.json
  libs/form-renderer/typings.d.ts
  typings/cssmodules.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test for FormRenderer
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Extract function, add tests
  apps/public/src/app/aanvullende-vragen/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/app/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/aanvullende-vragen/_components/mergeCheckboxAnswers.test.ts
  apps/public/src/app/aanvullende-vragen/_components/mergeCheckboxAnswers.ts
  libs/form-renderer/src/FormRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/vite.config.ts
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/Home.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove undici
  package.json
  pnpm-lock.yaml
Due: none

Remove undici (#627)
  package.json
  pnpm-lock.yaml
Due: none

Update to 0.57.0
  libs/api-client/src/index.ts
  libs/api-client/src/sdk.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Migrate openapi-ts to 0.58.0
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  libs/api-client/src/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update to 0.59.1
  package.json
  pnpm-lock.yaml
Due: none

Update openapi ts (#628)
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  libs/api-client/src/index.ts
  libs/api-client/src/sdk.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/package.json
  apps/public/src/app/Home.test.tsx
  apps/public/src/app/Home.tsx
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/aanvullende-vragen.test.tsx
  apps/public/src/app/aanvullende-vragen/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/mocks/NextRouterContextProviderMock.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Simplify scripts
  package.json
Due: none

Remove double space
  package.json
Due: none

Simplify scripts (#630)
  package.json
Due: none

Add map layer
  apps/public/package.json
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/mergeCheckboxAnswers.test.ts
  apps/public/src/app/(general)/aanvullende-vragen/_components/mergeCheckboxAnswers.ts
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.module.css
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlagen/page.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(map)/layout.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/getCrsRd.ts
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Log coordinates on click
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Get rid of getCrsRd util
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/getCrsRd.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/(map)/layout.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unused deps, load ADS tokens
  apps/public/package.json
  apps/public/src/app/(map)/layout.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Explicitly load type
  apps/public/src/app/(map)/layout.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add map page (#632)
  apps/public/package.json
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/mergeCheckboxAnswers.test.ts
  apps/public/src/app/(general)/aanvullende-vragen/_components/mergeCheckboxAnswers.ts
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.module.css
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlagen/page.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(map)/layout.test.tsx
  apps/public/src/app/(map)/layout.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Fix vulnerability issues
  package.json
  pnpm-lock.yaml
Due: none

Fix vulnerability issues (#633)
  package.json
  pnpm-lock.yaml
Due: none

Add test
  apps/public/src/app/(general)/bedankt/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename bijlagen to bijlage, flesh out page
  apps/public/src/app/(general)/bijlage/_components/FileUpload.module.css
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/bijlagen/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Extract BackLink component
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  libs/ui/src/BackLink/BackLink.tsx
  libs/ui/src/BackLink/index.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove BackLink from libs/ui
  libs/ui/src/BackLink/BackLink.tsx
  libs/ui/src/BackLink/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lockfile
  pnpm-lock.yaml
Due: none

Add navigation between pages
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/locatie/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update api client
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix next page path
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix link to root
  libs/ui/src/Header/Header.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Wrap searchParams calls in Suspense
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/locatie/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fill out pages, fix flow (#634)
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.module.css
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/bijlagen/page.tsx
  apps/public/src/app/(general)/locatie/page.tsx
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  libs/ui/src/Header/Header.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Path conditions:
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
