Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Don't store refresh token when using Entra due to cookie size limitations (#1075)
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary test-id
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change Map mock
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not import components that use Leaflet on the server (#1081)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Keep margin SideBarTop on smaller screen
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove double margin on assetList
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix issue using position:absolute
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  libs/map/src/Controls/Controls.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary code
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Comment magic number in controls css modules
  libs/map/src/Controls/Controls.module.css
Due: prettier --check, stylelint --allow-empty-input

Update formio/js, fix typo
  libs/form-builder/package.json
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update to latest version
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Import correct icons
  apps/admin/src/global.css
Due: prettier --check, stylelint --allow-empty-input

Restore hideSelectedPoint initial and subsequent flyTo behaviour
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for specific hideSelectedPoint initial load behaviour
  libs/map/src/PointSelectLayer/PointSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation error handling on /Location
  apps/melding-form/src/app/(general)/locatie/Location.module.css
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove @formio/js from Dependabot exclude
  .github/dependabot.yml
Due: none

Regenerate API client
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Regenerate API client
  libs/api-client/src/client.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update snapshot
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
Due: none

Update apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
Due: prettier --check, stylelint --allow-empty-input

poc using grid for overlap instead of position absolute
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  libs/map/src/Controls/Controls.module.css
  libs/map/src/Controls/Controls.tsx
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Allow space for submit button
  libs/map/src/Controls/Controls.module.css
Due: prettier --check, stylelint --allow-empty-input

Position zoom buttons correctly
  libs/map/src/Controls/Controls.module.css
Due: prettier --check, stylelint --allow-empty-input

use padding in wide screens only
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: prettier --check, stylelint --allow-empty-input

Allow all child elements of overlay to be interactive
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  libs/map/src/Controls/Controls.module.css
  libs/map/src/Controls/Controls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Reset margin on wider screens
  libs/map/src/Controls/Controls.module.css
Due: prettier --check, stylelint --allow-empty-input

Cleanup
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  libs/map/src/Controls/Controls.module.css
  libs/map/src/Map/Map.module.css
Due: prettier --check, stylelint --allow-empty-input

Add tests to Map library (#1083)
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/mocks/data.ts
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.test.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  libs/map/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust no-location error
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix focus issue by adding padding to sideBarBottom instead of SideBarTop (#1076)
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Cleanup
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
Due: prettier --check, stylelint --allow-empty-input

Make hasAlert prop optional
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update JSDom, update tests, run tests sequentially to avoid timeouts
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/admin/src/pages/static-form/PrimaryForm.test.tsx
  apps/admin/src/pages/static-form/PrimaryForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update @formio/js to latest version (#1086)
  .github/dependabot.yml
  apps/admin/src/global.css
  libs/form-builder/package.json
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Make required error message fallback configurable
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  libs/map/src/Map/Map.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return bottom padding to SideBar bottom on wide screens
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: prettier --check, stylelint --allow-empty-input

Clean up unused vars
  libs/map/src/Map/Map.module.css
Due: prettier --check, stylelint --allow-empty-input

Update test description
  libs/map/src/Map/Map.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
