Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Forgo all `client` reference as it's redundant
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
  apps/admin/src/env/env.ts
  apps/admin/src/env/schema.ts
  apps/admin/src/env/validateEnv.ts
  apps/admin/vite/plugins/validateEnvPlugin.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary classes
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add assets feature docs
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Write back-office-entry test with integration elements
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add service level objective form props
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/classification-config.ts
  apps/admin/src/pages/classification/classification-hooks.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Dagen
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation and constants
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/classification-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

DRY: Use same set of fields
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Replace deprecated padding-line-between-statements eslint rule by stylistic plugin
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Edit comment on deviation
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Amend File Upload styling (#1465)
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/melding-form/translations/nl.json
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/FileList/FileListMedia.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Enforce formatting rules on js files as well so they are applied on mjs files as well
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move stylistic rules to dedicated section
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change standalone links into normal links to conform to design. Move add-note label as well
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

PoC scoped to BO
  apps/back-office/src/app/api/melding/[meldingId]/attachment/route.test.ts
  apps/back-office/src/app/api/melding/[meldingId]/attachment/route.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reset to current value when user changed value without selecting
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix PR comments
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Simplify state
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove custom on-blur functionality
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add eslint rule to add empty lines between statements (#1476)
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove duplicate note
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix the unit tests
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add env validation to Admin (#1473)
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
  apps/admin/src/env/env.ts
  apps/admin/src/env/schema.ts
  apps/admin/src/env/validateEnv.ts
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  apps/admin/vite/plugins/validateEnvPlugin.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Locally host vendor css instead of relying on the cdn
  apps/admin/src/global.css
  apps/admin/src/styles/vendor/bootstrap-icons.min.css
  apps/admin/src/styles/vendor/bootstrap.min.css
Due: prettier --check, stylelint --allow-empty-input

Add env validation to MF (#1468)
  apps/melding-form/.env
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/_components/BackOfficeLayout/BackOfficeLayout.test.tsx
  apps/melding-form/src/app/_components/BackOfficeLayout/BackOfficeLayout.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/bedankt/page.test.tsx
  apps/melding-form/src/app/bedankt/page.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/env/client.ts
  apps/melding-form/src/env/schema.ts
  apps/melding-form/src/env/server.ts
  apps/melding-form/src/env/validate.ts
  apps/melding-form/src/instrumentation.ts
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

PR comments
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Share the same lookup between call-sites and cleanup
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set correct fallback
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show instructions underneath
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent combobox from floating page
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Prevent upload cta to break line
  libs/file-upload/src/FileUpload/FileUpload.module.css
Due: prettier --check, stylelint --allow-empty-input

Revert to reserve upload item cta space
  libs/file-upload/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Add example
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Balance out reserved space for existing copy
  libs/file-upload/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Clarify asset selection rules
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update button style to use min-inline-size
  libs/file-upload/src/FileUpload/FileUpload.module.css
Due: prettier --check, stylelint --allow-empty-input

Communicate that Address input is required
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix shadowing
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Constraining bootstrap to form-builder only Use dependencies instead of hosting bootstrap version locally
  apps/admin/src/global.css
  apps/admin/src/styles/vendor/bootstrap-icons.min.css
  apps/admin/src/styles/vendor/bootstrap.min.css
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/global.css
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Minor bootstrap version bupm 4.6.0 -> 4.6.2
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check
