Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add change links to Summary (#957)
  apps/melding-form/src/app/(general)/_utils/getMeldingData.test.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingData.ts
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup code
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.module.css
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Show notification when max asset is reached
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.ts
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor setNotification to make it more generic
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test cases
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting errors
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases for notification
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add aria-live to Notification
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary boolean
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Replace FileInput with FileUpload
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
  libs/ui/src/FileInput/FileInput.module.css
  libs/ui/src/FileInput/FileInput.test.tsx
  libs/ui/src/FileInput/FileInput.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add gird gap to asset list container
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
Due: prettier --check, stylelint --allow-empty-input

Use correct labels and descriptions
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add aria-label to input
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct class name
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
Due: prettier --check, stylelint --allow-empty-input

Make notificaiton content configurable
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update ControlsOverlay test
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move getCheckBoxLabel outside component
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use checkboxes in Asset List (#955)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/getContainerFeatureIconSVG.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/getContainerFeatureIconSVG.ts
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary imports
  libs/ui/src/FileUpload/FileUpload.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Properly set up user
  libs/ui/src/FileUpload/FileUpload.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename file-input to file-button in translations
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use RTL method instead of query selector to select inputs
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  libs/ui/src/FileUpload/FileUpload.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate hint text
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting errors
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply feedback
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/types.d.ts
  apps/melding-form/src/types.d.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add File Upload component (#961)
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
  libs/ui/src/FileInput/FileInput.module.css
  libs/ui/src/FileInput/FileInput.test.tsx
  libs/ui/src/FileInput/FileInput.tsx
  libs/ui/src/FileUpload/FileUpload.module.css
  libs/ui/src/FileUpload/FileUpload.test.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Set up basic new file list component
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileList.tsx
  libs/ui/src/FileList/FileListItem.tsx
  libs/ui/src/FileList/formatFileSize.test.ts
  libs/ui/src/FileList/formatFileSize.ts
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix file name word break
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add role=alert and remove unnecessary tabIndex
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add image, clean up CSS, add status
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add translatable labels
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add visually hidden text to delete button
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add error state
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Show notification when max assets are selected (#959)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/hooks/useAssetLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/types.d.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add space between items
  libs/ui/src/FileList/FileList.module.css
Due: prettier --check, stylelint --allow-empty-input

Add separator between rows
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement new design, clean up CSS
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement mobile view
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input
