Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Entra test in admin
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/useAuthProvider.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Next dev types to tsconfig (#1043)
  apps/back-office/tsconfig.json
  apps/melding-form/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove spread from mapExistingFilesToUploads
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add some Entra stuff to Admin
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  apps/admin/src/authConfig.ts
  apps/admin/src/authProvider.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set min width for Attachment thumbnails, align image and button to top
  libs/ui/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Use query instead of fragment
  apps/admin/src/authConfig.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix react-hook-form mock context error
  apps/admin/src/pages/static-form/PrimaryForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Align images in Summary to Grid
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove comment
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove comment about loading state (#1045)
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run generate client and fix runtimeConfigPath
  libs/api-client/src/client.gen.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update hey-api to 0.88.0
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update hey api 0.88.0 (#1046)
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update nextjs to 16.3
  apps/back-office/package.json
  apps/melding-form/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update nextjs to 16.3 (#1053)
  apps/back-office/package.json
  apps/melding-form/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct scopes
  apps/admin/src/app/Admin.tsx
  apps/admin/src/authConfig.ts
  apps/admin/src/authProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix Contact page phone bug
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix jsdom removes last space of prefixed select error message
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Get correct default value for phone input on Contact page (#1054)
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Finetune image sizes on Attachment and Summary pages (#1044)
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
  libs/ui/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix some test warnings
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make timeout test async
  apps/admin/src/pages/static-form/ContactForm.test.tsx
  apps/admin/src/pages/static-form/PrimaryForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add error handling for pending errors while submitting form
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add pending uploading error in general error
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change feature naming to asset to be consistent
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getContainerAssetIcon.module.css
  libs/map/src/MarkerSelectLayer/utils/getContainerAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix linting issues with incorrect Feature import
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getContainerAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add token request scope
  apps/admin/src/authProvider.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update lockfile
  pnpm-lock.yaml
Due: none

Use browser router
  .gitignore
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  apps/admin/src/authConfig.ts
  apps/admin/src/authProvider.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change asset to feature in generic Map component
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update comment
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change naming in icon util function
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getContainerIcon.module.css
  libs/map/src/MarkerSelectLayer/utils/getContainerIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary package
  apps/admin/package.json
  apps/admin/src/app/Admin.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup
  apps/admin/.env
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/authConfig.ts
  apps/admin/src/authProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup and use env vars
  apps/admin/.env
  apps/admin/src/app/providers/entraDataProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use barrel file
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use generic data provider
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
  apps/admin/src/app/providers/index.ts
  apps/admin/src/app/providers/useAuthProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prefill selected assets and zoom to melding coordinates
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup selectLocation
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add separate keycloak auth and data providers
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/index.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
  apps/admin/src/app/providers/useAuthProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
