Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Remove ESLint config for *.spec.* files
  .eslintrc.json
Due: none

Cleaup code
  apps/admin/.eslintrc.json
  apps/admin/tsconfig.json
  apps/admin/tsconfig.vite.json
Due: none

Disable no-default-export for vite.config.ts
  .eslintrc.json
  apps/public/.eslintrc.json
  libs/form-renderer/.eslintrc.json
  libs/form-renderer/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix disabling no-default-export in root config
  .eslintrc.json
  apps/admin/.eslintrc.json
  apps/public/.eslintrc.json
  libs/form-renderer/.eslintrc.json
Due: none

Fix linting errors
  .eslintrc.json
  apps/public/.eslintrc.json
Due: none

Add zoom controls
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Fix styling
  apps/public/src/app/(map)/locatie/kies/_components/ListBox/ListBox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Set value from autosuggest
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add cursor pointer
  apps/public/src/app/(map)/locatie/kies/_components/ListBox/ListBox.module.css
Due: prettier --check, stylelint --allow-empty-input

Refactor BaseLayer and use Controls component
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.tsx
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add test case Controls.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use PDOK api
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Only show listbox on > 3 chars
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Debounce pdok fetch
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix linting errors
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move ListBox to UI lib
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/src/ListBox/ListBoxOption.tsx
  libs/ui/src/ListBox/index.ts
  libs/ui/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add some tests
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

PR feedback
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move all API mocks to single file (#670)
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/node.ts
  apps/public/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add rest of tests
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Forward ref on list box component
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/src/ListBox/ListBoxOption.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add margin to end of list
  libs/ui/src/ListBox/ListBox.module.css
Due: prettier --check, stylelint --allow-empty-input

PR feedback
  .eslintrc.json
  apps/admin/tsconfig.json
  apps/public/tsconfig.json
  docs/0006-monorepo-tooling.md
  libs/api-client/tsconfig.json
  libs/form-builder/tsconfig.json
  libs/form-renderer/tsconfig.json
  libs/ui/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: markdownlint, prettier --check

Update api client
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update openapi-ts
  package.json
  pnpm-lock.yaml
Due: none

Fix comments formatting
  libs/ui/src/ListBox/ListBox.module.css
Due: prettier --check, stylelint --allow-empty-input

Specify type
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Show 10 items in autosuggest instead of 5
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

PR feedback
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Controls/Controls.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map-rename.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Rename Map.module.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix typo
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove .only in test suite
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set covarage back to enabled
  apps/admin/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Uninstall NX and remove related packages and files (#672)
  .eslintrc.json
  .gitignore
  .prettierignore
  apps/admin/tsconfig.json
  apps/public/tsconfig.json
  docs/0006-monorepo-tooling.md
  jest.config.ts
  jest.preset.js
  libs/api-client/tsconfig.json
  libs/form-builder/tsconfig.json
  libs/form-renderer/tsconfig.json
  libs/ui/tsconfig.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move AddressComboBox to separate component
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add assistive hint for screenreaders
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix test
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add translations
  apps/admin/src/app/providers/i18nProvider.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set covarage back to enabled
  apps/public/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Path conditions:
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
