Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use correct span
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert unnecessary changes to Detail page
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run generate client
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  libs/api-client/src/index.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change endpoint name in tests
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run generate client (#1137)
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/api-client/src/index.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add 'submitted' to STATES constant
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests, add submit state mock
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Style Back Office shared layout and Change State page (#1136)
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/Header.test.tsx
  apps/back-office/src/app/_components/Header.tsx
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/translations/nl.json
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix spacing
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only show possible states on Change State page in Back office (#1133)
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/constants.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/utils.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update globals to 17.3.0
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix CSS import order issue
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.tsx
  apps/melding-form/src/app/global.css
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

try to set this in dockerfile
  Dockerfile
Due: none

see if we even reach this
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix CSS import order issue (#1138)
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.tsx
  apps/melding-form/src/app/global.css
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add error handling delete attachment
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change cancel button text on Change State page
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change cancel link text on Change State page (#1145)
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set correct env vars for tests
  apps/back-office/vite.config.ts
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/vite.config.ts
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw error if necessary env var is not set
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set env vars in admin as well
  apps/admin/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check for Vite app in runtime config
  apps/admin/vite.config.ts
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set public backend base url in Back office as well
  Dockerfile
Due: none

Add TypeScript expect error description
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use ts-ignore instead of ts-expect-error
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show error when uploading returns an error
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate validation error message from backend
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add translation for wrong filetype
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test cases
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove obsolete systemError
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change heading to title in errors
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update max file size validation error test case
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make generic error title unique
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add custom time component to formbuilder
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Time/Time.tsx
  libs/form-builder/src/components/Time/editForm.ts
  libs/form-builder/src/components/index.ts
  libs/form-builder/src/templates/index.ts
  libs/form-builder/src/templates/time.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Time component to filterFormResponse schema
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Finish moving API client config to apps
  Dockerfile
  apps/back-office/.env
  apps/back-office/src/apiClientProxy.ts
  apps/back-office/vite.config.ts
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  libs/api-client/runtime-config.ts
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/auth.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/core/pathSerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  openapi-ts.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/vite.config.ts
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw an error if NEXT_PUBLIC_BACKEND_BASE_URL is not set
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove obsolete code
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Time/Time.tsx
  libs/form-builder/src/components/Time/time.css
  libs/form-builder/src/templates/index.ts
  libs/form-builder/src/templates/time.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update filterFormResponse test
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
