Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add TimeInput case to formRenderer test
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/mocks/data.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add isTimeInput test case to utils test
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change folder name Time to TimeInput
  libs/form-renderer/src/components/TimeInput/TimeInput.module.css
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Adjust import
  libs/form-renderer/src/components/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply suggestion from @Copilot
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply copilot suggestions
  libs/form-renderer/src/utils.test.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting error
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

fix prettier
  apps/admin/public/robots.txt
  apps/back-office/middleware.ts
  apps/back-office/public/robots.txt
  apps/melding-form/public/robots.txt
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

put middleware in src
  apps/back-office/src/middleware.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

use proxy instead of middleware
  apps/back-office/src/middleware.ts
  apps/back-office/src/proxy.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

remove typo
  apps/admin/public/robots.txt
Due: none

Fix import
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply suggestion from @Copilot
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add mock date to setDateComponentOptions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add mock date to page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Small refactor of page in use of panelComponents
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change util name to getDateBodyAnswer
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add guidelines for AI coding agents (#1134)
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add GitHub copilot check to PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change place copilot checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add GitHub copilot check to PR Template (#1166)
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add docs
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor use of types
  libs/form-renderer/src/types.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add some test cases
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only allow panel title to be changed
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Panel/Panel.tsx
  libs/form-builder/src/components/Panel/editForm.test.ts
  libs/form-builder/src/components/Panel/editForm.ts
  libs/form-builder/src/components/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change panelLabel to use panelTitle
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test cases
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  libs/form-builder/src/components/Panel/editForm.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update formRenderer test
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/mocks/data.ts
  libs/form-renderer/src/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change function name
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
