Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Revert ESLint rule limiting source file lines to 150 (#1501)
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Stop animation on mouse move and drag
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct semantics on ErrorPage
  apps/back-office/src/app/_components/ErrorPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Keep error message internal
  apps/back-office/src/app/_components/ErrorPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move "error" page translations to it's own grouping
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move ErrorPage component - Update translation labels
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.module.css
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.test.tsx
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.tsx
  apps/back-office/src/app/error.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove redundant import
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct test description
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add preliminary logging in error.tsx as placeholder for error logging
  apps/back-office/src/app/error.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Ignore a second finger, but allow pinch zoom
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Revert jsdom to 30.0.1
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Correct ErrorPage test
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add smore tests for BO error.tsx
  apps/back-office/src/app/error.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cover heading parsing and missing raw fallback
  apps/back-office/src/app/_utils/richTextExtensions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test description
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Keep the address in sync with the selected coordinates (#1487)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.ts
  apps/melding-form/vitest.setup.ts
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent decimal numbers
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add integer validation
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/helpers/integerValue.test.ts
  apps/admin/src/helpers/integerValue.ts
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused prop - Revert heading size amend
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.test.tsx
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.tsx
  apps/back-office/src/app/error.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test with actual ErrorPage instead of mocked
  apps/back-office/src/app/error.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add rule to disallow unused props
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Next.js error.tsx for BO (#1495)
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.module.css
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.test.tsx
  apps/back-office/src/app/_components/ErrorPage/ErrorPage.tsx
  apps/back-office/src/app/error.test.tsx
  apps/back-office/src/app/error.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/translations/nl.json
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Do not provide a default for days
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting unused props
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create page-wrapper component
  apps/back-office/src/app/melding/[meldingId]/_components/PageWrapper.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/PageWrapper.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement page-wrapper component and cleanup bestand-verwijderen
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/Attachments.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/PageWrapper.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/PageWrapper.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_context/RemoveAttachmentErrorContext.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Rename validator
  apps/admin/src/helpers/isInteger.test.ts
  apps/admin/src/helpers/isInteger.ts
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw errors on overview page, instead of returning error message text
  apps/back-office/src/app/page.test.tsx
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement page-wrapper
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/PageWrapper.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/PageWrapper.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set correct key names
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove redundant test step
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make fetching attachment data throw as well
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/types.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw error when fetching additional questions
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make asset fetch throw an error as well
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw an error when failing to fetch notes
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add rule to disallow unused props (#1503)
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused prop
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused props
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
