Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Show validation errors on AdditionalQuestions pages (#899)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/translations/nl.json
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/utils.ts
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.module.css
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.test.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.tsx
  libs/ui/src/InvalidFormAlert/index.ts
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add missing translation
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update API client
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update @hey-api/openapi-ts
  libs/api-client/src/client/client.ts
  libs/api-client/src/core/params.ts
  libs/api-client/src/core/types.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Bump @hey-api/openapi-ts from 0.78.2 to 0.80.2, regenerate API client (#901)
  libs/api-client/src/client/client.ts
  libs/api-client/src/core/params.ts
  libs/api-client/src/core/types.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update vite to 7.0.6
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update vite to 7.0.6 (#902)
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use Next Form component everywhere
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  libs/form-renderer/package.json
  libs/form-renderer/src/FormRenderer.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract shared type
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use Next Form component everywhere and disable HTML5 validation (#904)
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  libs/form-renderer/package.json
  libs/form-renderer/src/FormRenderer.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation pattern to Home
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation pattern to primary form
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reset :invalid styling for ADS TextInput
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/ui/src/TextInput/TextInput.module.css
  libs/ui/src/TextInput/TextInput.tsx
  libs/ui/src/TextInput/index.ts
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Extract recurring logic in hooks, fix test
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.ts
  apps/melding-form/src/app/(general)/_utils/useUpdateDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  libs/ui/src/TextInput/TextInput.test.tsx
  libs/ui/src/TextInput/TextInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add error messages to Contact page
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/handleApiError.ts
  libs/ui/src/TextInput/TextInput.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add Error Message to Home
  apps/melding-form/src/app/(general)/Home.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename hook
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/useGetDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for hook
  apps/melding-form/src/app/(general)/_utils/useGetDocumentTitleOnError.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.test.ts
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test
  apps/melding-form/src/app/(general)/cookie-storing/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convert hook to regular function
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/_utils/useGetDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/useGetDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename test descriptions
  apps/melding-form/src/app/(general)/Home.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary accolades
  apps/melding-form/src/app/(general)/contact/Contact.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use clsx for conditional classnames
  libs/ui/src/TextInput/TextInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation pattern to Home and Contact (#905)
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.test.ts
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/cookie-storing/page.test.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/handleApiError.ts
  apps/melding-form/src/types.d.ts
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/ui/src/TextInput/TextInput.module.css
  libs/ui/src/TextInput/TextInput.test.tsx
  libs/ui/src/TextInput/TextInput.tsx
  libs/ui/src/TextInput/index.ts
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add max char count and error message Primary form to Admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/static-form/ContactForm.tsx
  apps/admin/src/pages/static-form/PrimaryForm.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show generic error page on error on page load for Summary
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use consistent error messages
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add generic system error alert
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/types.d.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

comment out build args altogether
  Dockerfile
  docker-compose.yml
Due: none

adds todo comment
  docker-compose.yml
Due: none

add args dynamically in docker compose
  docker-compose.yml
Due: none

remove build args
  Dockerfile
  docker-compose.yml
Due: none

set build args to env variables
  Dockerfile
Due: none

use hardcoded basepath for testing
  apps/back-office/.env
  apps/back-office/next.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

adds base path
  apps/back-office/.env
  apps/back-office/next.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Feat/deploy backoffice (#906)
  Dockerfile
  apps/back-office/.env
  apps/back-office/next.config.ts
  docker-compose.yml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix error in JSONLogic
  apps/admin/src/pages/static-form/PrimaryForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/admin/src/pages/static-form/ContactForm.test.tsx
  apps/admin/src/pages/static-form/ContactForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
