Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Run prettier
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Import type as type
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prefill primary form text area
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prefill urgency as well
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing tests
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Classify Melding on blur
  apps/back-office/.env
  apps/back-office/src/app/ApiClientInitializer.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check for existence of token
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Construct action in MeldingForm
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Log errors instead of silently swallowing them
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix and add tests
  apps/back-office/src/app/ApiClientInitializer.test.tsx
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename variable and prop to existingMelding
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary default prop
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check if prefetched melding data is valid before using it
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass env vars in Dockerfile
  Dockerfile
Due: none

Fix linting issues
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Query hidden input just before assertion
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do a PATCH in the server action, even if prefetched melding data exists
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reorded tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract shared type
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update README
  docs/decisions/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add first three ADRs
  docs/0001-libraries-and-frameworks.md
  docs/0002-type-safety.md
  docs/decisions/0001-use-next-js-as-front-end-framework.md
  docs/decisions/0002-use-typescript-for-type-safety.md
  docs/decisions/XXXX-use-vite-for-admin-application.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Spell reason for decision in title our more clearly
  docs/decisions/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct date format
  docs/decisions/XXXX-use-vite-for-admin-application.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove references to old docs
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct date format
  docs/decisions/0001-use-next-js-as-front-end-framework.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct date format
  docs/decisions/0002-use-typescript-for-type-safety.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add source to first page in Back Office melding flow
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/translations/nl.json
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly check if sources exist
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate hardcoded error message
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and add tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract repeated form data in test
  apps/back-office/src/app/melden/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract and reuse sources definition
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Define that source is a required field
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw separate error when sources list is empty
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert update to react-router-dom
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update API client package
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Regenerate API client
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
