Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add keyboard focus function
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix TypeScript issue
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add roving tabindex
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add toolbar styling
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.module.css
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add styling to editor
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add classes to text blocks
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add invalid state
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Pass value from form action to editor
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix CSS issues
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Check for current user when fetching notes
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fetch notes and user info in parallel, simplify note selection
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow adding note in Medewerker Meldflow (#1347)
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/LabelsField/LabelsField.test.tsx
  apps/back-office/src/app/melden/_components/LabelsField/LabelsField.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.tsx
  apps/back-office/src/app/melden/_components/index.ts
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add loading state
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify test setup
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify mock
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate toolbar labels
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct size for loading placeholder
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove TS artifact
  apps/back-office/tsconfig.tsbuildinfo
Due: none

Remove unnecessary CSS
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
Due: prettier --check, stylelint --allow-empty-input

Add correct character count on both client and server
  apps/back-office/package.json
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_components/RichTextEditor/extensions.ts
  apps/back-office/src/app/_utils/parseNoteDocument.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove TypeScript artifact
  apps/back-office/tsconfig.tsbuildinfo
Due: none

Parse and count characters correctly
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_utils/parseNoteDocument.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/_utils/parseNoteDocument.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reuse rich text extensions config
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extend test
  apps/back-office/src/app/_utils/parseNoteDocument.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure undo function is not called when it is disabled
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Communicate that it is a multiline input
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Store defaultValue when loading to prevent race condition
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_utils/parseNoteDocument.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move shared config to utils folder, instead of importing from components folder
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
  apps/back-office/src/app/_utils/parseNoteDocument.ts
  apps/back-office/src/app/_utils/richTextExtensions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Tab Navigation to Detail page
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/translations/nl.json
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set up notes overview page
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use Next Link component
  apps/back-office/src/app/_components/NextLink.tsx
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add 'add note' link
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove double import
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename local state to align naming in other places
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary export
  apps/back-office/src/app/_utils/parseNoteDocument.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests for markdownToJSON
  apps/back-office/src/app/_utils/parseNoteDocument.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add rich text editor to add note page (#1349)
  apps/back-office/package.json
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.module.css
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.module.css
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/_utils/parseNoteDocument.test.ts
  apps/back-office/src/app/_utils/parseNoteDocument.ts
  apps/back-office/src/app/_utils/richTextExtensions.ts
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/src/constants.ts
  apps/back-office/translations/nl.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
