Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Remove unnecessary error handling
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Translate page components to English (#736)
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bedankt/Thanks.test.tsx
  apps/public/src/app/(general)/bedankt/Thanks.tsx
  apps/public/src/app/(general)/bedankt/page.test.tsx
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/locatie/Location.test.tsx
  apps/public/src/app/(general)/locatie/Location.tsx
  apps/public/src/app/(general)/locatie/page.test.tsx
  apps/public/src/app/(general)/locatie/page.tsx
  apps/public/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/public/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

PR feedback
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change errorMessage to boolean
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Markdown to HTML renderer
  libs/markdown-to-html/.eslintrc.json
  libs/markdown-to-html/README.md
  libs/markdown-to-html/package.json
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  libs/markdown-to-html/src/index.ts
  libs/markdown-to-html/tsconfig.json
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Reset form on error
  apps/public/src/app/(general)/bijlage/Attachments.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add static forms to Admin (#731)
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Init back office application
  apps/back-office/.eslintrc.json
  apps/back-office/.lintstagedrc.json
  apps/back-office/next-env.d.ts
  apps/back-office/next.config.ts
  apps/back-office/package.json
  apps/back-office/public/favicon.ico
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/overzicht/page.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/src/mocks/node.ts
  apps/back-office/tsconfig.json
  apps/back-office/vite.config.ts
  apps/back-office/vitest.setup.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add ReadMe
  README.md
  apps/admin/README.md
  apps/back-office/README.md
  docs/0001-libraries-and-frameworks.md
  docs/0006-monorepo-tooling.md
  docs/0007-forms.md
  docs/README.md
  package.json
Due: markdownlint, prettier --check

Regenerate lock-file
  pnpm-lock.yaml
Due: none

Set port to 3002
  apps/back-office/package.json
Due: none

Set test case and fix build
  apps/back-office/src/app/overzicht/Overview.test.tsx
  apps/back-office/src/app/overzicht/Overview.tsx
  apps/back-office/src/app/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Enable form flow without classification (#730)
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add mapping
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  libs/markdown-to-html/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Support both internal and external links
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add list styling, add space between components
  apps/public/src/app/global.css
  libs/markdown-to-html/src/MarkdownToHtml.module.css
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  libs/markdown-to-html/tsconfig.json
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Replace children in lists instead of recreating CSS
  libs/markdown-to-html/README.md
  libs/markdown-to-html/src/MarkdownToHtml.module.css
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  libs/markdown-to-html/.eslintignore
  libs/markdown-to-html/package.json
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/markdown-to-html/vite.config.ts
  libs/markdown-to-html/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update description
  libs/markdown-to-html/package.json
Due: none

Do not allow multiline descriptions
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Markdown renderer (#740)
  apps/public/src/app/global.css
  libs/markdown-to-html/.eslintignore
  libs/markdown-to-html/.eslintrc.json
  libs/markdown-to-html/README.md
  libs/markdown-to-html/package.json
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  libs/markdown-to-html/src/index.ts
  libs/markdown-to-html/tsconfig.json
  libs/markdown-to-html/vite.config.ts
  libs/markdown-to-html/vitest.setup.ts
  pnpm-lock.yaml
  tsconfig.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Do not allow multiline descriptions (#741)
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Get contact texts from BE
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unnecessary abstraction
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Revert changes to FormRenderer
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Revert api client type import changes
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/contact/Contact.test.tsx
  apps/public/src/app/(general)/contact/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix build
  apps/public/src/app/(general)/contact/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/layout.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/back-office/src/app/page.tsx
  apps/back-office/src/app/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update docs/0001-libraries-and-frameworks.md
  docs/0001-libraries-and-frameworks.md
Due: markdownlint, prettier --check

Set Overzicht as the root
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test case for action
  apps/public/src/app/(general)/bijlage/actions.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Back Office application (#737)
  README.md
  apps/admin/README.md
  apps/back-office/.eslintrc.json
  apps/back-office/.lintstagedrc.json
  apps/back-office/README.md
  apps/back-office/next-env.d.ts
  apps/back-office/next.config.ts
  apps/back-office/package.json
  apps/back-office/public/favicon.ico
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/src/mocks/node.ts
  apps/back-office/tsconfig.json
  apps/back-office/vite.config.ts
  apps/back-office/vitest.setup.ts
  docs/0001-libraries-and-frameworks.md
  docs/0006-monorepo-tooling.md
  docs/0007-forms.md
  docs/README.md
  package.json
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add and implement next-intl
  apps/public/.eslintrc.json
  apps/public/i18n/request.ts
  apps/public/next.config.ts
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.tsx
  apps/public/src/app/(general)/bedankt/Thanks.tsx
  apps/public/src/app/(general)/locatie/Location.tsx
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/layout.tsx
  apps/public/translations/nl.json
  libs/form-renderer/src/FormRenderer.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add SelectLocation texts
  apps/public/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/translations/nl.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Show heading one size smaller
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit
