Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Clean up test files
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update jsdom to 27.0
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix test issues with jsom and space in span element
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up tests
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary api mock
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow classification to not have additional questions on Summary page (#976)
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not use harcoded address for back end
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test, lower code coverage threshold
  libs/ui/src/FileUpload/FileUpload.test.tsx
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clarify test description
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add props to AdminContext
  apps/admin/src/pages/static-form/ContactForm.test.tsx
  apps/admin/src/pages/static-form/PrimaryForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Recreate lock-file
  pnpm-lock.yaml
Due: none

Safely parse JSON, add tests
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not upgrade @formio/js since it break the forbuilder
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove @formio/js from dependabot auto update
  .github/dependabot.yml
Due: none

Remove obsolete ResizeObserver mock
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass ref as prop
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert changes to test coverage threshold
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix type, rename test
  libs/ui/src/FileUpload/FileUpload.test.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change default state
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract mock to top of file
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change onChange function names
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Undo @formio/js update and add the package to dependabot exclude pattern
  .github/dependabot.yml
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use same pattern for mocking as we do elsewhere
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix codestyle issues
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clear coordinates when input is empty to remove marker (#975)
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove TODO comment
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Track upload status and return error messages per file (#979)
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  libs/ui/src/FileUpload/FileUpload.test.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show error summary, also notify screen readers of successful and deleted files
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/translations/nl.json
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show Alert when JS is not enabled
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/Page/Page.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Translate no JS Alert
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  libs/ui/src/Page/Page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Save assets on /kies submit
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Communicate upload errors to users properly, show Alert when JavaScript is not enabled (#982)
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/translations/nl.json
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
  libs/ui/src/Page/Page.test.tsx
  libs/ui/src/Page/Page.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Spiderfy assets
  apps/melding-form/package.json
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Style cluster marker
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/cluster.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input
