Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

add assetTypeId early return and test cases
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add environment variables to Docker file
  Dockerfile
Due: none

Update comments
  Dockerfile
Due: none

Refactor /location page to fetch assetTypeId instead of cookie
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add environment variables to Docker file (#1264)
  Dockerfile
Due: none

Refactor /kies page to use assetTypeId form data instead of cookie
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Get assetTypeId and typeNames from back end
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not use cookies for typeNames
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix and add tests
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused MSW handlers
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move check outside of loop
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update vite and vitest (#1259)
  apps/admin/package.json
  apps/admin/vite.config.ts
  apps/back-office/vite.config.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/vite.config.ts
  libs/form-builder/vite.config.ts
  libs/form-renderer/vite.config.ts
  libs/map/vite.config.ts
  libs/markdown-to-html/vite.config.ts
  libs/ui/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make assetTypeId and typeNames dynamic on Location Page (#1257)
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set API client base url in instrumentation.ts
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix typo
  apps/melding-form/src/app/ApiClientInitializer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test
  apps/melding-form/src/instrumentation.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/_components/Image/Image.test.tsx
  apps/melding-form/src/app/_components/Image/Image.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor Image to AssetIcon
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/app/_components/Image/Image.test.tsx
  apps/melding-form/src/app/_components/Image/Image.tsx
  apps/melding-form/src/app/utils/getAssetIconSVG.ts
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

moves getAssetIconSVG to AssetIcon component
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/app/utils/getAssetIconSVG.test.ts
  apps/melding-form/src/app/utils/getAssetIconSVG.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

import leaflet icons directly from Leaflet
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

move cluster icon to generic map
  apps/melding-form/public/cluster.svg
  libs/map/src/MarkerSelectLayer/cluster.css
Due: prettier --check, stylelint --allow-empty-input

refactor asset type input tests
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set API client base url in instrumentation.ts (#1266)
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/instrumentation.test.ts
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Set API client base url in instrumentation.ts (#1266)"
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/instrumentation.test.ts
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Set API client base url in instrumentation.ts" (#1267)
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/instrumentation.test.ts
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set base URL in route handler itself
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set base URL in route handler itself (#1268)
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct origin for Back Office landing zone
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use env var to set correct origin for Back Office landing zone
  apps/melding-form/.env
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify assertion
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use a falsy check
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add env vars to Docker file
  Dockerfile
Due: none

Use env var to set correct origin for Back Office landing zone (#1270)
  Dockerfile
  apps/melding-form/.env
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test do not merge
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Only run automatic pipeline on main and tags
  azure-pipelines.yml
Due: none

Only run automatic pipeline on main and tags (#1271)
  azure-pipelines.yml
Due: none

Sort tsconfig files
  apps/admin/tsconfig.json
  apps/back-office/tsconfig.json
  apps/melding-form/tsconfig.json
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
