Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix tests
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make asset labels dynamic in melding-form (#1418)
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.module.css
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
  apps/melding-form/src/app/(general)/_utils/formatAssetItem.test.ts
  apps/melding-form/src/app/(general)/_utils/formatAssetItem.ts
  apps/melding-form/src/app/(general)/_utils/getAssetLabelText.test.ts
  apps/melding-form/src/app/(general)/_utils/getAssetLabelText.ts
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.test.ts
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingAssets.test.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingAssets.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingData.test.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingData.ts
  apps/melding-form/src/app/(general)/_utils/index.ts
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/_utils/index.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

file-upload: css correction and more explicit ButtonProp definition
  libs/file-upload/src/FileList/FileListImage.module.css
  libs/file-upload/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use grid areas instead of position absolute
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix memory leak
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix overlay issue
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: prettier --check, stylelint --allow-empty-input

7502 Remove attachments rework (#1427)
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getFormattedDateString.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/PageWrapper.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/translations/nl.json
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix comments
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary CSS rule
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix test
  libs/map/src/Map/Map.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix Map bugs when toggling visibility or showing a notification (#1429)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.module.css
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Make space underneath Heading smaller
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Handle pdf uploads
  libs/file-upload/src/FileList/FileListImage.module.css
  libs/file-upload/src/FileList/FileListImage.tsx
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/FileList/FileListMedia.module.css
  libs/file-upload/src/FileList/FileListMedia.test.tsx
  libs/file-upload/src/FileList/FileListMedia.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Better imports and naming
  libs/file-upload/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Align images to top, and left when buttons are not shown
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
Due: prettier --check, stylelint --allow-empty-input

Add test for new branching condition
  libs/file-upload/src/FileList/FileListMedia.test.tsx
  libs/file-upload/src/FileList/FileListMedia.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct spacing in Summary assets block
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct spacing in Summary assets block (#1433)
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add PR-labels pipeline to project
  .github/workflows/pr-label.yaml
Due: none

Copilot comments
  .github/workflows/pr-label.yaml
Due: none

Fix styling
  .github/workflows/pr-label.yaml
Due: none

Log `/locatie/kies` errors (#1425)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix import
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Align Asset icon to top
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix alignment on Location and Summary pages as well
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.module.css
Due: prettier --check, stylelint --allow-empty-input

Revert erroneous removal of styling
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
Due: prettier --check, stylelint --allow-empty-input

Show dynamic asset labels in Back Office
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Photos page styling (#1432)
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Align asset icon to top (#1436)
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
Due: prettier --check, stylelint --allow-empty-input

Show dynamic asset labels in Back Office (#1437)
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Construct asset path dynamically
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  apps/melding-form/src/app/_utils/getAssetIconSVG.test.ts
  apps/melding-form/src/app/_utils/getAssetIconSVG.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting errors
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/docs-pr-review.lock.yml
  .github/workflows/docs-pr-review.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Explicitly specify model
  .github/workflows/docs-pr-review.lock.yml
  .github/workflows/docs-pr-review.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move formatDateString to utils package, use on bedankt page
  apps/back-office/src/app/_utils/formatDateString.ts
  apps/melding-form/src/app/bedankt/page.test.tsx
  apps/melding-form/src/app/bedankt/page.tsx
  libs/utils/src/formatDateString.test.ts
  libs/utils/src/formatDateString.ts
  libs/utils/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use formatDateString everywhere
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/_utils/formatValue.test.ts
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getFormattedDateString.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  libs/utils/src/formatDateString.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove superfluous env vars
  apps/back-office/.env
  apps/back-office/src/env/schema.ts
  apps/back-office/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use timezone for date component
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.ts
  libs/utils/src/formatDateString.ts
  libs/utils/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove superfluous env vars
  apps/melding-form/.env
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
