Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update the cluster svg style (#1462)
  apps/melding-form/public/cluster.svg
Due: none

Use correct gate
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add support for map's cluster markers active state (#1464)
  apps/melding-form/public/cluster-active.svg
  libs/map/src/MarkerSelectLayer/cluster.css
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Set pdf item aspect ratio
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
Due: prettier --check, stylelint --allow-empty-input

Prevent button label slot from wrapping
  libs/file-upload/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove excessive spacing
  libs/file-upload/src/FileList/FileListMedia.module.css
Due: prettier --check, stylelint --allow-empty-input

Improve naming - remove redundant property
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/FileList/FileListMedia.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Enable BO auth env variables validation - This was previously disabled because the pipeline had a misconfiguration to sort out first
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Enable BO auth env variables validation (#1466)
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary effect
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Amend cluster assets and sizes
  apps/melding-form/public/cluster-active.svg
  apps/melding-form/public/cluster.svg
  libs/map/src/MarkerSelectLayer/cluster.css
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Correct createClusterIcon test assertion
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add env variables validation to MF application
  apps/melding-form/src/env/client.ts
  apps/melding-form/src/env/schema.ts
  apps/melding-form/src/env/server.ts
  apps/melding-form/src/env/validate.ts
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reorder env vars - grouping server / client envs
  apps/melding-form/.env
Due: none

Apply server/client Env configs
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/_components/BackOfficeLayout/BackOfficeLayout.tsx
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply env approach across the codebase - update tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/_components/BackOfficeLayout/BackOfficeLayout.test.tsx
  apps/melding-form/src/app/bedankt/page.test.tsx
  apps/melding-form/src/app/bedankt/page.tsx
  apps/melding-form/src/env/validate.ts
  apps/melding-form/src/instrumentation.ts
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove redundant env checks The validation catches this now
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused stub
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct reference
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct vite default stub
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use ADS component for gaps
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove dangling code
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Amend cluster assets and sizes (#1467)
  apps/melding-form/public/cluster-active.svg
  apps/melding-form/public/cluster.svg
  libs/map/src/MarkerSelectLayer/cluster.css
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Create action to change category
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add link to change category to melding detail
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update aria-describedby for TextArea component
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix props
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create change-category page
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update melding-page to pass prop to determine if change-category link should show
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adhere eslint rule
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Parse categoryId to ensure it is an integer
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create change-category client component
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Create util which checks if reclassification is allowed
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add translations for the change-category page
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix default value and key handling in ChangeCategory
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify form field name
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use translation key
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix remaining tests
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused packages
  apps/back-office/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check
