Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Initial setup
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use controlled component paradigm in Home and AdditionalQuestions
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/tsconfig.tsbuildinfo
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/types.ts
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add mobile view of overview for wide breakpoint
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/OverviewDesktop.tsx
  apps/back-office/src/app/OverviewMobile.tsx
  apps/back-office/src/app/overviewFields.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add data to mobile view
  apps/back-office/src/app/OverviewMobile.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Date component to renderer (#1158)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add minor styling to mobile view
  apps/back-office/src/app/OverviewMobile.module.css
  apps/back-office/src/app/OverviewMobile.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update libs/form-renderer/src/types.ts
  libs/form-renderer/src/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove defaultValue remnants
  AGENTS.md
  apps/melding-form/src/app/(general)/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

remove sitemap from public paths
  apps/back-office/src/proxy.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Exclude V2 from crawlers by adding robots.txt files (#1160)
  apps/admin/public/robots.txt
  apps/back-office/public/robots.txt
  apps/back-office/src/proxy.ts
  apps/melding-form/public/robots.txt
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Initial setup
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Checkbox
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add TextArea, refactor
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use CSS to hide component
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Clarify docs
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add another alias
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Time component to Form Renderer (#1153)
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.module.css
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
  libs/form-renderer/src/components/index.ts
  libs/form-renderer/src/mocks/data.ts
  libs/form-renderer/src/types.ts
  libs/form-renderer/src/utils.test.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Reorganize code
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.tsx
  apps/back-office/src/app/_components/utils/overviewFields.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Use CSS to hide component"
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove isMounted logic
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow showing and hiding pages with conditionals (#1159)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add docs
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Take into account conditional required questions
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests to Form Renderer
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update comment
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add comment
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update AGENTS.md
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Also check previously given answers
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/types.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clarify test case
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix lint issue
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove type casting
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix flasing render issue due to useIsAfterBreakpoint being slow
  apps/back-office/src/app/Overview.module.css
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/Overview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix linting error
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change panelLabel to panelTitle
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust edit panel for pages/panels in Admin (#1167)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Panel/Panel.tsx
  libs/form-builder/src/components/Panel/editForm.test.ts
  libs/form-builder/src/components/Panel/editForm.ts
  libs/form-builder/src/components/index.ts
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/mocks/data.ts
  libs/form-renderer/src/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/utils/overviewFields.ts
  apps/back-office/src/app/_components/utils/overviewFields.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
