Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Use correct path
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix line about API client errors
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix line about attachment errors
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set subtype with available mapping Naming to be revisited The only available mapping is currently the Koppelcode (icon entry) set in the Admin
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.ts
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing tests - handle minor corrections
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
  apps/melding-form/src/app/(general)/_utils/formatAssetItem.test.ts
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.test.ts
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve test - explicit guards on subtype
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.test.ts
  apps/melding-form/src/app/(general)/_utils/getAssetSubType.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct spelling
  apps/back-office/src/env/validate.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Back-Office app environment variables validation (#1416)
  apps/back-office/src/app/_api-client/proxy.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/isFilePDF.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getContactData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getContactData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getLocationData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getLocationData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/index.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/env/client.ts
  apps/back-office/src/env/schema.ts
  apps/back-office/src/env/server.ts
  apps/back-office/src/env/validate.ts
  apps/back-office/src/instrumentation.ts
  apps/back-office/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix import
  apps/back-office/src/app/melding/[meldingId]/foto/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Log select location page errors
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add image slider page for viewing attachments in detail (#1417)
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/debounce.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/debounce.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToSlide.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToSlide.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.ts
  apps/back-office/src/app/melding/[meldingId]/foto/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/page.tsx
  apps/back-office/src/app/melding/[meldingId]/types.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use strings instead of raw Errors
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clarify how attachment validation errors work
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove resolved discussion point
  docs/patterns/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused style reference
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add lint rule to prevent bug-prone shadow var names
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add translations
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Create reusable attachment preview component with reusable hook
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  libs/file-upload/src/FileList/FileListImage.tsx
  libs/file-upload/src/FileList/useObjectUrl.ts
  libs/file-upload/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Improve typing
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Disable auth vars validation temporarily
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create page to delete attachments
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Improve function that stitches melding attachments and the attachment file together. Improve error handling
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Disable auth vars validation temporarily on the back office (#1426)
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show api error when deleting attachment fails
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_context/RemoveAttachmentErrorContext.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Automatically redirect to detail page when no attachments are present on the remove page
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix typing and error handling
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Disable all attachments while the deletion request is pending
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Announce on screen-reader when file is deleted
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct description-list markup
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix tests accordingly
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct translation key
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Potential fix for pull request finding
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix import
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPreview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify typing
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use translations for label
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use components from ui lib
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Page.tsx
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify naming
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use more specified prop
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve routing
  apps/back-office/src/app/melding/[meldingId]/bestand-verwijderen/_components/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
