Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update apps/back-office/src/app/_components/utils/overviewFields.ts
  apps/back-office/src/app/_components/utils/overviewFields.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move comment up to correct spot
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename isVisible and isPanelVisible
  AGENTS.md
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/utils.test.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update comment
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary props
  libs/form-renderer/src/FormRenderer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update API client
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Regenerate API client
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update API client config
  openapi-ts.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing fields in mocks
  apps/back-office/src/mocks/data.ts
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix type casting issue
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Regenerate API client (#1173)
  apps/back-office/src/mocks/data.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.test.ts
  apps/melding-form/src/mocks/data.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix security issues
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix security issues (#1174)
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Implement PR feedback
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/Overview.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.tsx
  apps/back-office/src/app/_components/utils/overviewFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting error
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow questions to show/hide conditionally on a page (#1170)
  AGENTS.md
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  docs/additional-questions-form-wizard.md
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
  libs/form-renderer/src/types.ts
  libs/form-renderer/src/utils.test.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set Icon hidden to false
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return error when there's a cyclical dependency
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make dependency links between packages explicit
  apps/admin/package.json
  apps/back-office/package.json
  apps/melding-form/package.json
  eslint.config.mjs
  libs/api-client/package.json
  libs/form-builder/package.json
  libs/form-renderer/package.json
  libs/map/package.json
  libs/markdown-to-html/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Config TypeScript parser
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix cyclical dependencies, remove unused dep, add comment
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.ts
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/constants.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move api-client to prod dependencies
  libs/form-renderer/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update lockfile
  pnpm-lock.yaml
Due: none

Remove steps from Home
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Header to Melding Form
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(map)/locatie/kies/error.tsx
  apps/melding-form/src/app/_components/Header/Header.test.tsx
  apps/melding-form/src/app/_components/Header/Header.tsx
  apps/melding-form/src/app/not-found.tsx
  libs/ui/src/Header.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Footer to Melding Form
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(map)/locatie/kies/error.tsx
  apps/melding-form/src/app/_components/Footer/Footer.test.tsx
  apps/melding-form/src/app/_components/Footer/Footer.tsx
  apps/melding-form/src/app/not-found.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct white space
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/_components/Header/Header.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix some more spacing issues
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove FormHeader from Additional Questions
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/_components/Header/Header.tsx
  apps/melding-form/translations/nl.json
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove Form Header for Location pages
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove Form Header from Attachments
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove Form Header from Contact, fix tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove Form Header from Summary
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove Form Header component
  apps/melding-form/src/app/(general)/_components/FormHeader/FormHeader.test.tsx
  apps/melding-form/src/app/(general)/_components/FormHeader/FormHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Back Link to correct level
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/_components/BackLink/BackLink.test.tsx
  apps/melding-form/src/app/_components/BackLink/BackLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move SystemErrorAlert to correct level
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.module.css
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.test.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add barrel file
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/error.tsx
  apps/melding-form/src/app/_components/index.ts
  apps/melding-form/src/app/not-found.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use main heading/question as page title
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/translations/nl.json
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
