Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update MarkerSelectLayer test default props
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update pnpm
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert update to react-router-dom
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert update to react-router-dom (#1248)
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update AssetList test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update getContainerAssetIconSVG test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update SelectLocation defaultProps test
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update page.test.tsx and add AssetTypeIconConfig to melding mock
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and regenerate API client
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/sdk.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and regenerate API client (#1249)
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/sdk.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update pnpm security overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove overrides from pnpm-workspace
  pnpm-workspace.yaml
Due: none

Update pnpm security overrides
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update pnpm security overrides (#1256)
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Merge main
  pnpm-lock.yaml
Due: none

Add Image test suit
  apps/melding-form/src/app/_components/Image/Image.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add getAssetIconSVG test
  apps/melding-form/src/app/utils/getAssetIconSVG.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Replace asset icon fallback
  apps/melding-form/public/asset-fallback.svg
  apps/melding-form/src/app/_components/Image/Image.test.tsx
  apps/melding-form/src/app/_components/Image/Image.tsx
  apps/melding-form/src/app/utils/getAssetIconSVG.test.ts
  apps/melding-form/src/app/utils/getAssetIconSVG.ts
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

implements CoPilots feedback
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused icons
  apps/melding-form/public/happy.png
  apps/melding-form/public/openbare-verlichting/schijnwerper.svg
Due: none

Make assetTypeId dynamic on Location Page
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convert asset_type_id always to a number, to trigger error when its undefined
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change pagination texts to 16px fontsize
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Add assetTypeId and typeNames as cookie and use in Location and Kiespages
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use assetTypeCookie in SelectLocation as well
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add delete cookie test on summary
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case actions
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case when classification has no asset types assigned
  apps/melding-form/src/app/(general)/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change pagination texts to 1rem fontsize (#1258)
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Filter conditional answers from Summary and handle conditional chains (#1241)
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/conditions/getFilteredAnswersByKey.test.ts
  apps/melding-form/src/app/(general)/_utils/conditions/getFilteredAnswersByKey.ts
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.test.ts
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.ts
  apps/melding-form/src/app/(general)/_utils/typeGuards.ts
  apps/melding-form/src/app/(general)/_utils/validation/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/validation/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.test.ts
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  docs/additional-questions-form-wizard.md
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/utils.test.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Link to melding when source is back office
  apps/melding-form/src/app/(general)/bedankt/page.test.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move vite to root package.json, update
  apps/admin/package.json
  apps/back-office/tsconfig.tsbuildinfo
  apps/melding-form/tsconfig.tsbuildinfo
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Lower coverage thresholds, fix test
  apps/admin/vite.config.ts
  apps/back-office/vite.config.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/vite.config.ts
  libs/form-builder/vite.config.ts
  libs/map/vite.config.ts
  libs/markdown-to-html/vite.config.ts
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update configs
  apps/admin/vite.config.ts
  apps/back-office/vite.config.ts
  apps/melding-form/vite.config.ts
  libs/form-builder/vite.config.ts
  libs/form-renderer/vite.config.ts
  libs/map/vite.config.ts
  libs/markdown-to-html/vite.config.ts
  libs/ui/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove build artifacts
  apps/back-office/tsconfig.tsbuildinfo
  apps/melding-form/tsconfig.tsbuildinfo
Due: none

Apply suggestion from @Copilot
  apps/melding-form/src/app/(general)/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

handle undefined assetTypeId
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Melding Form page to Back Office (#1247)
  apps/back-office/.env
  apps/back-office/package.json
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/MeldingForm.module.css
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/constants.ts
  apps/back-office/src/constants.ts
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
  apps/melding-form/.env
  apps/melding-form/src/app/(general)/bedankt/page.test.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  libs/form-renderer/src/index.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Group Amsterdam Design System updates in Dependabot (#1246)
  .github/dependabot.yml
Due: none

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
