Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Fix linting errors
  apps/admin/src/pages/classification/ClassificationList.tsx
  apps/admin/src/pages/form/components/FormList.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update lint staged list
  .lintstagedrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix typescript issue
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused eslintrc package
  apps/admin/.eslintrc.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary newline
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add access token and refresh token rotation flow
  apps/back-office/.env.local
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/types/next-auth.d.ts
  apps/back-office/types/node-env.d.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Redirect to signin when RefreshAccessTokenError occurs
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

wip
  apps/back-office/src/app/api/auth/[...nextauth].ts
  apps/back-office/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add type checking for Next apps
  apps/back-office/package.json
  apps/public/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename type check command
  apps/admin/package.json
  apps/back-office/package.json
  apps/public/package.json
  libs/api-client/package.json
  libs/form-builder/package.json
  libs/form-renderer/package.json
  libs/markdown-to-html/package.json
  libs/ui/package.json
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add styles to separate group, sort named imports
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/useAuthProvider.ts
  apps/admin/src/pages/form/components/CreateEditForm.tsx
  apps/back-office/vitest.setup.ts
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/public/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/vitest.setup.ts
  eslint.config.mjs
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/ui/src/Footer/Footer.tsx
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/src/ListBox/ListBoxOption.tsx
  libs/ui/src/SummaryList/SummaryList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove markdownlint from docs
  docs/0005-linting.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update form docs
  docs/0007-forms.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct naming convention
  docs/0009-directory-structure.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update graph
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Eslint fix
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/app/providers.tsx
  apps/back-office/src/middleware.ts
  apps/back-office/src/types/next-auth.d.ts
  apps/back-office/src/types/node-env.d.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add progressive enhancement docs
  docs/0010-progressive-enhancement.md
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Have getAddressFromCoordinates return a string instead of an object (#758)
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix TS errors
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/types/next-auth.d.ts
  apps/back-office/src/types/node-env.d.ts
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test of Overview component
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Always use API client proxy in Public app (#757)
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused deps
  apps/back-office/package.json
  apps/public/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix eslint type vs interface errors
  eslint.config.mjs
Due: none

Regenerate lock-file
  apps/back-office/src/app/Overview.test.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup code
  apps/back-office/.env.local
  apps/back-office/src/app/api/auth/[...nextauth].ts
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add small test for refreshToken util
  apps/back-office/src/app/api/auth/[...nextauth]/route.test.ts
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove named export and refreshAccessToken test
  apps/back-office/src/app/api/auth/[...nextauth]/route.test.ts
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set environment variables in .env file
  apps/back-office/.env
Due: none

Remove unnecessary handler
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move redirect on error to root layout
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/app/authentication/authOptions.ts
  apps/back-office/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/Overview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary dependency
  apps/back-office/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update apps/back-office/src/app/providers.tsx
  apps/back-office/src/app/providers.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update lockfile
  pnpm-lock.yaml
Due: none

Add and update docs (#767)
  docs/0007-forms.md
  docs/0009-directory-structure.md
  docs/0010-progressive-enhancement.md
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused dependency
  apps/back-office/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary change
  apps/back-office/src/app/Overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Authentication with nextAuth v4 (#766)
  apps/back-office/.env
  apps/back-office/package.json
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/app/authentication/authOptions.ts
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/providers.tsx
  apps/back-office/src/middleware.ts
  apps/back-office/src/types/next-auth.d.ts
  apps/back-office/src/types/node-env.d.ts
  eslint.config.mjs
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Migrate to fetch client
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/actions.ts
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/actions.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/app/layout.tsx
  libs/api-client/src/client.gen.ts
  libs/api-client/src/core/ApiError.ts
  libs/api-client/src/core/ApiRequestOptions.ts
  libs/api-client/src/core/ApiResult.ts
  libs/api-client/src/core/CancelablePromise.ts
  libs/api-client/src/core/OpenAPI.ts
  libs/api-client/src/core/request.ts
  libs/api-client/src/index.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
