Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Correct Attachement POST endpoint reference in mock handlers
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Align the attachment POST url to BE update (#1393)
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use more explicit naming
  libs/file-upload/src/useFileUploads/startUpload.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pin the next server Timezone
  apps/back-office/.env
  apps/melding-form/.env
Due: none

Remove explicit timezone setting in code - rely on TZ env
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use clearer naming
  libs/file-upload/src/useFileUploads/useFileUploads.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use clearer naming
  libs/file-upload/src/useFileUploads/startUpload.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct endpoint
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correction to the note on TZ timezone setting
  apps/back-office/.env
  apps/melding-form/.env
Due: none

Set up basic image slider page
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Ensure consistent test involving DateTime
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Attachments file upload functionality and components to a new File Upload library (#1390)
  apps/melding-form/package.json
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/_utils/startUpload.ts
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  libs/file-upload/README.md
  libs/file-upload/package.json
  libs/file-upload/src/FileList/FileList.module.css
  libs/file-upload/src/FileList/FileList.test.tsx
  libs/file-upload/src/FileList/FileList.tsx
  libs/file-upload/src/FileList/FileListImage.module.css
  libs/file-upload/src/FileList/FileListImage.test.tsx
  libs/file-upload/src/FileList/FileListImage.tsx
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileList/FileListItem.test.tsx
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/FileUpload/FileUpload.module.css
  libs/file-upload/src/FileUpload/FileUpload.test.tsx
  libs/file-upload/src/FileUpload/FileUpload.tsx
  libs/file-upload/src/index.ts
  libs/file-upload/src/useFileUploads/startUpload.test.ts
  libs/file-upload/src/useFileUploads/startUpload.ts
  libs/file-upload/src/useFileUploads/useFileUploads.test.ts
  libs/file-upload/src/useFileUploads/useFileUploads.ts
  libs/file-upload/tsconfig.json
  libs/file-upload/vite.config.ts
  libs/file-upload/vitest.setup.ts
  libs/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement image slider
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/debounce.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToSlide.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIdToVisibleSlide.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix a11y issues
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/debounce.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix scroll issue, use CSS for styling
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add Home and End key handling
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add figure with caption
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use ids for keys
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use responsive aspect ratio instead of fixed height
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
Due: prettier --check, stylelint --allow-empty-input

Correction remove debug .only() on Note.test
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Amend wording on Vitezt TZ setting
  apps/back-office/vitest.setup.ts
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Edit note on TZ setting in .env
  apps/back-office/.env
  apps/melding-form/.env
Due: none

Add newline to end of file
  apps/back-office/.env
Due: none

Add newline to end of file
  apps/melding-form/.env
Due: none

Support 'date' answer type for additional questions
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add exhaustive check to prevent missing cases
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Grammar correction regarding TZ note
  apps/back-office/vitest.setup.ts
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case for type date
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make timezone usage consistent in back-office & melding-form (#1396)
  apps/back-office/.env
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/vitest.setup.ts
  apps/melding-form/.env
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add new attachments translation - add-link
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

@ui - Add DS Image to barrel export - update AttachmentImage imports
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add fallback translation for location chosen but no address given
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Handle case where there is no address but geolocation given
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove explicit return and add clarifying note to date switch case
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update clarifying note regarding date answer type
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make image fill container up to max-height, without absolute positioning
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary rule
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
Due: prettier --check, stylelint --allow-empty-input

Include createdAt in attachments object
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show labels at attachment and add link to upload page
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement figure caption
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
