Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Change prop types
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/genericTypes.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add current location button to map (#650)
  apps/public/next-env.d.ts
  apps/public/public/icon-select-marker.svg
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Marker/Marker.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Fix setting of Public env var
  Dockerfile
  apps/public/.env
  apps/public/src/apiClientProxy.ts
  docker-compose.yml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add network connectivity to Dockerfile and fix environment variable (#659)
  Dockerfile
  apps/public/.env
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/layout.tsx
  docker-compose.yml
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use latest Next.js Dockerfile
  Dockerfile
Due: none

Add packageManager to package.json (#656)
  .github/workflows/ci.yml
  package.json
Due: none

Make API client generic, use env var to set backend base url (#655)
  Dockerfile
  apps/public/.env
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/layout.test.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(map)/layout.tsx
  apps/public/src/app/layout.test.tsx
  apps/public/src/app/layout.tsx
  docker-compose.yml
  libs/api-client/src/core/OpenAPI.ts
  openapi-ts.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

PR feedback
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Follow pnpm docs in Dockerfile
  Dockerfile
Due: none

Add docs
  README.md
Due: markdownlint, prettier --check

Don't run async test for sync state
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Explicitly opt utils folder out of routing
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/_utils/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Make coordinates optioneel in SideBar
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unnecessary null
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Show address on map (#652)
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/_utils/index.ts
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove vite from lib
  libs/form-builder/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unused overrides
  libs/form-builder/.eslintrc.json
Due: none

Update description
  libs/form-builder/README.md
  libs/form-builder/package.json
Due: markdownlint, prettier --check

Fix bug with undefined coordinates
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set required props in test
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix bug with undefined coordinates (#664)
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Docker docs, clean up Dockerfile (#663)
  Dockerfile
  README.md
Due: markdownlint, prettier --check

Change NX to pnpm for form-builder (#658)
  libs/form-builder/.babelrc
  libs/form-builder/.eslintrc.json
  libs/form-builder/README.md
  libs/form-builder/package.json
  libs/form-builder/project.json
  libs/form-builder/tsconfig.json
  libs/form-builder/tsconfig.lib.json
  libs/form-builder/tsconfig.spec.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lockfile
  pnpm-lock.yaml
Due: none

Revert ADS update, exclude ADS from Dependabot grouping
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: none

Remove NX from UI lib
  libs/ui/.babelrc
  libs/ui/.eslintrc.json
  libs/ui/README.md
  libs/ui/package.json
  libs/ui/project.json
  libs/ui/tsconfig.json
  libs/ui/tsconfig.lib.json
  libs/ui/tsconfig.spec.json
  libs/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove NX from API client lib
  libs/api-client/.eslintrc.json
  libs/api-client/README.md
  libs/api-client/jest.config.ts
  libs/api-client/package.json
  libs/api-client/project.json
  libs/api-client/tsconfig.json
  libs/api-client/tsconfig.lib.json
  libs/api-client/tsconfig.spec.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Create generic msw file and refactor tests
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/node.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Cleanup code
  apps/public/src/mocks/api.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove NX from UI lib (#668)
  libs/ui/.babelrc
  libs/ui/.eslintrc.json
  libs/ui/README.md
  libs/ui/package.json
  libs/ui/project.json
  libs/ui/tsconfig.json
  libs/ui/tsconfig.lib.json
  libs/ui/tsconfig.spec.json
  libs/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove NX from API client lib (#669)
  libs/api-client/.eslintrc.json
  libs/api-client/README.md
  libs/api-client/jest.config.ts
  libs/api-client/package.json
  libs/api-client/project.json
  libs/api-client/tsconfig.json
  libs/api-client/tsconfig.lib.json
  libs/api-client/tsconfig.spec.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Cleanup code
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/mocks/api.ts
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
  apps/public/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

uninstall nx and remove related packages and files
  .eslintrc.json
  .gitignore
  .prettierignore
  jest.config.ts
  jest.preset.js
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change documentation
  apps/admin/vite.config.ts
  docs/0006-monorepo-tooling.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Also run nginx master process as nginx user instead of only the child processes
  Dockerfile
Due: none

Add Headless UI Combobox
  apps/public/package.json
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add styling
  apps/public/src/app/(map)/locatie/kies/_components/ListBox/ListBox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ListBox/ListBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ListBox/ListBoxOption.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Also run nginx master process as nginx user instead of only the child… (#673)
  Dockerfile
Due: none

Fix ESlinting
  .eslintrc.json
  apps/admin/.eslintrc.json
  apps/admin/tsconfig.vite.json
  apps/admin/vite.config.ts
  libs/form-renderer/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix ESlinting
  apps/admin/.eslintrc.json
Due: none
