Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use original_question_text in Back Office Detail page
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update reference to styling conventions doc
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extract Back Office root utils
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_utils/getFullNLAddress.test.ts
  apps/back-office/src/app/_utils/getFullNLAddress.ts
  apps/back-office/src/app/_utils/getShortNLAddress.test.ts
  apps/back-office/src/app/_utils/getShortNLAddress.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move files, add missing tests
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_api-client/ApiClientInitializer.test.tsx
  apps/back-office/src/app/_api-client/ApiClientInitializer.tsx
  apps/back-office/src/app/_api-client/proxy.test.ts
  apps/back-office/src/app/_api-client/proxy.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/_utils/getFullNLAddress.ts
  apps/back-office/src/app/_utils/getShortNLAddress.ts
  apps/back-office/src/app/_utils/handleApiError.test.ts
  apps/back-office/src/app/_utils/handleApiError.ts
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/_utils/hasValidationErrors.ts
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/page.tsx
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move utils file to separate files
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getContactData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getContactData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Attachment utils to separate files
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/_utils/startUpload.test.ts
  apps/melding-form/src/app/(general)/bijlage/_utils/startUpload.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/_utils/safeJSONParse.test.ts
  apps/melding-form/src/app/_utils/safeJSONParse.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move more utils to folder
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/_utils/getAdditionalQuestionsSummary.ts
  apps/melding-form/src/app/_utils/handleApiError.test.ts
  apps/melding-form/src/app/_utils/handleApiError.ts
  apps/melding-form/src/app/_utils/isTypeTextAreaComponent.test.ts
  apps/melding-form/src/app/_utils/isTypeTextAreaComponent.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move AddressInput utils to separate files
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/debounce.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/debounce.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move /kies utils to separate file
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add subfolders and index files
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/conditions/getFilteredAnswersByKey.ts
  apps/melding-form/src/app/(general)/_utils/conditions/index.ts
  apps/melding-form/src/app/(general)/_utils/index.ts
  apps/melding-form/src/app/(general)/_utils/isPanelComponentOutput.ts
  apps/melding-form/src/app/(general)/_utils/validation/index.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/index.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/getNextPanelPath.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/getNextPanelPath.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/getPreviousPanelPath.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/getPreviousPanelPath.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/index.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/refilterAnswersByKey.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/refilterAnswersByKey.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/shouldLinkToPanel.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigation/shouldLinkToPanel.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/categorizeFormEntries.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/categorizeFormEntries.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/index.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/mergeCheckboxAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/mergeCheckboxAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/mergeUnknownTimeAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/processEntries/mergeUnknownTimeAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/_utils/getAdditionalQuestionsSummary.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add override to fix security issue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Move Back Office Overview page utils to separate files as well
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.tsx
  apps/back-office/src/app/_components/_utils/formatValue.test.ts
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/_components/_utils/getMeldingDetailHref.test.ts
  apps/back-office/src/app/_components/_utils/getMeldingDetailHref.ts
  apps/back-office/src/app/_components/_utils/getOverviewFieldLabel.test.ts
  apps/back-office/src/app/_components/_utils/getOverviewFieldLabel.ts
  apps/back-office/src/app/_components/_utils/index.ts
  apps/back-office/src/app/_components/_utils/renderOverviewFieldValue.test.tsx
  apps/back-office/src/app/_components/_utils/renderOverviewFieldValue.tsx
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
  apps/back-office/src/app/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add and remove overrides to fix security issues (#1317)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add Detail card grid
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add custom description lists
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refine styling
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Convert 3 pseudo-ADR docs to proper documentation (#1313)
  AGENTS.md
  docs/0003-testing.md
  docs/0004-styling.md
  docs/code-conventions/styling.md
  docs/code-conventions/testing.md
  docs/decisions/0003-use-vitest-and-react-testing-library-for-unit-tests.md
  docs/linting.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add horizontal styling
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix attachments responsive styling
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use correct class name
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unused class
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct fraction for mobile view
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
Due: prettier --check, stylelint --allow-empty-input

Clarify that the flow is not quite the same for Melder and Behandelaar
  docs/creating-melding-as-behandelaar.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Architectural Decision Record and further documentation on creating a Melding as a Behandelaar (#1312)
  docs/creating-melding-as-behandelaar.md
  docs/decisions/XXXX-link-back-office-to-melding-form-to-create-melding-as-behandelaar.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use additional questions snapshot in Summary (Melding Form) and Detail (Back Office) pages (#1315)
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
  apps/melding-form/src/app/(general)/samenvatting/_utils/getAdditionalQuestionsSummary.test.ts
  apps/melding-form/src/app/(general)/samenvatting/_utils/getAdditionalQuestionsSummary.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix attachments description list markup
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Copy rest of Description List styling from ADS
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
Due: prettier --check, stylelint --allow-empty-input

Use id that really always exists, post data in parallel
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Parse meldingIdString once
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make icons dynamic on Location page
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename function to be more accurate
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move local constant locally
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Label field to Admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use labelConfig to generate Asset List labels
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use `id` that always exists for key
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests, add fallback for empty label text
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
