Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Use server actions for aanvullende vragen as well
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/actions.ts
  libs/api-client/src/sdk.gen.ts
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rearrange Aanvullende vragen
  apps/public/.eslintrc.json
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_utils/mergeCheckboxAnswers.test.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_utils/mergeCheckboxAnswers.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_components/AanvullendeVragenRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add simple error logging
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Handle server errors in Aanvullende vragen
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use action for location form
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(general)/locatie/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use server action for attachment form
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/bijlage/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Delete session cookies at end of session
  apps/public/src/app/(general)/bijlage/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename and move AanvullendeVragen
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix previous page link, store last panel path in cookies
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(general)/locatie/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix test
  libs/form-renderer/src/FormRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Next types to form-renderer
  libs/form-renderer/next-env.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix type error
  libs/form-renderer/next-env.d.ts
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix weird TS error
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Undo changes to generated file
  libs/api-client/src/sdk.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use server actions for form submits (#637)
  apps/public/.eslintrc.json
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_utils/mergeCheckboxAnswers.test.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/_utils/mergeCheckboxAnswers.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/(general)/actions.ts
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(general)/locatie/page.tsx
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update api client
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update snapshot
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Get primary form by id
  apps/public/src/app/(general)/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update api client (#638)
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.test.tsx
  apps/public/src/app/(general)/page.tsx
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix imports
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  libs/form-builder/.babelrc
  libs/form-builder/.eslintrc.json
  libs/form-builder/README.md
  libs/form-builder/project.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Radio/Radio.tsx
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Radio/index.ts
  libs/form-builder/src/components/Select/Select.tsx
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/Select/index.ts
  libs/form-builder/src/components/SelectBoxes/SelectBoxes.tsx
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/SelectBoxes/index.tsx
  libs/form-builder/src/components/Textarea/Textarea.tsx
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textarea/index.ts
  libs/form-builder/src/components/Textfield/Textfield.tsx
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/components/Textfield/index.ts
  libs/form-builder/src/components/index.ts
  libs/form-builder/src/index.ts
  libs/form-builder/src/translations/README.md
  libs/form-builder/src/translations/nl.json
  libs/form-builder/src/types/formio.d.ts
  libs/form-builder/tsconfig.json
  libs/form-builder/tsconfig.lib.json
  libs/form-builder/tsconfig.spec.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
  libs/formio/README.md
  tsconfig.base.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename libs/formio to libs/form-builder (#639)
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  libs/form-builder/.babelrc
  libs/form-builder/.eslintrc.json
  libs/form-builder/README.md
  libs/form-builder/project.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Radio/Radio.tsx
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Radio/index.ts
  libs/form-builder/src/components/Select/Select.tsx
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/Select/index.ts
  libs/form-builder/src/components/SelectBoxes/SelectBoxes.tsx
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/SelectBoxes/index.tsx
  libs/form-builder/src/components/Textarea/Textarea.tsx
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textarea/index.ts
  libs/form-builder/src/components/Textfield/Textfield.tsx
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/components/Textfield/index.ts
  libs/form-builder/src/components/index.ts
  libs/form-builder/src/index.ts
  libs/form-builder/src/translations/README.md
  libs/form-builder/src/translations/nl.json
  libs/form-builder/src/types/formio.d.ts
  libs/form-builder/tsconfig.json
  libs/form-builder/tsconfig.lib.json
  libs/form-builder/tsconfig.spec.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
  libs/formio/README.md
  tsconfig.base.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use hashes in GitHub Actions
  .github/workflows/ci.yml
Due: none

Use hashes in GitHub Actions (#640)
  .github/workflows/ci.yml
Due: none

Add end of form API call
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add end of form API call (#641)
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/actions.ts
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

dockerized admin app
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

Add current location button
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/CurrentLocationButton/CurrentLocationButton.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add marker on current location button click
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/CurrentLocationButton/CurrentLocationButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add marker svg
  apps/public/public/icon-select-marker.svg
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Marker/Marker.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix styling
  apps/public/src/app/(map)/locatie/kies/_components/map.module.css
Due: prettier --check, stylelint --allow-empty-input

Add tests
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unnecessary override
  package.json
  pnpm-lock.yaml
Due: none

Add pdok reverse service
  apps/public/src/app/(map)/locatie/kies/_components/BaseLayer.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideMenu.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Styling and cleanup
  apps/public/src/app/(map)/locatie/kies/_components/AddressMenu/AddressMenu.module.css
  apps/public/src/app/(map)/locatie/kies/_components/AddressMenu/AddressMenu.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideMenu.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Revert changes to generated file, add comment where env vars should be used
  libs/api-client/src/core/OpenAPI.ts
  openapi-ts.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update Dockerfile to fix file rights .next folder
  Dockerfile
Due: none

Upload progress of public app dockerization
  Dockerfile
  apps/public/next.config.ts
  docker-compose.yml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit
