Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Handle errors from api
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup selectLocation
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix testing errors
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case to SelectLocation
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly type file upload maps
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix styling errored file
  libs/ui/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Contain image in aspect ratio, instead of cover
  libs/ui/src/FileList/FileListImage.module.css
  libs/ui/src/FileList/FileListImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Set correct margins
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix tests
  libs/ui/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Contain images in Summary as well
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
Due: prettier --check, stylelint --allow-empty-input

Add test case for /locatie/kies page
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case for /locatie page
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove console.log
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust test coverage in maps
  libs/map/src/PointSelectLayer/PointSelectLayer.test.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  libs/map/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case for Location
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove .only form test
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary waitFor
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update docs/0011-error-handling.md
  docs/0011-error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change test title
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

fix nginx config for admin
  default.conf
Due: none

Allow all routes reach Admin app, not just index (#1072)
  default.conf
Due: none

Fix error message bug, contain images in aspect ratio, small style tweaks (#1071)
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListImage.module.css
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.module.css
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Cleanup locatie page
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

try to debug auth somehow
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

comment the keycloak stuff
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

params
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show error on submit when uploads are in progress on Attachments page (#1056)
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
  docs/0011-error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

aaaa
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Next
  apps/back-office/package.json
  apps/melding-form/package.json
  libs/form-renderer/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

id token
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Next (#1073)
  apps/back-office/package.json
  apps/melding-form/package.json
  libs/form-renderer/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

id token
  apps/back-office/src/apiClientProxy.ts
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary cookie mock
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
