Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix linting issue
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add overrides to fix security issues
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add specific brace-expansion override
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add lodash overrides
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix lodash security issues (#1233)
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Resolve CoPilot feedback
  apps/back-office/src/app/page.tsx
  apps/back-office/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update libs/map/src/MarkerSelectLayer/utils/getWfsFilter.ts
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/mocks/data.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.test.ts
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Bedankt page data to URL params instead of cookies
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.test.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/constants.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add newline
  apps/melding-form/src/app/(general)/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove white space
  apps/melding-form/src/app/(general)/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Encode URL params
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass correct defaultProps
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update comment
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Encode URL params in tests as well
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add route handler to Melding Form to handle users coming from Back Office (#1216)
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.test.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/utils.test.ts
  apps/melding-form/src/app/utils.ts
  apps/melding-form/src/constants.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Merge two test cases
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/Pagination.module.css
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Update apps/back-office/src/constants.ts
  apps/back-office/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/PageSizeSelect.tsx
  apps/back-office/src/app/_components/PageSizeSelect.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/PageSizeSelect.test.tsx
  apps/back-office/src/app/_components/PageSizeSelect.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/PageSizeSelect.test.tsx
  apps/back-office/src/app/_components/PageSizeSelect.tsx
  apps/back-office/src/app/_components/Pagination.module.css
  apps/back-office/src/app/_components/Pagination.test.tsx
  apps/back-office/src/app/_components/Pagination.tsx
  apps/back-office/src/app/page.test.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Setting a Time value unchecks the Unknown checkbox
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor merging of Checkbox and Time answers
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeCheckboxAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeCheckboxAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix some issues
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return error message when Time component has both a value and a checked checkbox
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure the correct value is shown on rerender, add comments
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Select/Select.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Support configurable WFS layers in Admin and Melding Form Map (#1223)
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/data.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.test.ts
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor use of margin
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Add comment to router.refresh
  apps/back-office/src/app/_components/PageSizeSelect.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/page.test.tsx
  apps/back-office/src/app/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove wrong css as result of GitHub suggestion merge
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Do not pass null as TimeInput value. Use empty string instead
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convert 'unknown' string to null
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove aria-required from Field Set
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
