Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update AGENTS.md
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for when there is 1 component
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set classification query limit to 1000
  apps/admin/src/app/providers/genericDataProvider.ts
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make ClassificationInput controlled on forms
  apps/admin/src/app/providers/genericDataProvider.ts
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor to save two <div>s
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Rename util function shouldConfirmOverwrite
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change Overview to server component
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewMobile.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.module.css
Due: prettier --check, stylelint --allow-empty-input

Update apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewDesktop.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove obsolete css
  apps/back-office/src/app/Overview.module.css
Due: prettier --check, stylelint --allow-empty-input

Set Icon hidden to false (#1175)
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Link to top of page for all steps in Melding Form
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/cookie-storing/page.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/layout.tsx
  apps/melding-form/src/app/not-found.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use #top instead of #start
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/cookie-storing/page.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/not-found.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent cyclical dependencies, make links between packages explicit (#1176)
  apps/admin/package.json
  apps/back-office/package.json
  apps/melding-form/package.json
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/setDateComponentOptions.ts
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/constants.ts
  eslint.config.mjs
  libs/api-client/package.json
  libs/form-builder/package.json
  libs/form-renderer/package.json
  libs/map/package.json
  libs/markdown-to-html/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add #top to tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change ids as well
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(map)/locatie/kies/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add overview for mobile view (#1168)
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewDesktop.test.tsx
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.test.tsx
  apps/back-office/src/app/_components/OverviewMobile.tsx
  apps/back-office/src/app/_components/utils/overviewFields.test.ts
  apps/back-office/src/app/_components/utils/overviewFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add limit to getList requrest in admin
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove extra whitespace in /locatie/kies
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix prettier and linting issues
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/cookie-storing/page.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/layout.tsx
  apps/melding-form/src/app/not-found.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Conditional tab to Date component in Form Builder
  libs/form-builder/src/components/Date/editForm.test.ts
  libs/form-builder/src/components/Date/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Conditional tab to Date component in Form Builder (#1185)
  libs/form-builder/src/components/Date/editForm.test.ts
  libs/form-builder/src/components/Date/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Location page texts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add limit and correct total to getList queries
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Location page texts (#1186)
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update genericDataProvider test and update manual limit use comment
  apps/admin/src/app/providers/genericDataProvider.test.ts
  apps/admin/src/app/providers/genericDataProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove progress steps from form pages and document titles (#1177)
  AGENTS.md
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_components/FormHeader/FormHeader.test.tsx
  apps/melding-form/src/app/(general)/_components/FormHeader/FormHeader.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.module.css
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.test.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/error.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/app/_components/BackLink/BackLink.test.tsx
  apps/melding-form/src/app/_components/BackLink/BackLink.tsx
  apps/melding-form/src/app/_components/Footer/Footer.test.tsx
  apps/melding-form/src/app/_components/Footer/Footer.tsx
  apps/melding-form/src/app/_components/Header/Header.test.tsx
  apps/melding-form/src/app/_components/Header/Header.tsx
  apps/melding-form/src/app/_components/index.ts
  apps/melding-form/src/app/not-found.tsx
  apps/melding-form/translations/nl.json
  libs/form-renderer/src/FormRenderer.module.css
  libs/form-renderer/src/FormRenderer.tsx
  libs/ui/src/Header.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Move scroll and focus position to top on navigation (#1179)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/cookie-storing/page.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarTop/SideBarTop.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/layout.tsx
  apps/melding-form/src/app/not-found.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Regenerate API client, use correct endpoint
  apps/melding-form/src/app/(general)/actions.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update MSW
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wrap description on small mobile screens
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/OverviewMobile.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix issue with empty string as value for conditional.show
  libs/form-builder/src/components/shared.test.ts
  libs/form-builder/src/components/shared.ts
  libs/form-builder/src/components/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add max_asset input to assetType in admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use better check for missing values, sync 2 similar functions
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/shared.ts
  libs/form-builder/src/components/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use configured max_asset in melding-form
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/constants.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix typo and rename const
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
