Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor types in Attachments
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix utils tests
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wrap no data paragraph in description
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Bump next auth to 4.24.12
  apps/back-office/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add attachments to detail page (#1032)
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement new design FileList component (#1030)
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
  libs/ui/src/FileList/formatFileSize.test.ts
  libs/ui/src/FileList/formatFileSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor, add test
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

DRY up CSS
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
Due: prettier --check, stylelint --allow-empty-input

poc for entra auth in backoffice
  apps/back-office/.env
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/_authentication/node-env.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix rendering bug for SSR
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix FileListItem test
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add FileListImage test
  libs/ui/src/FileList/FileListImage.test.tsx
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convert test to sync, async is not necessary
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix SSR / CSR issue when refreshing Summary with Attachments (#1036)
  apps/melding-form/src/app/(general)/samenvatting/Summary.module.css
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.module.css
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/_components/AttachmentImage.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Separate CSS per subcomponent
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListImage.module.css
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary fragment
  libs/ui/src/FileList/FileListImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use incrementing counter for file upload ids
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate id prefix
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not throw error if attachment download is not yet ready
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  libs/ui/src/FileList/FileListImage.test.tsx
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test descriptions
  libs/ui/src/FileList/FileListImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix SSR / CSR issue when refreshing Attachments page (#1038)
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListImage.module.css
  libs/ui/src/FileList/FileListImage.test.tsx
  libs/ui/src/FileList/FileListImage.tsx
  libs/ui/src/FileList/FileListItem.module.css
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add Perfectionist plugin to ESLint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Exclude config files from linting
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reorder config file
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Cleanup config
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove mjs/cjs-specific config
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Used named imports where possible
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.tsx
  eslint.config.mjs
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  libs/ui/src/FieldSet/FieldSet.tsx
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/src/SummaryList/SummaryList.tsx
  libs/ui/src/SummaryList/SummaryListDescription.tsx
  libs/ui/src/SummaryList/SummaryListItem.tsx
  libs/ui/src/SummaryList/SummaryListTerm.tsx
  libs/ui/src/TextInput/TextInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Separate parent types and values
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add plugin to package.json
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix test
  apps/melding-form/src/app/(general)/bedankt/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert endpoints.ts to original state
  apps/back-office/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/endpoints.ts
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make exception for Grid props
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/melding-form/src/app/(general)/layout.tsx
  apps/melding-form/src/app/(map)/locatie/kies/error.tsx
  apps/melding-form/src/app/not-found.tsx
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Entra support for back office
  apps/back-office/.env
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/_authentication/node-env.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Next env types to git ignore
  .gitignore
  apps/back-office/next-env.d.ts
  apps/melding-form/next-env.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Next env types to git ignore (#1042)
  .gitignore
  apps/back-office/next-env.d.ts
  apps/melding-form/next-env.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Next dev types to tsconfig
  apps/back-office/tsconfig.json
  apps/melding-form/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move Entra env vars to local file
  .gitignore
  apps/back-office/.env
Due: none

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
