Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Allow edit of static forms in Admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove .only in test suite
  apps/public/src/app/(general)/bijlage/Bijlage.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change cookie mock
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix test page component
  apps/public/src/app/(general)/bijlage/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unnecessary test change
  apps/public/src/app/(general)/contact/actions.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix file upload (#724)
  apps/public/.env
  apps/public/src/apiClientProxy.ts
  apps/public/src/app/(general)/bijlage/Bijlage.test.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/context/MeldingContextProvider.tsx
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Implement feedback
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move util to separate folder
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Enable form flow without classification
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Filter out undefined items
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add extra check
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add extra check
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/mocks/mockAdditionalQuestionsAnswerData.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Put state machine in transition without aanvullende vragen
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Put return statement back
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove ComboBox max width
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary check
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add client side validation, pass empty string instead of null to BE
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move type to correct file
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Filter out undefined location
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Summary page (#727)
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/actions.ts
  apps/public/src/app/(general)/page.test.tsx
  apps/public/src/app/(general)/samenvatting/Summary.test.tsx
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/actions.test.tsx
  apps/public/src/app/(general)/samenvatting/actions.ts
  apps/public/src/app/(general)/samenvatting/page.test.tsx
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/mockAdditionalQuestionsAnswerData.json
  apps/public/src/mocks/mockMeldingData.json
  libs/ui/src/SummaryList/SummaryList.module.css
  libs/ui/src/SummaryList/SummaryList.tsx
  libs/ui/src/SummaryList/SummaryListDescription.tsx
  libs/ui/src/SummaryList/SummaryListItem.tsx
  libs/ui/src/SummaryList/SummaryListTerm.tsx
  libs/ui/src/SummaryList/index.ts
  libs/ui/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Implement design updates, make sure Alert is read by screen readers (#729)
  apps/public/public/icon-select-marker.svg
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Marker/Marker.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Adjust primary form action
  apps/public/src/app/(general)/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add FileList
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.module.css
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.module.css
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add images to list
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.module.css
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Cleanup code
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.module.css
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add error handling
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.module.css
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Refactor Bijlage
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change FileUpload to FileInput
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.module.css
  apps/public/src/app/(general)/bijlage/_components/FileInput.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary margin
  apps/public/src/app/(general)/bijlage/_components/FileInput.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix tests
  apps/public/src/app/(general)/bijlage/Bijlage.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test cases
  apps/public/src/app/(general)/bijlage/Bijlage.test.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Make submit button full width on mobile
  libs/ui/src/SubmitButton/SubmitButton.module.css
Due: prettier --check, stylelint --allow-empty-input

Change Bijlage to Attachments
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename AdditionalQuestions, DRY defaultProps
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Refactor FileList to use Design System component
  apps/public/src/app/(general)/bijlage/Attachments.module.css
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/SubmitButton/SubmitButton.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Rename Thanks page
  apps/public/src/app/(general)/bedankt/Thanks.test.tsx
  apps/public/src/app/(general)/bedankt/Thanks.tsx
  apps/public/src/app/(general)/bedankt/page.test.tsx
  apps/public/src/app/(general)/bedankt/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename Location
  apps/public/src/app/(general)/locatie/Location.test.tsx
  apps/public/src/app/(general)/locatie/Location.tsx
  apps/public/src/app/(general)/locatie/page.test.tsx
  apps/public/src/app/(general)/locatie/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename SelectLocation
  apps/public/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/public/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove fileList component
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.module.css
  apps/public/src/app/(general)/bijlage/_components/FileList.test.tsx
  apps/public/src/app/(general)/bijlage/_components/FileList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

PR feedback
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/_components/FileInput.tsx
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit
