Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Setup root scripts
  apps/public/package.json
  apps/public/src/app/Home.tsx
  nx.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix ESLint for public app
  .eslintrc.json
  apps/public/.eslintrc.json
  apps/public/package.json
  apps/public/src/app/Home.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Run linter
  .eslintrc.json
  .lintstagedrc.json
  apps/public/.eslintrc.json
  apps/public/src/app/aanvullende-vragen/page.tsx
  apps/public/src/app/bedankt/page.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/bijlagen/page.tsx
  apps/public/src/app/layout.tsx
  apps/public/src/app/page.tsx
  apps/public/vitest.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/Home.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Skip failing Formio tests
  apps/public/src/app/Home.test.tsx
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Skip failing Formio tests
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lint-staged
  apps/public/.lintstagedrc.json
  libs/form-renderer/.lintstagedrc.json
Due: none

Remove unnecessary lint-staged config
  libs/form-renderer/.lintstagedrc.json
Due: none

Temp remove lint from lint-staged public
  apps/public/.eslintrc.json
  apps/public/.lintstagedrc.json
  apps/public/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove NX from Public app (#615)
  .eslintrc.json
  apps/admin/tsconfig.spec.json
  apps/public/.eslintrc.json
  apps/public/.lintstagedrc.json
  apps/public/index.d.ts
  apps/public/jest.config.ts
  apps/public/jest.setup.ts
  apps/public/next.config.js
  apps/public/package.json
  apps/public/project.json
  apps/public/public/.gitkeep
  apps/public/src/app/Home.test.tsx
  apps/public/src/app/Home.tsx
  apps/public/src/app/aanvullende-vragen/_components/BackLink.test.tsx
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.test.tsx
  apps/public/src/app/aanvullende-vragen/page.tsx
  apps/public/src/app/bedankt/page.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.test.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/bijlagen/page.tsx
  apps/public/src/app/layout.tsx
  apps/public/src/app/page.tsx
  apps/public/src/mocks/NextRouterContextProviderMock.tsx
  apps/public/tsconfig.json
  apps/public/tsconfig.spec.json
  apps/public/vite.config.ts
  apps/public/vitest.setup.ts
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update Next to 15, fix api calls
  apps/public/.eslintrc.json
  apps/public/package.json
  apps/public/src/app/page.tsx
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update tsconfig
  libs/api-client/tsconfig.json
Due: none

Update to Next 15, fix api calls (#616)
  apps/public/.eslintrc.json
  apps/public/package.json
  apps/public/src/app/page.tsx
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
  libs/api-client/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lockfile
  pnpm-lock.yaml
Due: none

Fix typecheck error
  apps/public/src/app/Home.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lockfile (#617)
  apps/public/src/app/Home.test.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use ts config file, remove manual typechecking
  apps/public/.eslintrc.json
  apps/public/next.config.ts
  apps/public/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update to 0.54.0
  libs/api-client/src/services.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update to 0.56.0
  package.json
  pnpm-lock.yaml
Due: none

Update API client generator (#618)
  libs/api-client/src/services.gen.ts
  openapi-ts.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Setup ESLint
  apps/admin/.eslintrc.json
  apps/admin/.stylelintrc.json
  apps/admin/jest.config.ts
  apps/admin/project.json
  apps/admin/src/app/Admin.tsx
  apps/admin/tsconfig.app.json
  apps/admin/tsconfig.json
  apps/admin/tsconfig.spec.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Setup package.json
  apps/admin/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add test files, update tsconfig
  apps/admin/package.json
  apps/admin/src/app/Admin.test.tsx
  apps/admin/src/app/providers/dataProvider.test.ts
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.test.tsx
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  apps/admin/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix lint issues
  apps/admin/.eslintrc.json
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/admin/src/pages/form/components/ClassificationInput.tsx
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update root scripts
  apps/admin/package.json
  apps/admin/vite.config.ts
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix function
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add missing package
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

Remove NX from admin app (#619)
  apps/admin/.eslintrc.json
  apps/admin/.stylelintrc.json
  apps/admin/jest.config.ts
  apps/admin/package.json
  apps/admin/project.json
  apps/admin/src/app/Admin.test.tsx
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/dataProvider.test.ts
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/admin/src/pages/form/components/ClassificationInput.tsx
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.test.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/tsconfig.app.json
  apps/admin/tsconfig.json
  apps/admin/tsconfig.spec.json
  apps/admin/vite.config.ts
  apps/admin/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add navigation to new renderer
  apps/public/src/app/nieuwe-renderer/[classification]/[panelId]/page.tsx
  apps/public/src/app/nieuwe-renderer/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Post answers for primary static form
  apps/public/src/app/Home.tsx
  apps/public/src/app/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Post answers aanvullende vragen
  apps/public/src/app/nieuwe-renderer/_components/AanvullendeVragenRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename, fix checkbox
  apps/public/src/app/Home.tsx
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/aanvullende-vragen.test.tsx
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/aanvullende-vragen/_components/AanvullendeVragenRenderer.tsx
  apps/public/src/app/aanvullende-vragen/_components/BackLink.test.tsx
  apps/public/src/app/aanvullende-vragen/_components/BackLink.tsx
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.test.tsx
  apps/public/src/app/aanvullende-vragen/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add empty test to make tests succeed
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/aanvullende-vragen.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Cleanup
  libs/formio/src/FormRenderer.tsx
  libs/formio/src/index.ts
  libs/formio/src/template/button/button.spec.tsx
  libs/formio/src/template/button/button.tsx
  libs/formio/src/template/button/index.ts
  libs/formio/src/template/component/component.tsx
  libs/formio/src/template/component/index.tsx
  libs/formio/src/template/field/field.tsx
  libs/formio/src/template/field/index.ts
  libs/formio/src/template/html/html.tsx
  libs/formio/src/template/html/index.ts
  libs/formio/src/template/index.ts
  libs/formio/src/template/input/index.ts
  libs/formio/src/template/input/input.spec.tsx
  libs/formio/src/template/input/input.tsx
  libs/formio/src/template/label/index.ts
  libs/formio/src/template/label/label.tsx
  libs/formio/src/template/radio/index.ts
  libs/formio/src/template/radio/radio.tsx
  libs/formio/src/template/select/index.ts
  libs/formio/src/template/select/select.tsx
  libs/formio/src/template/selectOption/index.ts
  libs/formio/src/template/selectOption/selectOption.tsx
  libs/formio/src/template/utils.ts
  libs/formio/src/template/webform/index.ts
  libs/formio/src/template/webform/webform.tsx
  libs/formio/src/template/wizard/index.ts
  libs/formio/src/template/wizard/wizard.tsx
  libs/formio/src/template/wizardNav/index.ts
  libs/formio/src/template/wizardNav/wizardNav.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Exclude formio from tests
  package.json
Due: none

Add onsubmit mock to form-renderer tests
  libs/form-renderer/src/FormRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix Next issues
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Force dynamic rendering for now
  apps/public/src/app/aanvullende-vragen/[classification]/[panelId]/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Extract submit button
  libs/form-renderer/src/FormRenderer.tsx
  libs/ui/src/SubmitButton/SubmitButton.module.css
  libs/ui/src/SubmitButton/SubmitButton.tsx
  libs/ui/src/SubmitButton/index.ts
  libs/ui/src/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input
