Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Log errors instead of silently swallowing them
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check for existence of token
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix and add tests
  apps/back-office/src/app/ApiClientInitializer.test.tsx
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting issues
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check if prefetched melding data is valid before using it
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do a PATCH in the server action, even if prefetched melding data exists
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary default prop
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Query hidden input just before assertion
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reorded tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass env vars in Dockerfile
  Dockerfile
Due: none

Add contributing docs, update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct quotation marks
  docs/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Small tweaks
  docs/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct relative link
  docs/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add error handling to Back Office Melding Form page (#1275)
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/InvalidFormAlert.tsx
  apps/back-office/src/app/melden/_components/SystemErrorAlert.module.css
  apps/back-office/src/app/melden/_components/SystemErrorAlert.test.tsx
  apps/back-office/src/app/melden/_components/SystemErrorAlert.tsx
  apps/back-office/src/app/melden/_utils/hasValidationErrors.test.ts
  apps/back-office/src/app/melden/_utils/hasValidationErrors.ts
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/handleApiError.ts
  apps/back-office/translations/nl.json
  apps/melding-form/src/app/(general)/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add initial ADR readme
  docs/decisions/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Encode URL params before passing to URLs
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass correct primary form link to Summary
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test descriptions
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prefill primary form text area
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update comment format
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reset mock for each test
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add extra check for id coming from URL params
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Pass id and token URL params when navigating back to Back office
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify type
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prefill urgency as well
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing Melding Form tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow returning to Back Office from Melding Form, and prefill existing answers (#1276)
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bedankt/page.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/back-office-entry/route.test.ts
  apps/melding-form/src/app/back-office-entry/route.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update README
  docs/decisions/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Specify why we use a number prefix
  docs/decisions/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename variable and prop to existingMelding
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix existing tests
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct call signature for capturedAction
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
