Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Only edit components form field on save or remove to prevent interference with formio
  libs/form-builder/src/FormBuilder.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct alert translation
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use back office proxy - remove unused form instantiation
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct upload count logic & aria designations
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Allow Back Office to open PDFs in new tab (#1405)
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix tests & turn AttachmentList into presentational component
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Tweak date formatting in Back Office (#1407)
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/_utils/formatDateString.test.ts
  apps/back-office/src/app/_utils/formatDateString.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct date rendering
  apps/back-office/src/app/_utils/formatDateTime.test.ts
  apps/back-office/src/app/_utils/formatDateTime.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

7196 vragenlijst laadt soms niet admin (#1409)
  apps/admin/src/pages/form/components/BuilderInput.test.tsx
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  eslint.config.mjs
  libs/form-builder/src/FormBuilder.test.tsx
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show mobile asset list as an overlay to prevent map render issues
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.tsx
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Extract utility and AssetElement component
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.module.css
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.tsx
  apps/melding-form/src/app/(general)/_utils/getAssetsFromMelding.ts
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Potential fix for pull request finding
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix visibility of buttons
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Make map inert when overlay is open
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Minor refactor - extracting AttachmentSection from Detail
  apps/back-office/src/app/_utils/formatDateString.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add test for uploadAttachment
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add proper screenreader copy for PDF opening action
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test with accessible name
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add loading state
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Back office add attachments feature (#1411)
  apps/back-office/next.config.ts
  apps/back-office/package.json
  apps/back-office/src/app/_utils/formatDateString.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentSection.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/types.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
  libs/file-upload/src/FileList/FileListItem.test.tsx
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/index.ts
  libs/file-upload/src/useFileUploads/startServerActionUpload.test.ts
  libs/file-upload/src/useFileUploads/startServerActionUpload.ts
  libs/file-upload/src/useFileUploads/startUpload.test.ts
  libs/file-upload/src/useFileUploads/startUpload.ts
  libs/file-upload/src/useFileUploads/types.ts
  libs/file-upload/src/useFileUploads/useFileUploads.test.ts
  libs/file-upload/src/useFileUploads/useFileUploads.ts
  libs/file-upload/src/useFileUploads/utils.ts
  libs/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add packages for validation
  apps/back-office/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Define schemas and validation for client and server env variables
  apps/back-office/src/env/client.ts
  apps/back-office/src/env/schema.ts
  apps/back-office/src/env/server.ts
  apps/back-office/src/env/validate.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Utilize instrumentation.ts for server start validation
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Finish loading animation
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Prevent client - server spillover by extracting isFilePDF utility
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/isFilePDF.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove 'server-only' as it prevents normal server usage outside of react/next context
  apps/back-office/package.json
  apps/back-office/src/env/server.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement clientEnv/serverEnv
  apps/back-office/src/app/_api-client/proxy.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update lock file
  pnpm-lock.yaml
Due: none

Ensure an auth flow has been configured
  apps/back-office/src/env/schema.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix json syntax
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Separate server and auth envs
  apps/back-office/src/env/client.ts
  apps/back-office/src/env/schema.ts
  apps/back-office/src/env/server.ts
  apps/back-office/src/env/validate.ts
  apps/back-office/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent test failures with lazy get envs & config update
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set explicit utility boundary for server utils
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAdditionalQuestionsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAssetsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getContactData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getContactData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getLocationData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getLocationData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/index.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Spelling correction
  apps/back-office/src/env/client.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add proper screenreader copy for PDF opening action (#1415)
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/debounce.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToSlide.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIdToVisibleSlide.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Link to Image Slider page
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow linking to selected image
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
  apps/back-office/src/app/melding/[meldingId]/foto/Photos.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSliderThumbnails.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToCurrentSlideOnResize.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/scrollToSlide.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.ts
  apps/back-office/src/app/melding/[meldingId]/foto/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
