Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tim to PR labels review usernames
  .github/workflows/pr-label.yaml
Due: none

Fix 3 issues with the select location asset flow (#1486)
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_utils/getAssetIconSVG.test.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run prettier
  .github/workflows/pr-label.yaml
Due: none

Add tim to PR labels review usernames (#1494)
  .github/workflows/pr-label.yaml
Due: none

Revert "Apply the max 150 lines warning to js,jsx,ts,tsx,mjs,cjs"
  eslint.config.mjs
  eslint/common.mjs
  eslint/file-types.mjs
  eslint/frameworks.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move rule to shared block
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add warning when ts or tsx files exceed 150 lines (#1492)
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add BO error.tsx to catch app errors
  apps/back-office/src/app/_components/ErrorPage.module.css
  apps/back-office/src/app/_components/ErrorPage.test.tsx
  apps/back-office/src/app/_components/ErrorPage.tsx
  apps/back-office/src/app/error.tsx
  apps/back-office/translations/nl.json
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use combobox input styling
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw errors from [meldingId] page.tsx after failed calls Initial introduction and integration to the error.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix combobox options sizing
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Only show description when valid classification is selected
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Derive classification using the value, instead of keeping it in state
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix link between invalid form alert and classification input
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary check
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly connect label to input
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Render paragraph as Design System paragraph
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use name to select a value, instead of an id
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reuse mock data
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reuse mock classification data, extend test
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add category name to reclassification notes (#1477)
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary fallback
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Replace select form field by combobox in the melding reclassification form (#1475)
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/mocks/data.ts
  apps/back-office/translations/nl.json
  apps/back-office/vitest.setup.ts
  apps/melding-form/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add Meldingen specific SimpleForm
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.css
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Address PR comments
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/ClassificationForm.css
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
  apps/admin/src/pages/classification/classification-config.ts
  apps/admin/src/pages/classification/classification-hooks.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add global style overrides
  apps/admin/src/app/Admin.css
  apps/admin/src/app/Admin.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use MeldingenSimpleForm for other SimpleForms
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/static-form/ContactForm.tsx
  apps/admin/src/pages/static-form/PrimaryForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Expose combobox API
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add module css
  apps/admin/src/pages/classification/ClassificationForm.module.css
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.module.css
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Implement meldigensimpleform
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/admin/src/pages/asset-types/AssetTypeFields.test.tsx
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
  apps/admin/src/pages/form/components/CreateEditForm.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move to correct field
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add min/max
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Get and show classification combobox - Including translation labels
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add ESLint rule to limit lines in source files, excluding test files
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Handle transition call from parent BO:MeldingForm
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/PrimaryField/PrimaryField.test.tsx
  apps/back-office/src/app/melden/_components/PrimaryField/PrimaryField.tsx
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert prop naming derivedClassification -> defaultValue
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Communicate prefetchedClassifications to edit combobox
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/ClassificationField/ClassificationField.test.tsx
  apps/back-office/src/app/melden/_components/ClassificationField/ClassificationField.tsx
  apps/back-office/src/app/melden/_components/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Abort the set address call when it is superseded
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.ts
  apps/melding-form/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Abort fetching the address options when the call is superseded
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
