Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix potential race condition
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract data fetching and deletion functions
  apps/melding-form/src/app/(map)/locatie/kies/_utils/deleteExistingAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/deleteExistingAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssetFeatures.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssetFeatures.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary span
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Parse meldingId once instead of thrice
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Post assets in parallel instead of sequential
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Specify correct type
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct type
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Style Back Office Detail page (#1322)
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Create /docs/guides
  AGENTS.md
  docs/guides/additional-questions-form-wizard.md
  docs/guides/creating-melding-as-behandelaar.md
  docs/guides/linting.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update getting started docs, add links to existing docs
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/guides/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename fetchAssetFeatures to fetchAssets
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add leading `./`
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make asset labels dynamic (#1327)
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/deleteExistingAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/deleteExistingAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add config fields to Admin
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/admin/src/pages/asset-types/AssetTypeFields.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing term for Back Office
  apps/admin/src/pages/asset-types/AssetTypeFields.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeFields.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add translations
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add dynamic texts to /location page
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make too many assets error text dynamic
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename prop, fix tests
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add assets to Back Office and fetch term from asset type config
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/index.ts
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor assetConfig to a single prop
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  apps/melding-form/src/types.d.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor MarkerSelectLayer
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct name for term in Back Office
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.ts
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reuse data, fix test
  apps/back-office/src/mocks/handlers.ts
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify name
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_components/AssetIcon/AssetIcon.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify type
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use consistent return type, use correct name
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use consistent return type
  apps/melding-form/src/app/(general)/locatie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use consistent return type in tests as well
  apps/back-office/src/app/melding/[meldingId]/_utils/getAssetsData.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove old ADR, add temp new one
  AGENTS.md
  docs/0006-monorepo-tooling.md
  docs/README.md
  docs/decisions/0004-use-pnpm-workspaces-for-the-frontend-monorepo.md
  docs/guides/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make fallback asset names translatable
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add extra explanation to getting started docs
  docs/guides/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rewrite ADR
  docs/decisions/0004-use-pnpm-workspaces-as-monorepo-manager.md
  docs/decisions/0004-use-pnpm-workspaces-for-the-frontend-monorepo.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Form.io ADR and form validation guide
  docs/0007-forms.md
  docs/decisions/0004-use-form-io-schema-and-builder-for-forms.md
  docs/decisions/0005-use-pnpm-workspaces-as-monorepo-manager.md
  docs/guides/form-validation.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
