Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add smoke test
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoading/MapLoading.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix timing issue
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
Due: prettier --check, stylelint --allow-empty-input

Change Props to ArgType
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change coockie to formData
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change mapper to use weergavenaam
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/types.d.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add custom error handling messages
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use PDOK free api only when address and coordinates are not present
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix utils tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix AddressInput test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add extra test case to AddressInput
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup code
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show loading indicator on Attachments page (#1106)
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Revert "Add custom error handling messages"
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change error message to hardcoded message
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename to MapLoadingIndicator
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use same translation file structure as we use elsewhere
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor pdok util function
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting error
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Resolved PR feedback
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Map loading state and show no-JavaScript error when JavaScript does not load (#1111)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/MapLoadingIndicator/MapLoadingIndicator.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/index.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Adjust addressInput test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct no-JS Alert text
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct no-JS Alert text (#1112)
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change no address translation
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

PDOK error handling on location map (#1104)
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/types.d.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename Loading to Placeholder
  libs/ui/src/FileList/FileListImage.module.css
  libs/ui/src/FileList/FileListImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix test
  libs/ui/src/FileList/FileListImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add comment
  apps/melding-form/src/app/(general)/bijlage/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run generate client
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply necessary changes. E.g. wfsByName becomes wfsById
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust body for patching additional questions
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Generate new api client and resolve breaking changes (#1116)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add minimun character validation with custom error message
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/types.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove custom JsonLogic input field
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
