Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Change step to go to bijlagen page
  apps/public/src/app/aanvullende-vragen/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Fix test
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Run api client gen
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Upgrade to 0.53.0
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  libs/api-client/src/core/ApiRequestOptions.ts
  libs/api-client/src/core/request.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Exclude openapi-ts updates from dependabot group
  .github/dependabot.yml
Due: none

Use optional label in form components
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

PR feedback
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update api client generator (#591)
  .github/dependabot.yml
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  libs/api-client/src/core/ApiRequestOptions.ts
  libs/api-client/src/core/request.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
  openapi-ts.config.ts
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Refactor FileUpload test
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Use custom types for component, do no destructure in renderer
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Refactor FileUpload test
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Refactor userEvent
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Upload files to backend (#590)
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.spec.tsx
  apps/public/src/app/aanvullende-vragen/page.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Do not upgrade MSW
  package-lock.json
  package.json
Due: none

Migrate to pnpm
  .github/workflows/ci.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update some mentions of npm
  README.md
  package.json
Due: markdownlint, prettier --check

Remove form-renderer from nx
  libs/form-renderer/.babelrc
  libs/form-renderer/.eslintrc.json
  libs/form-renderer/README.md
  libs/form-renderer/package.json
  libs/form-renderer/project.json
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/tsconfig.json
  libs/form-renderer/tsconfig.lib.json
  libs/form-renderer/tsconfig.spec.json
  libs/form-renderer/vite.config.ts
  libs/form-renderer/vitest.setup.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Remove form renderer from NX
  package.json
  pnpm-lock.yaml
Due: none

Add commands to root package.json
  libs/form-renderer/package.json
  package.json
Due: none

Add type check to lint staged
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

Rename requiredProps to defaultProps
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Use optional label in form components (#592)
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Rename spec to test
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Show coverage on test run
  .gitignore
  libs/form-renderer/vite.config.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Fix stylelint config
  .stylelintrc.json
Due: none

Basic setup list and edit pages
  apps/admin/src/app/Admin.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/src/pages/static-form/StaticFormList.tsx
  apps/admin/src/pages/static-form/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update api-client
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Fix stylelint, run it, clean up scripts
  .stylelintrc.json
  apps/public/src/app/bijlagen/_components/FileUpload.module.css
  package.json
Due: prettier --check, stylelint --allow-empty-input

Test
  README.md
Due: markdownlint, prettier --check

Setup pnmp for form-renderer library (#595)
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  .stylelintrc.json
  README.md
  apps/public/src/app/bijlagen/_components/FileUpload.module.css
  libs/form-renderer/.babelrc
  libs/form-renderer/.eslintrc.json
  libs/form-renderer/README.md
  libs/form-renderer/package.json
  libs/form-renderer/project.json
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
  libs/form-renderer/tsconfig.json
  libs/form-renderer/tsconfig.lib.json
  libs/form-renderer/tsconfig.spec.json
  libs/form-renderer/vite.config.ts
  libs/form-renderer/vitest.setup.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Set up label & description for editing static forms
  apps/admin/src/app/providers/dataProvider.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Translate 'static-form'
  apps/admin/src/app/providers/i18nProvider.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Remove builder input, it's a static form
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Setup static form edit page
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Remove disable button, translate field labels
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Sort imports
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add static forms to admin (#609)
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/dataProvider.ts
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/src/pages/static-form/StaticFormList.tsx
  apps/admin/src/pages/static-form/index.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update ra-keycloak
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

Remove NX from public app
  apps/admin/tsconfig.spec.json
  apps/public/.eslintrc.json
  apps/public/index.d.ts
  apps/public/jest.config.ts
  apps/public/jest.setup.ts
  apps/public/next.config.js
  apps/public/package.json
  apps/public/project.json
  apps/public/public/.gitkeep
  apps/public/src/app/Home.test.tsx
  apps/public/src/app/aanvullende-vragen/_components/BackLink.test.tsx
  apps/public/src/app/aanvullende-vragen/aanvullende-vragen.test.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.test.tsx
  apps/public/src/mocks/NextRouterContextProviderMock.tsx
  apps/public/tsconfig.json
  apps/public/tsconfig.spec.json
  apps/public/vitest.config.js
  apps/public/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Path conditions:
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  npx nx affected -t typecheck --exclude=api-client,form-renderer: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
