Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update Controls tests
  libs/map/src/Controls/Controls.test.tsx
  libs/map/src/Controls/Controls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add some tests, update coverage threshold
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.test.tsx
  libs/map/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add list of tests for MarkerSelectLayer
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove circulair dependency
  libs/map/src/Controls/Controls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Nextjs to 16 (#1021)
  apps/back-office/next-env.d.ts
  apps/back-office/package.json
  apps/back-office/src/middleware.ts
  apps/back-office/src/proxy.ts
  apps/melding-form/next-env.d.ts
  apps/melding-form/package.json
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.module.css
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/proxy.test.ts
  apps/melding-form/src/proxy.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Adjust image ratio
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove divider and resize title font
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add warning icon on error
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set max upload attempts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Find duplicate uploads and throw error
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make verwijder button smaller
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

accept webp image type
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add status/error message
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Change FileUpload types
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix image width
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use GitHub Flavored Markdown for Markdown linter
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix styling image and icons
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Change css names
  libs/ui/src/FileList/FileList.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix css mismatch in names
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases FileListItem
  libs/ui/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test issues Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up unnecessary data checks
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
  apps/back-office/src/app/page.tsx
  apps/melding-form/src/app/(general)/_utils/getMeldingData.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add max upload attempt test case
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingData.test.ts
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show correct max count
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change translation parameter name to maxFiles
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove obsolete Boolean() converter
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add required PR checks in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Do not throw error when prefilled answers cannot be fetched, add tests
  apps/melding-form/src/app/(general)/_utils/getMeldingData.test.ts
  apps/melding-form/src/app/(general)/_utils/getMeldingData.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update docs
  docs/0011-error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update GitHub PR template with DoD (#1022)
  .github/PULL_REQUEST_TEMPLATE.md
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add attachments to detail page
  apps/back-office/src/app/melding/[meldingId]/Detail.module.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Adjust page test with attachments
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases for attachment util function
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases in Detail component
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add AttachmentImage test
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add no attachments scenario to Detail test
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
