Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Get Contact page question labels and descriptions from back-end (#744)
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/contact/Contact.test.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/page.test.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/mockContactFormData.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use i18n for Contact page
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/translations/nl.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add specific label for contact summary
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/translations/nl.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/samenvatting/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add styling to fileInput (#751)
  libs/ui/src/FileInput/FileInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix label
  apps/public/translations/nl.json
Due: none

Use i18n for Attachments (#752)
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/translations/nl.json
  libs/ui/src/FileInput/FileInput.test.tsx
  libs/ui/src/FileInput/FileInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use i18n for Contact page (#754)
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.test.tsx
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/translations/nl.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add missing i18n ra admin translations
  apps/admin/src/app/providers/i18nProvider.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set min-height to map
  apps/public/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Get Attachments texts from back-end
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/translations/nl.json
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use same styling for all descriptions
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/mockContactFormData.json
  apps/public/src/mocks/mockFormData.json
  apps/public/translations/nl.json
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set min-height to map (#755)
  apps/public/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Extract typeguard
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/typeguards.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use API proxy in public app
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Get Attachments texts from back-end (#756)
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/public/src/app/(general)/bijlage/Attachments.test.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/mocks/handlers.ts
  apps/public/src/mocks/mockContactFormData.json
  apps/public/src/mocks/mockFormData.json
  apps/public/src/typeguards.ts
  apps/public/translations/nl.json
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Have getAddressFromCoordinates return a string instead of an object
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Setup ESLint 9
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .markdownlint.json
  .markdownlintignore
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/back-office/.eslintrc.json
  apps/public/.eslintrc.json
  eslint.config.mjs
  libs/form-builder/.eslintrc.json
  libs/form-builder/src/translations/nl.json
  libs/form-renderer/.eslintrc.json
  libs/markdown-to-html/.eslintignore
  libs/markdown-to-html/.eslintrc.json
  libs/ui/.eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Create nextauth v4 poc
  apps/back-office/.env.local
  apps/back-office/package.json
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/api/auth/[...nextauth].ts
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/providers.tsx
  apps/back-office/src/middleware.ts
  apps/back-office/types/node-env.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Install next-auth
  apps/back-office/package.json
  pnpm-lock.yaml
Due: none

Setup auth provider with Keycloak
  apps/back-office/.env.local
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/types/node-env.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Secure application and wrap root in <Provider /> to access hooks
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/providers.tsx
  apps/back-office/src/middleware.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

wip
  apps/back-office/package.json
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/api/auth/[...nextauth].ts
  apps/back-office/src/app/api/auth/[...nextauth]/route.ts
  apps/back-office/types/next-auth.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add Next ESLint plugin
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update config
  eslint.config.mjs
Due: none

Add rules
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  eslint.config.mjs
  libs/form-renderer/src/FormRenderer.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Re-add prefer-arrow-functions
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

Add eslintConfigPrettier in correct place, without compat
  eslint.config.mjs
Due: none

Add flat Prettier config
  eslint.config.mjs
Due: none

Run `next lint` on staged files
  apps/public/.lintstagedrc.js
  apps/public/.lintstagedrc.json
Due: none

Update lint-staged config
  apps/public/.lintstagedrc.mjs
Due: none

Run `next lint` on files in Next apps
  apps/public/.lintstagedrc.mjs
  eslint.config.mjs
Due: none

Run `next lint` in back office as well
  apps/back-office/.lintstagedrc.json
  apps/back-office/.lintstagedrc.mjs
Due: none

Update deps
  package.json
  pnpm-lock.yaml
Due: none

Fix markdown lint
  eslint.config.mjs
Due: none

Move all linting to root
  apps/admin/package.json
  apps/back-office/.lintstagedrc.mjs
  apps/back-office/package.json
  apps/public/.lintstagedrc.mjs
  apps/public/package.json
  eslint.config.mjs
  libs/form-builder/package.json
  libs/form-renderer/package.json
  libs/markdown-to-html/package.json
  libs/ui/package.json
  package.json
Due: none

Fix pages warning
  eslint.config.mjs
Due: none

Actually use rules
  eslint.config.mjs
  libs/form-renderer/src/FormRenderer.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit
