Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Refactor NotesOverview
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Clarify tests
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Strengthen assertion
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use unordered list for slightly improved semantics
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Strengthen assertion"
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove incorrect aria-required
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Keep translations in order of appearance
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Increase margin below label and toolbar
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update labels
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Copy useKeyboardFocus into repo, allow using both horizontal and vertical keys
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/_components/RichTextEditor/useKeyboardFocus.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/useKeyboardFocus.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make Undo and List icons larger
  apps/back-office/src/app/_components/RichTextEditor/ListIcon.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/_components/RichTextEditor/UndoIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add extra margin below label
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make rich text editor toolbar easier to use (#1361)
  apps/back-office/src/app/_components/RichTextEditor/ListIcon.tsx
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.module.css
  apps/back-office/src/app/_components/RichTextEditor/Toolbar.tsx
  apps/back-office/src/app/_components/RichTextEditor/UndoIcon.tsx
  apps/back-office/src/app/_components/RichTextEditor/useKeyboardFocus.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/useKeyboardFocus.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary prop
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary key
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Check if link is correct
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add update note page and link to it from note overview (#1360)
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use rich text editor in Medewerker Meldflow
  apps/back-office/src/app/melden/_components/NoteField/NoteField.tsx
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add rich text editor to Medewerker Meldflow (#1362)
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move label and error message to RichTextEditor and have click on label focus the editor
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/wijzigen/[noteId]/UpdateNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix regression with lists in notes
  apps/back-office/src/app/melding/[meldingId]/notities/_components/TipTapMarkdownToHtml.module.css
Due: prettier --check, stylelint --allow-empty-input

Use better url for updating notes
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use better url for updating notes (#1365)
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Simplify selectors
  apps/back-office/src/app/melding/[meldingId]/notities/_components/TipTapMarkdownToHtml.module.css
Due: prettier --check, stylelint --allow-empty-input

Have click on label focus the rich text editor (#1363)
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.test.tsx
  apps/back-office/src/app/_components/RichTextEditor/RichTextEditor.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.test.tsx
  apps/back-office/src/app/melden/_components/NoteField/NoteField.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix regression with lists in notes (#1364)
  apps/back-office/src/app/melding/[meldingId]/notities/_components/TipTapMarkdownToHtml.module.css
Due: prettier --check, stylelint --allow-empty-input

Extract InvalidFormAlert for Home and Additional Questions
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/_components/InvalidFormAlert/InvalidFormAlert.tsx
  apps/melding-form/src/app/_components/index.ts
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.test.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract InvalidFormAlert for Location
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract InvalidFormAlert for Attachments
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract InvalidFormAlert for Contact
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use same pattern in back office
  apps/back-office/src/app/_components/InvalidFormAlert.tsx
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/_components/InvalidFormAlert/InvalidFormAlert.test.tsx
  apps/back-office/src/app/_components/InvalidFormAlert/InvalidFormAlert.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/_components/InvalidFormAlert/InvalidFormAlert.test.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract SystemErrorAlert and rename to ApiErrorAlert
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert/SystemErrorAlert.test.tsx
  apps/melding-form/src/app/(general)/_components/SystemErrorAlert/SystemErrorAlert.tsx
  apps/melding-form/src/app/(general)/_components/index.ts
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/_components/ApiErrorAlert/ApiErrorAlert.tsx
  apps/melding-form/src/app/_components/index.ts
  apps/melding-form/src/types.d.ts
  apps/melding-form/translations/nl.json
  libs/ui/src/ApiErrorAlert/ApiErrorAlert.module.css
  libs/ui/src/ApiErrorAlert/ApiErrorAlert.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Extract ApiErrorAlert for all form pages
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/actions.test.ts
  apps/melding-form/src/app/(general)/bijlage/actions.ts
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/locatie/actions.test.tsx
  apps/melding-form/src/app/(general)/locatie/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct format
  apps/melding-form/src/app/(general)/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add and fix tests
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/contact/Contact.test.tsx
  apps/melding-form/src/app/(general)/locatie/Location.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/_components/ApiErrorAlert/ApiErrorAlert.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  libs/ui/src/ApiErrorAlert/ApiErrorAlert.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Replace SystemErrorAlert with ApiErrorAlert in Back Office as well
  apps/back-office/src/app/_components/ApiErrorAlert/ApiErrorAlert.test.tsx
  apps/back-office/src/app/_components/ApiErrorAlert/ApiErrorAlert.tsx
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.module.css
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.test.tsx
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/UpdateNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/[noteId]/wijzigen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/src/types.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use ApiErrorAlert on other form pages as well, fix tests
  apps/back-office/src/app/_components/ApiErrorAlert/ApiErrorAlert.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input
