Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Extract formatDateTime to utility
  apps/back-office/src/app/_utils/formatDateTime.test.ts
  apps/back-office/src/app/_utils/formatDateTime.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Corrects date not showing for additional questions in back-office (#1397)
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add workplace settings that apply formatting and linter rules on save
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Create base page for AddAttachment flow
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create styled skeleton of mobile AddAttachment
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add file-upload package to back-office
  apps/back-office/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add new add-attachment translation keys
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Handle file upload and deletion - decompose filelist
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add delete-notification translation key
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve test description
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add linting config to workspace settings as described in docs. Remove from docs.
  .vscode/settings.json
  docs/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add VSCode workspace settings that apply formatting and linter rules when saving a file (#1402)
  .vscode/settings.json
  docs/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Increase the map's zoom-level by making use of RD coordinates
  libs/map/package.json
  libs/map/src/Map/Map.tsx
  libs/map/src/Map/utils/getCrsRd.ts
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add unit tests for new util
  libs/map/src/Map/utils/getCrsRd.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply eslint rules to imports
  libs/map/src/Map/utils/getCrsRd.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  libs/map/src/Map/utils/getCrsRd.test.ts
  libs/map/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix threshold for select-layer as well
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent appending to caller-owned state
  libs/map/src/Map/utils/getCrsRd.test.ts
  libs/map/src/Map/utils/getCrsRd.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

WIP
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update libs/map/src/Map/Map.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  libs/map/src/Map/utils/getCrsRd.test.ts
  libs/map/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix ts css asset declaration warning by using standard Vite-provided declarations for *.css
  libs/map/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set zoom-levels to same as v1
  libs/map/src/Map/Map.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

7520 zoomniveau v 2 kaart bij locatie kiezen te beperkt (#1398)
  libs/map/package.json
  libs/map/src/Map/Map.tsx
  libs/map/src/Map/utils/getCrsRd.test.ts
  libs/map/src/Map/utils/getCrsRd.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  libs/map/tsconfig.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add PDF attachment component for Detail
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Ensure PDF gets returned correctly
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Render AttachmentPDF in Detail view
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct Blob revoke
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add attachment call type check
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test for revoke blob url
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correction AddAttachment import
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Disable delete button when no onDelete is passed
  libs/file-upload/src/FileList/FileListItem.test.tsx
  libs/file-upload/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add server action support to file-upload
  libs/file-upload/src/index.ts
  libs/file-upload/src/useFileUploads/startServerActionUpload.ts
  libs/file-upload/src/useFileUploads/startUpload.ts
  libs/file-upload/src/useFileUploads/useFileUploads.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests to server action file-upload
  libs/file-upload/src/useFileUploads/startServerActionUpload.test.ts
  libs/file-upload/src/useFileUploads/useFileUploads.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix dangling typo
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

file-upload: Break shared types and utilities out
  libs/file-upload/src/index.ts
  libs/file-upload/src/useFileUploads/startServerActionUpload.test.ts
  libs/file-upload/src/useFileUploads/startServerActionUpload.ts
  libs/file-upload/src/useFileUploads/startUpload.test.ts
  libs/file-upload/src/useFileUploads/startUpload.ts
  libs/file-upload/src/useFileUploads/types.ts
  libs/file-upload/src/useFileUploads/useFileUploads.test.ts
  libs/file-upload/src/useFileUploads/useFileUploads.ts
  libs/file-upload/src/useFileUploads/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

file-upload: Improve code comment
  libs/file-upload/src/useFileUploads/useFileUploads.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Subscribe to components and update form instead of recreation
  apps/admin/src/pages/form/components/BuilderInput.test.tsx
  apps/admin/src/pages/form/components/BuilderInput.tsx
  libs/form-builder/src/FormBuilder.test.tsx
  libs/form-builder/src/FormBuilder.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add explicit workspace setting to prevent override by user settings
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check
