Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Set test coverage thresholds
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add translations, add missing CSS
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/translations/nl.json
  libs/form-builder/src/visually-hidden.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix bug with hidden maxCharCount field
  libs/form-builder/src/components/Textarea/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move comment
  libs/form-builder/src/components/Textarea/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve test descriptions
  libs/form-builder/src/components/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Normalize values
  libs/form-builder/src/components/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Run prettier
  libs/form-builder/src/components/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convert maxCharCount field to type number
  libs/form-builder/src/components/Textarea/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add simple interface to Admin for setting min and max characters in Textfield and Textarea (#1132)
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.test.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/components/types.d.ts
  libs/form-builder/src/components/utils.test.ts
  libs/form-builder/src/components/utils.ts
  libs/form-builder/src/translations/nl.json
  libs/form-builder/src/visually-hidden.css
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fetch possible states from back end and show in form
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up translations
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix translations
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add mapping to endpoint
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show error message
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Consistently use states, not transitions
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add error when state from form is not in hardcoded list of states
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add second error
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and add tests
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/page.test.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move constants to separate file, show Alert above title
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/constants.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move back link to correct position
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix test
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix typo, clean up useeffect
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Skip API call when state from form is the same as current state
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add back link as separate link again
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/CancelLink.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Rename awaiting_processing to processing_requested
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/constants.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify error type map
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update AGENTS.md
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update to Node 24
  .nvmrc
  Dockerfile
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update to Node 24 (#1135)
  .nvmrc
  Dockerfile
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/melding-form/src/app/(general)/bijlage/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use new name for state
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Style layout and Overview page
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
  libs/ui/src/PageHeader/PageHeader.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Style Change State page
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Move Header to separate component
  apps/back-office/src/app/_components/Header.tsx
  apps/back-office/src/app/layout.tsx
  libs/ui/src/PageHeader/PageHeader.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use Next Link for client side navigation
  apps/back-office/src/app/layout.tsx
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add translation for menu item
  apps/back-office/src/app/layout.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add smoke test
  apps/back-office/src/app/_components/Header.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use ADS conventions in component
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify changes to Change State page
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input
