Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update apps/melding-form/src/app/(map)/locatie/kies/_components/_utils/buildWfsLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/_utils/buildWfsLayer.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Resolved PR feedback
  apps/melding-form/package.json
  apps/melding-form/src/app/(map)/locatie/kies/_components/_utils/updateWfsLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/_utils/updateWfsLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting error
  apps/melding-form/src/app/(map)/locatie/kies/_components/_utils/buildWfsLayer.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move all map related stuff to same folder
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Crosshair/Crosshair.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Crosshair/Crosshair.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Crosshair/Crosshair.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Marker/Marker.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/addAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/buildWfsLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/buildWfsLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/getContainerFeatureIcon.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/getContainerFeatureIcon.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/getWfsFilter.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/getWfsFilter.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/index.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/map-markers.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateWfsLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateWfsLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add default marker icon to markerIcons file
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Marker/Marker.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/markerIcons.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/getContainerFeatureIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused dependency
  apps/melding-form/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use page pattern for id and token cookies
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename updateAssetLayer util function
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAndAddAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAndAddAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/index.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateWfsLayer.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary cleanup, add comment
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Align mock setup in tests somewhat
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAndAddAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add editForm config, remove unused dependency
  apps/admin/package.json
  apps/admin/src/pages/form/components/BuilderInput.tsx
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Radio/Radio.tsx
  libs/form-builder/src/components/Select/Select.tsx
  libs/form-builder/src/components/SelectBoxes/SelectBoxes.tsx
  libs/form-builder/src/components/Textarea/Textarea.tsx
  libs/form-builder/src/components/Textfield/Textfield.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Inline type
  apps/admin/src/pages/form/components/BuilderInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary ESLint command
  libs/form-builder/src/components/Textarea/Textarea.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use vanilla JS Formio Builder instead of React version (#897)
  apps/admin/package.json
  apps/admin/src/pages/form/components/BuilderInput.tsx
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Radio/Radio.tsx
  libs/form-builder/src/components/Select/Select.tsx
  libs/form-builder/src/components/SelectBoxes/SelectBoxes.tsx
  libs/form-builder/src/components/Textarea/Textarea.tsx
  libs/form-builder/src/components/Textfield/Textfield.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

docker config for backoffice, keycloak connection not working yet
  Dockerfile
  docker-compose.yml
Due: none

Add required question validation to all form components
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/translations/nl.json
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow linking to first Radio or Checkbox from Invalid Form Alert
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

add args dynamically in docker compose
  docker-compose.yml
Due: none

Add unit tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Select/Select.test.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.test.tsx
  libs/form-renderer/src/components/TextInput/TextInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove comment
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

working dynamic docker config for keycloak
  Dockerfile
  apps/back-office/.env
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/_authentication/node-env.d.ts
  docker-compose.yml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

rename back_office to back_office_meldingen
  Dockerfile
  docker-compose.yml
Due: none

Add Docker config for backoffice with dynamic keycloak config (#898)
  Dockerfile
  apps/back-office/.env
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/_authentication/node-env.d.ts
  docker-compose.yml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move focus and doc title logic to page
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.module.css
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.test.tsx
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.tsx
  libs/ui/src/InvalidFormAlert/index.ts
  libs/ui/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

adds todo comment
  docker-compose.yml
Due: none

set build args to env variables
  Dockerfile
Due: none

Translate doc title error count label
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

comment out build args altogether
  Dockerfile
  docker-compose.yml
Due: none

Show custom validation errors
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify mapValidationErrors
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

remove build args
  Dockerfile
  docker-compose.yml
Due: none

Add tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Switch if and else sections in test
  libs/form-renderer/src/FormRenderer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract util function
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add comment
  libs/ui/src/InvalidFormAlert/InvalidFormAlert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move InvalidFormAlert to top of main container
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
