Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Convert to an unordered list, memoize object url creation
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileList.tsx
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Clean up HTML and rename CSS classes
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary keys
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove status Badge
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  libs/ui/src/FileList/FileList.test.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/formatFileSize.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update coverage thresholds
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Mock useIsAfterBreakpoint instead of matchMedia
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary keys (#966)
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix display for when CSS does not load
  libs/ui/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Upgrade react and react-dom to v19.0.0
  libs/form-builder/src/components/Textarea/SelectBoxes.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure Combobox rerenders when address is set using keyboard on map
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Upgrade react and react-dom to v19.1
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove accidental code
  libs/form-builder/src/components/Textarea/SelectBoxes.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update types
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Restructure Attachments page
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix some typing issues
  apps/admin/src/app/providers/useAuthProvider.ts
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.ts
  libs/markdown-to-html/src/MarkdownToHtml.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure Combobox rerenders when address is set using keyboard on map (#968)
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use frozen lockfile in workflow, remove unused package from Dependabot workflow
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Add new File List component (#967)
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  libs/ui/src/FileList/FileList.module.css
  libs/ui/src/FileList/FileList.test.tsx
  libs/ui/src/FileList/FileList.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/FileList/FileListItem.tsx
  libs/ui/src/FileList/formatFileSize.test.ts
  libs/ui/src/FileList/formatFileSize.ts
  libs/ui/src/index.ts
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use frozen lockfile in workflow, remove unused package from Dependabot workflow (#973)
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Fix all tests
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Restructure Attachments page (#969)
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove obsolete fileList class
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
Due: prettier --check, stylelint --allow-empty-input

Upgrade to React 19 (#970)
  apps/admin/src/app/providers/useAuthProvider.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/page.test.tsx
  apps/melding-form/src/app/(general)/_utils/useSetFocusOnInvalidFormAlert.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/contact/page.test.tsx
  apps/melding-form/src/app/(general)/locatie/page.test.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/markdown-to-html/src/MarkdownToHtml.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove obsolete fileList class (#974)
  apps/melding-form/src/app/(general)/bijlage/Attachments.module.css
Due: prettier --check, stylelint --allow-empty-input

Set up upload progress tracking and error handling
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly delete files with different statusses
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return error from BE
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reset file input when upload starts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use fixed options instead of general string in type, update comment
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clear coordinates when input is empty to remove marker
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test cases
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do no throw Not Found error on additional questions api
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Explicitly tell next which lock-file is the root
  apps/back-office/next.config.ts
  apps/melding-form/next.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Re-add showListBox boolean
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
