Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Handle undefined response
  apps/back-office/src/app/melden/_utils/hasValidationErrors.ts
  apps/back-office/src/app/page.tsx
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove manual update script
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Classify Melding on blur in Back Office (#1277)
  Dockerfile
  apps/back-office/.env
  apps/back-office/src/app/ApiClientInitializer.test.tsx
  apps/back-office/src/app/ApiClientInitializer.tsx
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/layout.tsx
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/app/melden/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract shared type
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add source to first page in Back Office melding flow
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/translations/nl.json
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate hardcoded error message
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly check if sources exist
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and add tests
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract repeated form data in test
  apps/back-office/src/app/melden/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Extract and reuse sources definition
  apps/back-office/src/app/melden/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Define that source is a required field
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw separate error when sources list is empty
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update and regenerate API client (#1292)
  apps/back-office/src/app/melden/_utils/hasValidationErrors.ts
  apps/back-office/src/app/page.tsx
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove manual update script (#1293)
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update to v3, fix issues
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/PageSizeSelect.tsx
  apps/melding-form/src/app/_components/Footer/Footer.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use correct margin for h1s around Label
  libs/form-renderer/src/components/Select/Select.module.css
  libs/form-renderer/src/components/TextArea/TextArea.module.css
  libs/form-renderer/src/components/TextInput/TextInput.module.css
Due: prettier --check, stylelint --allow-empty-input

Update to v4, fix issues
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/global.css
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary component, fix tests
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/vitest.setup.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/layout.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/vitest.setup.ts
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
  libs/ui/src/FieldSet/FieldSet.module.css
  libs/ui/src/FieldSet/FieldSet.test.tsx
  libs/ui/src/FieldSet/FieldSet.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/index.ts
  libs/ui/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary override
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
Due: prettier --check, stylelint --allow-empty-input

Add overrides to fix security issues
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Test if heading is rendered for Field Sets
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add body-level font family back
  apps/back-office/src/app/global.css
Due: prettier --check, stylelint --allow-empty-input

Add architectural decisions records README, convert first 3 docs to new format (#1288)
  docs/0001-libraries-and-frameworks.md
  docs/0002-type-safety.md
  docs/README.md
  docs/decisions/0001-use-next-js-as-front-end-framework.md
  docs/decisions/0002-use-typescript-for-type-safety.md
  docs/decisions/README.md
  docs/decisions/XXXX-use-vite-for-admin-application.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update react-router-dom, add tests
  apps/admin/package.json
  apps/admin/src/pages/classification/ClassificationList.test.tsx
  apps/admin/src/pages/classification/ClassificationList.tsx
  apps/admin/src/pages/form/components/FormList.test.tsx
  apps/admin/src/pages/form/components/FormList.tsx
  apps/admin/src/pages/static-form/StaticFormList.test.tsx
  apps/admin/src/pages/static-form/StaticFormList.tsx
  apps/admin/vite.config.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Specify which version of react-router to use
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Return error when console is used
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add labels to Detail page
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add labels to Details page
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/page.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
  apps/back-office/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Rethrow Next redirect error so API client doesn't swallow it
  apps/back-office/src/apiClientProxy.ts
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add contributing docs, update PR template (#1283)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rethrow Next redirect error so API client doesn't swallow it (#1298)
  apps/back-office/src/apiClientProxy.ts
  apps/back-office/src/app/_authentication/authOptions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/ChangeLabels.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add source to Detail page
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/back-office/src/mocks/data.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove duplicate test
  apps/back-office/src/app/melden/MeldingForm.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary trailing slash
  apps/back-office/src/mocks/endpoints.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure label ids are unique
  apps/back-office/src/app/melding/[meldingId]/wijzig-labels/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Amsterdam Design System packages, remove outdated overrides (#1294)
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/PageSizeSelect.tsx
  apps/back-office/src/app/global.css
  apps/back-office/src/app/layout.test.tsx
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-urgentie/ChangeUrgency.tsx
  apps/back-office/vitest.setup.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/layout.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/melding-form/src/app/_components/Footer/Footer.tsx
  apps/melding-form/vitest.setup.ts
  libs/form-renderer/src/components/Checkbox/Checkbox.test.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.test.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.module.css
  libs/form-renderer/src/components/TextArea/TextArea.module.css
  libs/form-renderer/src/components/TextInput/TextInput.module.css
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
  libs/ui/src/FieldSet/FieldSet.module.css
  libs/ui/src/FieldSet/FieldSet.test.tsx
  libs/ui/src/FieldSet/FieldSet.tsx
  libs/ui/src/FileList/FileListItem.test.tsx
  libs/ui/src/index.ts
  libs/ui/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add 'source' to first page in Back Office melding flow (#1291)
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.test.ts
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melden/page.test.tsx
  apps/back-office/src/app/melden/page.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add overrides to fix security issues (#1295)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check
