Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Convert sessions management doc to guide
  docs/guides/session-management-and-authentication.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move directory structure docs to /code-conventions
  docs/code-conventions/directory-structure.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add progressive enhancement ADR
  docs/0010-progressive-enhancement.md
  docs/decisions/0006-apply-progressive-enhancement.md
  docs/decisions/0007-use-vite-for-admin-application.md
  docs/decisions/0008-link-back-office-to-melding-form-to-create-melding-as-behandelaar.md
  docs/guides/progressive-enhancement.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary doc
  docs/decisions/0006-apply-progressive-enhancement.md
  docs/guides/progressive-enhancement.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move error handling docs to correct directory
  docs/guides/error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reorganise docs
  docs/getting-started.md
  docs/linting.md
  docs/patterns/additional-questions-form-wizard.md
  docs/patterns/creating-melding-as-behandelaar.md
  docs/patterns/error-handling.md
  docs/patterns/form-validation.md
  docs/patterns/session-management-and-authentication.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix broken links
  docs/CONTRIBUTING.md
  docs/patterns/creating-melding-as-behandelaar.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move linting doc to getting-started.md
  docs/README.md
  docs/getting-started.md
  docs/linting.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make linting section a bit more concise
  docs/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use link instead of text
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add sentence on how to add new library
  docs/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix link
  docs/decisions/0004-use-form-io-schema-and-builder-for-forms.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update AGENTS.md
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add getting started docs (#1328)
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/guides/additional-questions-form-wizard.md
  docs/guides/creating-melding-as-behandelaar.md
  docs/guides/getting-started.md
  docs/guides/linting.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Form.io ADR and form validation guide
  docs/0007-forms.md
  docs/decisions/0004-use-form-io-schema-and-builder-for-forms.md
  docs/decisions/0005-use-pnpm-workspaces-as-monorepo-manager.md
  docs/guides/form-validation.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add extra explanation to getting started docs
  docs/guides/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove old ADR, add temp new one
  AGENTS.md
  docs/0006-monorepo-tooling.md
  docs/README.md
  docs/decisions/0004-use-pnpm-workspaces-for-the-frontend-monorepo.md
  docs/guides/getting-started.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rewrite ADR
  docs/decisions/0004-use-pnpm-workspaces-as-monorepo-manager.md
  docs/decisions/0004-use-pnpm-workspaces-for-the-frontend-monorepo.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reorganise docs folder, convert remaining 'old style' ADRs (#1333)
  AGENTS.md
  docs/0006-monorepo-tooling.md
  docs/0007-forms.md
  docs/0010-progressive-enhancement.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/code-conventions/directory-structure.md
  docs/decisions/0004-use-form-io-schema-and-builder-for-forms.md
  docs/decisions/0005-use-pnpm-workspaces-as-monorepo-manager.md
  docs/decisions/0006-apply-progressive-enhancement.md
  docs/decisions/0007-use-vite-for-admin-application.md
  docs/decisions/0008-link-back-office-to-melding-form-to-create-melding-as-behandelaar.md
  docs/getting-started.md
  docs/guides/linting.md
  docs/patterns/additional-questions-form-wizard.md
  docs/patterns/creating-melding-as-behandelaar.md
  docs/patterns/error-handling.md
  docs/patterns/form-validation.md
  docs/patterns/session-management-and-authentication.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update API client
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/auth.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/core/pathSerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update API client (#1335)
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/auth.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/core/pathSerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update README.md
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow adding notes to Melding
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/page.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add form to allow adding notes
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/page.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Move FormState type higher up
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/actions.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
  apps/back-office/src/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move InvalidFormAlert and SystemErrorAlert to higher level
  apps/back-office/src/app/_components/InvalidFormAlert.tsx
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.module.css
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.test.tsx
  apps/back-office/src/app/_components/SystemErrorAlert/SystemErrorAlert.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/index.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add tests
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/AddNote.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/notities/toevoegen/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
