Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix param type
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix PR comments
  apps/back-office/package.json
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getIsReclassificationNotAllowed.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/index.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/constants.ts
  apps/back-office/translations/nl.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update tests
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show Map behind Asset List and handle loading and empty states (#1463)
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/Loading.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/Loading.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
  apps/melding-form/translations/nl.json
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Describe how we mock API requests
  docs/code-conventions/testing.md
  docs/patterns/mocking-api-requests.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

PR comments
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/constants.ts
  apps/back-office/src/app/melding/[meldingId]/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix import
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Delete no longer valid prop in mock
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix some tests
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve naming
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getIsReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/index.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/isReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/isReclassificationAllowed.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert vitest NEXT_PUBLIC_BACKEND_BASE_URL due to exception with msw
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add admin envs validation
  apps/admin/src/env/client.ts
  apps/admin/src/env/schema.ts
  apps/admin/src/env/validate.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add validation pass at build and runtime - Allow for allowImportingTsExtensions to support Vite 'native' configLoader
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  apps/admin/vite/plugins/validateEnv.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adhere tests to mocking Api requests code conventions
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply clientEnv across apps/admin
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Convention related file renames to main export
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
  apps/admin/src/env/clientEnv.ts
  apps/admin/src/env/clientSchema.ts
  apps/admin/src/env/validateClientEnv.ts
  apps/admin/vite.config.ts
  apps/admin/vite/plugins/validateEnvPlugin.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Ensure supplied optional envs are not empty
  apps/admin/src/env/clientSchema.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Describe how we mock API requests (#1472)
  docs/code-conventions/testing.md
  docs/patterns/mocking-api-requests.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Introduce the extensions.json for vscode with essential extensions
  .vscode/extensions.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set correct attribute value when empty
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adds change-category flow to the Back Office melding detail area (#1455)
  apps/back-office/package.json
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/index.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/isReclassificationAllowed.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/server/isReclassificationAllowed.ts
  apps/back-office/src/app/melding/[meldingId]/constants.ts
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/constants.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/actions.ts
  apps/back-office/src/mocks/data.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
  apps/back-office/translations/nl.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Replace select by combobox in the melding reclassification form
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/_components/index.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Share libraries used by multiple apps
  apps/melding-form/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add stub to test resizing
  apps/back-office/vitest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create and use combobox component for melding reclassification
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

PR comments
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add rule that warns if missing lines between statements and auto-fixes warning on save
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent override by default setting
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add category name to reclassification notes
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.module.css
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Include soft-deleted categories as well to keep as much information as possible
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Introduce the extensions.json for vscode with essential extensions (#1474)
  .vscode/extensions.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove redundant getClientEnv()
  apps/admin/src/env/clientEnv.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove redundant `client` prefix in env The admin currently doesn't contain any server side code to necessitate the division
  apps/admin/src/app/providers/entraAuthConfig.ts
  apps/admin/src/app/providers/entraAuthProvider.ts
  apps/admin/src/app/providers/entraDataProvider.ts
  apps/admin/src/app/providers/keycloakAuthProvider.ts
  apps/admin/src/app/providers/keycloakDataProvider.ts
  apps/admin/src/env/env.ts
  apps/admin/src/env/schema.ts
  apps/admin/src/env/validateEnv.ts
  apps/admin/vite/plugins/validateEnvPlugin.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move Zod back to workspace package
  apps/back-office/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move Zod back to workspace package (#1478)
  apps/back-office/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update MF label copy to be more precise
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove redundant (un)stubs in MF tests
  apps/melding-form/src/app/_components/BackOfficeLayout/BackOfficeLayout.test.tsx
  apps/melding-form/src/app/bedankt/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

v8 ignore instrumentation file
  apps/melding-form/src/instrumentation.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
