Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Refactor SideBar action
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move deps to correct level
  apps/admin/package.json
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/public/package.json
  libs/form-renderer/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove unused deps
  package.json
  pnpm-lock.yaml
Due: none

Fix tests
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Get rid of Jest
  apps/admin/tsconfig.json
  libs/form-renderer/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

Update docs
  docs/0003-testing.md
Due: markdownlint, prettier --check

Refactor so buttons appear over the map
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ListView/ListView.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add vitest types
  apps/admin/tsconfig.json
Due: none

Cleanup code
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Remove unused dependencies, move dependencies to correct level (#690)
  apps/admin/package.json
  apps/admin/src/pages/form/components/BuilderInput.tsx
  apps/admin/tsconfig.json
  apps/public/package.json
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
  docs/0003-testing.md
  libs/form-renderer/tsconfig.json
  libs/form-renderer/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix test cases
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Css feedback
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add Stylelint plugin to check for existence of CSS custom properties
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Fix lockfile
  pnpm-lock.yaml
Due: none

Change asset list
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change padding to margin
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Hide map when Asset List is shown
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Implement Map design for small screens, add AssetList with toggle button (#684)
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add Stylelint plugin to check for existence of CSS custom properties (#692)
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Revert Next update
  apps/public/package.json
  pnpm-lock.yaml
Due: none

Fix stylelint issue
  .stylelintrc.json
Due: none

Update Next
  apps/public/package.json
  pnpm-lock.yaml
Due: none

Remove unnecessary mock
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Send Location data to backend (#689)
  apps/public/package.json
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/locatie/Locatie.test.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(general)/locatie/page.test.tsx
  apps/public/src/app/(general)/locatie/page.tsx
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Set marker based on coordinates
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests for wkt conversion function
  apps/public/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Decode and encode coordinate
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(general)/locatie/actions.ts
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.ts
  apps/public/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update vitest to 2.0.0
  apps/admin/vite.config.ts
  apps/public/vite.config.ts
  libs/form-renderer/vite.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update vitest to 3.0.0
  package.json
  pnpm-lock.yaml
Due: none

Update tests
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Use correct name and type
  apps/public/src/app/(general)/locatie/Locatie.test.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/locatie/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Rename coordinates
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.ts
  apps/public/src/app/(map)/locatie/kies/_utils/convertWktPointToCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Move Coordinates type to separate file
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
  apps/public/src/types.d.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add bedankt page
  apps/public/src/app/(general)/bedankt/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add meldingId to page
  apps/public/src/app/(general)/bedankt/Bedankt.tsx
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/bijlage/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Align use of null and undefined
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/AddressComboBox/AddressComboBox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix import
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix tests
  apps/public/src/app/(general)/bedankt/Bedankt.test.tsx
  apps/public/src/app/(general)/bedankt/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Path conditions:
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
