Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check", "tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Change ComboBox name step 1
  apps/public/src/app/(map)/locatie/kies/_components/Combo/Combo.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combo/Combo.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combo/Combo.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Change ComboBox name step 2
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/global.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Fix headless ui conflicting import
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Remove test css
  apps/public/src/app/global.css
Due: prettier --check, stylelint --allow-empty-input

Use root path for token check
  .stylelintrc.json
  stylelint.config.mjs
Due: none

Use root path for design tokens check (#708)
  .stylelintrc.json
  stylelint.config.mjs
Due: none

Change Number() to parseInt()
  apps/public/src/app/(general)/contact/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add contact page (#694)
  apps/public/src/app/(general)/bijlage/actions.ts
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/actions.ts
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/contact/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Enable listbox styling in ui package
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  libs/ui/package.json
  libs/ui/src/ListBox/ListBox.test.tsx
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/tsconfig.json
  libs/ui/vite.config.ts
  libs/ui/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update map layout
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/layout.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Add filter to query to fetch only 6 results
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

PR feedback
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/ListBox/ListBox.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Update libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/ListBox/ListBox.module.css
Due: prettier --check, stylelint --allow-empty-input

PR feedback
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
Due: prettier --check, stylelint --allow-empty-input

Make Combobox options overflow content (#707)
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  libs/ui/package.json
  libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/ListBox/ListBox.test.tsx
  libs/ui/src/ListBox/ListBox.tsx
  libs/ui/tsconfig.json
  libs/ui/vite.config.ts
  libs/ui/vitest.setup.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Fix small issues
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Simplify z-index use
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Map.module.css
  apps/public/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Add Locatie pin op kaart
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test case
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix map layout (#716)
  apps/public/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/Map.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.module.css
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
  apps/public/src/app/(map)/locatie/kies/layout.tsx
  apps/public/src/app/(map)/locatie/kies/page.module.css
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

PR feedback
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Change comment nearby location
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add title and description to all pages
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/Contact.test.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/locatie/page.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/layout.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add title to KiesLocatie
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.test.tsx
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add pin location on map (#717)
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.test.ts
  apps/public/src/app/(map)/locatie/kies/_utils/getAddressFromCoordinates.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add tests
  apps/public/src/app/(general)/page.test.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update back link styling
  apps/public/src/app/(general)/_components/BackLink.module.css
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Remove vi imports
  apps/admin/src/app/providers/dataProvider.test.ts
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
  apps/public/src/app/(general)/bedankt/page.test.tsx
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/locatie/Locatie.test.tsx
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/locatie/page.test.tsx
  apps/public/src/app/(general)/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  libs/form-renderer/src/FormRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add a title and description to all pages (#718)
  apps/admin/src/app/providers/dataProvider.test.ts
  apps/public/src/app/(general)/Home.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.test.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/page.tsx
  apps/public/src/app/(general)/bedankt/page.test.tsx
  apps/public/src/app/(general)/bedankt/page.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/page.test.tsx
  apps/public/src/app/(general)/bijlage/page.tsx
  apps/public/src/app/(general)/contact/Contact.test.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/contact/actions.test.ts
  apps/public/src/app/(general)/contact/page.test.tsx
  apps/public/src/app/(general)/contact/page.tsx
  apps/public/src/app/(general)/locatie/Locatie.test.tsx
  apps/public/src/app/(general)/locatie/actions.test.tsx
  apps/public/src/app/(general)/locatie/page.test.tsx
  apps/public/src/app/(general)/locatie/page.tsx
  apps/public/src/app/(general)/page.test.tsx
  apps/public/src/app/(general)/page.tsx
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.test.tsx
  apps/public/src/app/(map)/locatie/kies/KiesLocatie.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/Map.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.test.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/actions.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.test.tsx
  apps/public/src/app/(map)/locatie/kies/page.tsx
  apps/public/src/app/layout.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
  libs/form-renderer/src/FormRenderer.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Fix file upload
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
  apps/public/src/app/(general)/bijlage/actions.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Update back link styling, add back link with label to map page (#719)
  apps/public/src/app/(general)/_components/BackLink.module.css
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit, stylelint --allow-empty-input

Update ADS and layout
  apps/public/src/app/(general)/Home.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AanvullendeVragen.tsx
  apps/public/src/app/(general)/bedankt/Bedankt.tsx
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/layout.tsx
  apps/public/src/app/(general)/locatie/Locatie.tsx
  libs/ui/src/Footer/Footer.tsx
  libs/ui/src/Header/Header.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Mock matchMedia
  apps/public/src/app/(general)/layout.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Make FileUpload use actions
  apps/public/src/app/(general)/bijlage/Bijlage.tsx
  apps/public/src/app/(general)/bijlage/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit

Add test case to FileUpload
  apps/public/src/app/(general)/bijlage/_components/FileUpload.test.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, tsc-files --noEmit
