Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove unnecessary type
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove broken search filter
  apps/admin/src/pages/classification/ClassificationList.tsx
  apps/admin/src/pages/form/components/FormList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add asset type to Admin (#1004)
  apps/admin/src/app/Admin.tsx
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/admin/src/pages/asset-types/AssetTypeList.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeList.tsx
  apps/admin/src/pages/asset-types/index.ts
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/form/components/FormList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases editForms
  libs/form-builder/src/components/Radio/editForm.test.ts
  libs/form-builder/src/components/Select/editForm.test.ts
  libs/form-builder/src/components/SelectBoxes/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textfield/editForm.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update validation examples
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add session management docs (#1011)
  docs/0008-authentication.md
  docs/0008-session-management-and-authentication.md
  docs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Run generate client
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Bump hey-api and generate new client
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add separate map lib
  libs/map/README.md
  libs/map/package.json
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.tsx
  libs/map/src/PointSelectLayer/Crosshair.module.css
  libs/map/src/PointSelectLayer/Crosshair.test.tsx
  libs/map/src/PointSelectLayer/Crosshair.tsx
  libs/map/src/index.ts
  libs/map/tsconfig.json
  libs/map/vite.config.ts
  libs/map/vitest.setup.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add context provider
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update hey api package 0.86.7 (#1017)
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/index.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add PointSelectLayer component
  libs/map/src/Map/Map.tsx
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  libs/map/src/index.ts
  libs/map/src/markerIcons.ts
  libs/map/src/types.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add MarkerSelectLayer
  libs/map/package.json
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/cluster.css
  libs/map/src/MarkerSelectLayer/utils/getContainerFeatureIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerFeatureIcon.ts
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.test.ts
  libs/map/src/MarkerSelectLayer/utils/getWfsFilter.ts
  libs/map/src/index.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use constructor instead of function
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add required error text message field to form builder components (#1012)
  libs/form-builder/src/components/Radio/editForm.test.ts
  libs/form-builder/src/components/Radio/editForm.ts
  libs/form-builder/src/components/Select/editForm.test.ts
  libs/form-builder/src/components/Select/editForm.ts
  libs/form-builder/src/components/SelectBoxes/editForm.test.ts
  libs/form-builder/src/components/SelectBoxes/editForm.ts
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.test.ts
  libs/form-builder/src/components/Textfield/editForm.ts
  libs/form-builder/src/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove layer on markers change
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Install next 16 and change middleware
  apps/back-office/next-env.d.ts
  apps/back-office/package.json
  apps/back-office/src/middleware.ts
  apps/back-office/src/proxy.ts
  apps/melding-form/next-env.d.ts
  apps/melding-form/package.json
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/bijlage/page.tsx
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  apps/melding-form/src/middleware.test.ts
  apps/melding-form/src/proxy.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix css modules issues
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/components/ControlsOverlay/ControlsOverlay.module.css
Due: prettier --check, stylelint --allow-empty-input

Allow markers to be selected
  libs/map/package.json
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/utils/getContainerFeatureIcon.module.css
  libs/map/src/MarkerSelectLayer/utils/getContainerFeatureIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerFeatureIcon.ts
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Change middleware test to proxy
  apps/admin/src/pages/form/components/ClassificationInput.tsx
  apps/melding-form/src/proxy.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove console.log
  apps/admin/src/pages/form/components/ClassificationInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Controls component, implement in SelectLocation
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/Controls/Controls.module.css
  libs/map/src/Controls/Controls.test.tsx
  libs/map/src/Controls/Controls.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Delete selected markers on selected point change
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update PR template with dod
  .github/PULL_REQUEST_TEMPLATE.md
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Do not set point marker when there are selected assets
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust github template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update comment
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add classification to fetch function
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix bug with hiding map
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rephrase template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix tests
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up test file
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add to the github template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update validation examples (#1013)
  libs/form-builder/src/components/Textarea/editForm.ts
  libs/form-builder/src/components/Textfield/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test leaflet instance by passing mock instance as prop
  libs/map/src/Controls/Controls.test.tsx
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
  libs/map/src/PointSelectLayer/Crosshair.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
