Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add icon to checkbox label
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/getContainerFeatureIconSVG.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix geometrytyping issue
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make asset list selectable and update map
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_utils/addAssetLayerToMap.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup AssetList component
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add a pipeline file to trigger the automatic deployment strategy
  azure-pipelines.yml
Due: none

Add change links for additional questions
  apps/melding-form/src/app/(general)/_utils/getMeldingData.ts
  apps/melding-form/src/app/(general)/contact/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test cases
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix linting errors
  apps/melding-form/src/app/(map)/locatie/kies/_components/Combobox/Combobox.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix type
  apps/melding-form/src/app/(general)/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases to AssetList.test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for getContainerFeatureIconSVG
  apps/melding-form/src/app/(map)/locatie/kies/_utils/getContainerFeatureIconSVG.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/melding-form/src/app/(general)/_utils/getMeldingData.test.ts
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use PATCH request to send Contact data (#954)
  apps/melding-form/src/app/(general)/contact/actions.test.ts
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/core/utils.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add a pipeline file to trigger the automatic deployment strategy (#956)
  azure-pipelines.yml
Due: none

Simplify Summary types
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix and add tests
  apps/melding-form/src/app/(general)/samenvatting/Summary.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary prop
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Destructure melding data
  apps/melding-form/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

test pipeline automatic deployment
  libs/ui/src/Footer/Footer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use correct format for test descriptions
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply feedback
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add translation
  apps/admin/src/app/providers/i18nProvider.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Node
  .nvmrc
  Dockerfile
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update pnpm
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update node and pnpm (#958)
  .nvmrc
  Dockerfile
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set up basic testing for Form Builder
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.test.tsx
  libs/form-builder/tsconfig.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary import
  libs/form-builder/src/FormBuilder.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Set up basic testing for Form Builder (#960)
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.test.tsx
  libs/form-builder/tsconfig.json
  libs/form-builder/vite.config.ts
  libs/form-builder/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use hidden input type file, update tests
  libs/ui/src/FileUpload/FileUpload.test.tsx
  libs/ui/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
Due: prettier --check, stylelint --allow-empty-input

Replace user setup in test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
