Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Fix test
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix JSX syntax for category label and select element
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix Select.Option value for category selection
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Trim reason string and enforce max length validation
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow Notification to shrink instead of expanding the Map
  apps/melding-form/AGENTS.md
  apps/melding-form/CLAUDE.md
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  libs/map/src/Map/Map.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Replace hardcoded error message with constant
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reintroduce fetching classifications in page.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename file due to code coventions
  apps/back-office/src/app/_actions/actionClient.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix syntax
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove ADS background color An ADS update introduced an background color to ams-image which we do not have in our designs
  libs/file-upload/src/FileList/FileListMedia.module.css
Due: prettier --check, stylelint --allow-empty-input

Fix test
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update the cluster svg style
  apps/melding-form/public/cluster.svg
Due: none

Remove unecessary extra aspect-ratio setting
  libs/file-upload/src/FileList/FileListItem.module.css
Due: prettier --check, stylelint --allow-empty-input

Update file-upload component styling (#1428)
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/translations/nl.json
  apps/melding-form/src/app/(general)/bijlage/Attachments.test.tsx
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/translations/nl.json
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileList/FileListItem.tsx
  libs/file-upload/src/FileList/FileListMedia.module.css
  libs/file-upload/src/FileList/FileListMedia.test.tsx
  libs/file-upload/src/FileList/FileListMedia.tsx
  libs/file-upload/src/FileUpload/FileUpload.module.css
  libs/file-upload/src/FileUpload/FileUpload.test.tsx
  libs/file-upload/src/FileUpload/FileUpload.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add scroll container to Notification
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove obsolete mapHandleRef prop
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show asset list over Map instead of hiding it
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/SideBarBottom/SideBarBottom.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove obsolete isHidden prop
  libs/map/src/Map/Map.module.css
  libs/map/src/Map/Map.test.tsx
  libs/map/src/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Allow users to always return to the Map from the Asset List view
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix shadowing
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove map is hidden logic from MarkerSelectLayer
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix dependency array
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show loading state on non-wide screens when asset list is open
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Finish loading state
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/Loading.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/Loading.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix shadowing
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add empty state
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/Loading.tsx
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix failing tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cancel stale WFS fetches
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary test
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove generated files
  apps/melding-form/AGENTS.md
  apps/melding-form/CLAUDE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor and update tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  apps/melding-form/src/app/(map)/locatie/kies/_components/Notification/Notification.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply an cluster active styling
  apps/melding-form/public/cluster-active.svg
  libs/map/src/MarkerSelectLayer/cluster.css
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add test for cluster state feature
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Restore showCoverageOnHover option
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Wrap function used in deps array in useCallback
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary abort
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only set loading state from calls that move the map
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
