Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Make sure assets are cleared when using current location button as well
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add note on bootstrap dependency
  libs/form-builder/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add assets feature docs (#1479)
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use same fallback icon src constant everywhere the fallback icon is used
  apps/melding-form/src/app/(general)/_components/AssetElement/AssetElement.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetIcon/AssetIcon.test.tsx
  apps/melding-form/src/app/_utils/getAssetIconSVG.test.ts
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.test.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for clearing assets on current location-button click
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clear address when coordinates are cleared
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  docs/patterns/assets.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Host vendor css locally instead of relying on the cdn (#1484)
  apps/admin/src/global.css
  libs/form-builder/README.md
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/global.css
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Render out note counts in the tab navigation
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test for the additional notes call
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve naming, typing and correct reset action on error
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correction notes check
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Amends to file upload style (#1485)
  libs/file-upload/src/FileList/FileListItem.module.css
  libs/file-upload/src/FileUpload/FileUpload.module.css
Due: prettier --check, stylelint --allow-empty-input

Use latest PR label action version
  .github/workflows/pr-label.yaml
Due: none

Fix formatting
  .github/workflows/pr-label.yaml
Due: none

Show correct validation errors on the category-id field
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix aria-describedby on combobox input
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only automatically open combobox when no val. error present to enable screenreader to read it
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update libs/form-builder bootstrap to latest
  libs/form-builder/package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use latest PR label action version (#1490)
  .github/workflows/pr-label.yaml
Due: none

Update pnpm lock with updated bootstrap
  pnpm-lock.yaml
Due: none

Add warning when ts or tsx files exceed 150 lines
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fetch WFS features in batch instead of series
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Include field, label and description in the classification-combobox component
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.test.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fetch WFS features in batch instead of series (#1493)
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_utils/fetchAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix PR comments
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add ref to dependency array
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update libs/form-builder bootstrap to latest (#1491)
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert jsdom version
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update pnpm lock
  pnpm-lock.yaml
Due: none

Correction note count rendering
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve validation errors
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show note counts in the tab navigation (#1489)
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
  apps/back-office/src/app/melding/[meldingId]/page.test.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply the max 150 lines warning to js,jsx,ts,tsx,mjs,cjs
  eslint.config.mjs
  eslint/common.mjs
  eslint/file-types.mjs
  eslint/frameworks.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

PR comments
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/ChangeCategory.tsx
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix validation handling for undefined classificationId in postReclassificationForm
  apps/back-office/src/app/melding/[meldingId]/wijzig-categorie/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Delete double declaration
  apps/back-office/src/app/melding/[meldingId]/notities/NotesOverview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
