Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Extract categorizeFormEntries and add unit tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/categorizeFormEntries.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/categorizeFormEntries.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Sort functions
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add comment
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add label to Time Input
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return promise body from MSW, to more accurately test buildAnswerPromises
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add iconEntry input to AssetType in Admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test cases AssetType create and edit
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Regenerate API client
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Handle null value in Summary and Detail
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Handle unknown Time answer in Summary and Back Office Detail
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Simplify test
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add asset icons
  apps/melding-form/public/bomen/bomen.svg
  apps/melding-form/public/container/cluster.svg
  apps/melding-form/public/container/gft.svg
  apps/melding-form/public/container/glas.svg
  apps/melding-form/public/container/papier.svg
  apps/melding-form/public/container/plastic.svg
  apps/melding-form/public/container/rest.svg
  apps/melding-form/public/container/textiel.svg
  apps/melding-form/public/happy.png
  apps/melding-form/public/klokken/klok.svg
  apps/melding-form/public/openbare-verlichting/2.svg
  apps/melding-form/public/openbare-verlichting/3.svg
  apps/melding-form/public/openbare-verlichting/4.svg
  apps/melding-form/public/openbare-verlichting/5.svg
  apps/melding-form/public/openbare-verlichting/schijnwerper.svg
Due: none

Add iconFolder input to AssetType admin
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/asset-types/AssetTypeCreate.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.test.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove markerIcon
  libs/map/src/markerIcons.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply suggestions from code review
  libs/form-renderer/src/FormRenderer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add defaultIcon to PointSelectLayer
  libs/map/src/PointSelectLayer/PointSelectLayer.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Adjust cluster icon folder structure
  libs/map/src/MarkerSelectLayer/cluster.css
Due: prettier --check, stylelint --allow-empty-input

Add max age to page size cookie
  apps/back-office/src/app/_components/PageSizeSelect.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Apply suggestions from code review
  apps/back-office/src/app/_components/Pagination.module.css
Due: prettier --check, stylelint --allow-empty-input

Add 'do not know'-checkbox to Time Input (#1218)
  apps/back-office/src/app/melding/[meldingId]/utils.test.tsx
  apps/back-office/src/app/melding/[meldingId]/utils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/buildAnswerPromises.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/categorizeFormEntries.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/categorizeFormEntries.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeCheckboxAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeCheckboxAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/mergeUnknownTimeAnswers.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/src/mocks/handlers.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/types.gen.ts
  libs/form-renderer/src/FormRenderer.test.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.module.css
  libs/form-renderer/src/components/TimeInput/TimeInput.test.tsx
  libs/form-renderer/src/components/TimeInput/TimeInput.tsx
  libs/form-renderer/src/index.ts
  libs/form-renderer/src/mocks/data.ts
  libs/form-renderer/src/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add pagination page size selector (#1217)
  apps/back-office/src/app/Overview.module.css
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/_components/OverviewDesktop.module.css
  apps/back-office/src/app/_components/OverviewDesktop.tsx
  apps/back-office/src/app/_components/OverviewMobile.module.css
  apps/back-office/src/app/_components/PageSizeSelect.module.css
  apps/back-office/src/app/_components/PageSizeSelect.test.tsx
  apps/back-office/src/app/_components/PageSizeSelect.tsx
  apps/back-office/src/app/_components/Pagination.module.css
  apps/back-office/src/app/_components/Pagination.test.tsx
  apps/back-office/src/app/_components/Pagination.tsx
  apps/back-office/src/app/page.test.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/constants.ts
  apps/back-office/src/mocks/utils.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add assetTypeIconConfig to meldingform
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
  libs/map/src/MarkerSelectLayer/MarkerSelectLayer.tsx
  libs/map/src/MarkerSelectLayer/useAddMarkersToMap.tsx
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.module.css
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.test.ts
  libs/map/src/MarkerSelectLayer/utils/getAssetIcon.ts
  libs/map/src/MarkerSelectLayer/utils/getContainerIcon.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Filter questions and answers from Summary that have conditions that are not met
  apps/melding-form/src/app/(general)/_utils/getAnswersByKey.test.ts
  apps/melding-form/src/app/(general)/_utils/getAnswersByKey.ts
  apps/melding-form/src/app/(general)/_utils/shouldRenderComponent.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
  apps/melding-form/tsconfig.tsbuildinfo
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Filter answers with unmet conditions from answersByKey
  apps/melding-form/src/app/(general)/_utils/getAnswersByKey.test.ts
  apps/melding-form/src/app/(general)/_utils/getAnswersByKey.ts
  apps/melding-form/src/app/(general)/_utils/shouldRenderComponent.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/_utils/shouldRenderComponent.test.ts
  apps/melding-form/src/app/(general)/samenvatting/page.test.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Re-filter answers in action
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Organize utils folder
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/_utils/conditions/getFilteredAnswersByKey.test.ts
  apps/melding-form/src/app/(general)/_utils/conditions/getFilteredAnswersByKey.ts
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.test.ts
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.ts
  apps/melding-form/src/app/(general)/_utils/validation/getDocumentTitleOnError.test.ts
  apps/melding-form/src/app/(general)/_utils/validation/getDocumentTitleOnError.ts
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.test.ts
  apps/melding-form/src/app/(general)/_utils/validation/hasValidationErrors.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/actions.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/contact/Contact.tsx
  apps/melding-form/src/app/(general)/contact/actions.ts
  apps/melding-form/src/app/(general)/locatie/Location.tsx
  apps/melding-form/src/app/(general)/samenvatting/Summary.tsx
  apps/melding-form/src/app/(general)/samenvatting/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use 'conditions' instead of 'conditionals' everywhere
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.test.ts
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove build artifact
  apps/melding-form/tsconfig.tsbuildinfo
Due: none

Use 'condition' instead of 'conditional' everywhere, except when we get it from the BE
  apps/melding-form/src/app/(general)/_utils/conditions/shouldRenderComponent.test.ts
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/_utils/navigationUtils.test.ts
  libs/form-renderer/src/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update docs
  docs/additional-questions-form-wizard.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Specify that import is type
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/AdditionalQuestions.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test
  apps/melding-form/src/app/(general)/samenvatting/utils.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change up folders structure of utils functions
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/getContainerAssetIconSVG.ts
  apps/melding-form/src/app/back-office-entry/route.ts
  apps/melding-form/src/app/utils/resolveClassificationRedirect.test.ts
  apps/melding-form/src/app/utils/resolveClassificationRedirect.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add getAssetIconSVG util
  apps/melding-form/src/app/utils/getAssetIconSVG.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add custom Image component with src fallback
  apps/melding-form/src/app/_components/Image/Image.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
