Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

file-upload: Export PendingFileUpload type
  libs/file-upload/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correction translations namespace used
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Return id in getAttechmentsData
  apps/back-office/src/app/melding/[meldingId]/_utils/getAttachmentsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Server side action for posting attachments
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement SS attachment upload for backoffice
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Back Office adres copy for when there is only geolocation (#1400)
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getLocationData.ts
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve layout structure to make tests pass
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert incorrect copilot suggestion
  apps/melding-form/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reduce threshold to prevent brittle tests around third-party integration details.
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename variable error -> apiError for consistency
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Attachement upload error handling
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.module.css
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Render filename as melder type is not available
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add mock handler for deleting attachments
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests for add attachment flow
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Utility to formate date and time
  apps/back-office/src/app/_utils/formatDateString.test.ts
  apps/back-office/src/app/_utils/formatDateString.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

back-office: apply formatDateString across codebase
  apps/back-office/src/app/_components/_utils/formatValue.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getMeldingData.ts
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct import of formatDateString
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Merge Image & PDF Attachment component
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.module.css
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/Attachment.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentImage.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.test.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/AttachmentPDF.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Correct Attachment import in test file
  apps/back-office/src/app/melding/[meldingId]/Detail.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correct date formatting and remove redundant test
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.test.tsx
  apps/back-office/src/app/melding/[meldingId]/notities/_components/Note/Note.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Generate updated api client
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Generate updated api client (#1408)
  libs/api-client/src/index.ts
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/sdk.gen.ts
  libs/api-client/src/types.gen.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Subscribe to changes on form components field to correctly update
  apps/admin/src/pages/form/components/BuilderInput.test.tsx
  apps/admin/src/pages/form/components/BuilderInput.tsx
  libs/form-builder/src/FormBuilder.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Explicitly override TSX styling on save
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix css import ts errors
  libs/form-builder/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

melding-form: Add copy when only geolocation is available
  apps/melding-form/src/app/(general)/samenvatting/_utils/getLocationSummary.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add new delete attachment id handler
  apps/back-office/src/mocks/endpoints.ts
  apps/back-office/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement deleteAttachment server action
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.test.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Attach attachment delete feature
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.test.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Improve naming and fix dependency array
  apps/admin/src/pages/form/components/BuilderInput.tsx
  eslint.config.mjs
  libs/form-builder/src/FormBuilder.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Prevent the form-builder from being rebuilt too often. Update unit tests
  apps/admin/src/pages/form/components/BuilderInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  libs/form-builder/src/FormBuilder.test.tsx
  libs/form-builder/src/FormBuilder.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Unrelated, move to another PR
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent override from user settings
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow file up to 20MB for uploading
  apps/back-office/next.config.ts
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Allow PDF as upload type
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AddAttachment.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make cancel label/button optional
  apps/back-office/src/app/melding/[meldingId]/bestand-toevoegen/AttachmentsList.tsx
  libs/file-upload/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add alternative translation for progress loading
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent override from user settings (#1412)
  .vscode/settings.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

melding-form: Add copy when only geolocation is available (#1410)
  apps/melding-form/src/app/(general)/samenvatting/_utils/getLocationSummary.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing check for additional answer type
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.test.ts
  apps/back-office/src/app/melding/[meldingId]/_utils/getAdditionalQuestionsData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
