Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove console log
  apps/admin/src/pages/form/utils/filterFormResponse.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test and lower code threshold
  libs/form-builder/src/components/Time/editForm.test.ts
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Correctly set and unset all env mocks
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Move API client config from library to apps (#1139)
  Dockerfile
  apps/back-office/.env
  apps/back-office/src/apiClientProxy.ts
  apps/back-office/vite.config.ts
  apps/melding-form/src/app/ApiClientInitializer.test.tsx
  apps/melding-form/src/app/ApiClientInitializer.tsx
  apps/melding-form/src/app/layout.tsx
  apps/melding-form/src/mocks/endpoints.ts
  apps/melding-form/vitest.setup.ts
  libs/api-client/runtime-config.ts
  libs/api-client/src/client.gen.ts
  libs/api-client/src/client/client.gen.ts
  libs/api-client/src/client/types.gen.ts
  libs/api-client/src/client/utils.gen.ts
  libs/api-client/src/core/auth.gen.ts
  libs/api-client/src/core/bodySerializer.gen.ts
  libs/api-client/src/core/params.gen.ts
  libs/api-client/src/core/pathSerializer.gen.ts
  libs/api-client/src/core/queryKeySerializer.gen.ts
  libs/api-client/src/core/serverSentEvents.gen.ts
  libs/api-client/src/core/types.gen.ts
  libs/api-client/src/core/utils.gen.ts
  openapi-ts.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add space to back link, refactor
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Always get coordinates on server, prefill address from server
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove bind using dynamic state, add hidden input
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add space before back link, remove unnecessary elements (#1148)
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/_components/BackLink.module.css
  apps/back-office/src/app/melding/[meldingId]/wijzig-status/ChangeState.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Update validation error messages
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Always get coordinates on server, prefill address from server"
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/src/app/(map)/locatie/kies/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert "Add tests"
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/page.test.tsx
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Parse form input safely
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor t() function use and upgrade test coverage
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
  apps/melding-form/src/app/(general)/bijlage/utils.test.ts
  apps/melding-form/src/app/(general)/bijlage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor generic errors on attachment page
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change MAX_UPLOAD_ATTEMPTS back to default
  apps/melding-form/src/app/(general)/bijlage/Attachments.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add and update tests
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Reuse Formio Time component
  libs/form-builder/src/components/Time/Time.tsx
  libs/form-builder/src/components/Time/editForm.test.ts
  libs/form-builder/src/components/Time/editForm.ts
  libs/form-builder/src/components/Time/time.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add required checkbox to Time component
  libs/form-builder/src/components/Time/editForm.test.ts
  libs/form-builder/src/components/Time/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Increase test coverage threshold
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add custom Time component in Admin (#1147)
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Time/Time.tsx
  libs/form-builder/src/components/Time/editForm.test.ts
  libs/form-builder/src/components/Time/editForm.ts
  libs/form-builder/src/components/index.ts
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Import type as type explicitly
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Only send ids to server, instead of entire Feature
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change render function and validation to date component
  libs/form-builder/src/components/Date/Date.tsx
  libs/form-builder/src/components/Date/date.css
  libs/form-builder/src/components/Date/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add date component to form builder
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  libs/form-builder/src/FormBuilder.tsx
  libs/form-builder/src/components/Date/Date.tsx
  libs/form-builder/src/components/Date/date.css
  libs/form-builder/src/components/Date/editForm.ts
  libs/form-builder/src/components/index.ts
  libs/form-builder/src/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add test and lower code threshold
  libs/form-builder/src/components/Date/editForm.test.ts
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case to filterFormResponse
  apps/admin/src/pages/form/utils/__snapshots__/filterFormResponse.test.tsx.snap
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate error messages in locatie/kies
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add required error message to Time and Date component
  libs/form-builder/src/components/Date/editForm.test.ts
  libs/form-builder/src/components/Date/editForm.ts
  libs/form-builder/src/components/Time/editForm.test.ts
  libs/form-builder/src/components/Time/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update tests
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

add triggeredByScript support
  azure-pipelines.yml
Due: none

add triggeredByScript support (#1152)
  azure-pipelines.yml
Due: none

Add conditional tab to Textfield component
  libs/form-builder/src/components/Textfield/editForm.test.ts
  libs/form-builder/src/components/Textfield/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Translate error messages on /locatie/kies (#1151)
  apps/melding-form/src/app/(map)/locatie/kies/actions.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/actions.ts
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing test
  libs/form-builder/src/components/Textfield/editForm.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

wip
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Time/TimeInput.module.css
  libs/form-renderer/src/components/Time/TimeInput.tsx
  libs/form-renderer/src/components/index.ts
  libs/form-renderer/src/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add conditional tab to Textarea
  libs/form-builder/src/components/Textarea/editForm.test.ts
  libs/form-builder/src/components/Textarea/editForm.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test to date component
  libs/form-builder/src/components/Date/Date.test.tsx
  libs/form-builder/src/components/Date/editForm.ts
  libs/form-builder/src/components/Time/editForm.ts
  libs/form-builder/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/translations/nl.json
  apps/melding-form/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
