Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add Melding detail page
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Melding detail page (#782)
  apps/back-office/src/app/_authentication/authOptions.ts
  apps/back-office/src/app/melding/[meldingId]/Detail.tsx
  apps/back-office/src/app/melding/[meldingId]/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove API client package from dependency grouping
  .github/dependabot.yml
Due: none

Add attachments request to page
  apps/public/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor Summary
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/handleApiError.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup code
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add attachments to summary
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove API client package from dependency grouping (#785)
  .github/dependabot.yml
Due: none

Add overview table
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/handleApiError.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add link to detail page
  apps/back-office/src/app/Overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update test
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add styling and cleanup code
  apps/public/src/app/(general)/samenvatting/Summary.module.css
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Sort on created_at
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case for Summary component
  apps/public/src/app/(general)/samenvatting/Summary.test.tsx
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/handleApiError.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update ADS to 0.15
  apps/public/src/app/(general)/_components/BackLink.module.css
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.tsx
  apps/public/src/app/(general)/bedankt/Thanks.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/locatie/Location.tsx
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.module.css
  apps/public/src/app/(map)/locatie/kies/page.module.css
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/ui/src/FileInput/FileInput.module.css
  libs/ui/src/Footer/Footer.tsx
  libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/SummaryList/SummaryList.module.css
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix spacing
  apps/public/src/app/(general)/bedankt/Thanks.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add getSummaryData test
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Meldingen overview table (#792)
  apps/back-office/src/app/Overview.test.tsx
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/page.tsx
  apps/back-office/src/handleApiError.ts
  apps/back-office/src/mocks/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update Amsterdam Design System to 0.15 (#793)
  apps/public/src/app/(general)/_components/BackLink.module.css
  apps/public/src/app/(general)/_components/BackLink.tsx
  apps/public/src/app/(general)/aanvullende-vragen/[classification]/[panelId]/AdditionalQuestions.tsx
  apps/public/src/app/(general)/bedankt/Thanks.tsx
  apps/public/src/app/(general)/bijlage/Attachments.tsx
  apps/public/src/app/(general)/contact/Contact.tsx
  apps/public/src/app/(general)/locatie/Location.tsx
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.module.css
  apps/public/src/app/(map)/locatie/kies/_components/ControlsOverlay/ControlsOverlay.tsx
  apps/public/src/app/(map)/locatie/kies/_components/SideBar/SideBar.module.css
  apps/public/src/app/(map)/locatie/kies/page.module.css
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/markdown-to-html/src/MarkdownToHtml.test.tsx
  libs/ui/src/FileInput/FileInput.module.css
  libs/ui/src/Footer/Footer.tsx
  libs/ui/src/ListBox/ListBox.module.css
  libs/ui/src/SummaryList/SummaryList.module.css
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix page test
  apps/public/src/app/(general)/samenvatting/page.test.tsx
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix handlers
  apps/public/src/mocks/endpoints.ts
  apps/public/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Rename back-office scripts
  apps/back-office/README.md
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename back-office scripts (#795)
  apps/back-office/README.md
  package.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor ReadableStream into Blob support
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary meta data
  apps/public/src/app/(general)/samenvatting/Summary.tsx
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add Pagination to back office
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use compact tokens
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update styling
  apps/back-office/src/app/Overview.module.css
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/global.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add Heading
  apps/back-office/src/app/Overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update summary test
  apps/public/src/app/(general)/samenvatting/Summary.test.tsx
  apps/public/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup code
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Cleanup test
  apps/public/src/app/(general)/samenvatting/Summary.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Increase space
  apps/back-office/src/app/Overview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Redirect if page isNaN or bigger than totalPages
  apps/back-office/src/app/Overview.tsx
  apps/back-office/src/app/constants.ts
  apps/back-office/src/app/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix tests
  apps/back-office/src/app/Overview.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

PR feedback
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
  apps/public/src/handleApiError.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

added makefile
  Makefile
  docker-compose.yml
Due: none

added makefile (#797)
  Makefile
  docker-compose.yml
Due: none

Refactor getMeldingSummary
  apps/public/src/app/(general)/samenvatting/_utils/getSummaryData.ts
  apps/public/src/app/(general)/samenvatting/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

use port 3001
  Dockerfile
  default.conf
  docker-compose.yml
Due: none
