Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Add tests
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update tests
  libs/form-renderer/src/FormRenderer.spec.ts
  libs/form-renderer/src/FormRenderer.spec.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/mocks/mockFormData.json
  libs/form-renderer/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add required state to TextArea
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add TextInput
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/components/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update styling
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Add Checkbox
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add Select
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add Radio
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Revert unused change
  apps/public/src/mocks/mockFormData.json
Due: none

Update styling
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Uninstall unused package
  package-lock.json
  package.json
Due: none

Rename test cases
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Set font-size and line-height for narrow screens as well
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Increase outline offset to account for border
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Allow button text to wrap on very narrow screens
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Get rid of double class names
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Add focus outline fallback
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Reorganize CSS blocks
  apps/public/src/app/bijlagen/_components/file-upload.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary exclude
  apps/public/tsconfig.json
Due: none

Add file upload mvp (#528)
  .lintstagedrc.json
  apps/public/src/app/bijlagen/_components/file-upload.module.css
  apps/public/src/app/bijlagen/_components/file-upload.spec.tsx
  apps/public/src/app/bijlagen/_components/file-upload.tsx
  apps/public/src/app/bijlagen/page.tsx
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Add FormRenderer tests
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/src/FormRenderer.spec.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/mocks/mockFormData.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Follow naming convention
  apps/public/src/app/bijlagen/_components/FileUpload.module.css
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/bijlagen/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Fix unwanted focus outline on click
  apps/public/src/app/bijlagen/_components/FileUpload.module.css
Due: prettier --check, stylelint --allow-empty-input

File upload tweaks (#563)
  apps/public/src/app/bijlagen/_components/FileUpload.module.css
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
  apps/public/src/app/bijlagen/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer, stylelint --allow-empty-input

Rename types
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Use generated types
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update dependencies
  package-lock.json
  package.json
Due: none

Update jest polyfill
  apps/public/jest.config.ts
  apps/public/jest.polyfills.js
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update dependencies (#564)
  apps/public/jest.config.ts
  apps/public/jest.polyfills.js
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update minor dependencies
  libs/ui/src/Footer/Footer.tsx
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Update minor dependencies (#580)
  libs/ui/src/Footer/Footer.tsx
  package-lock.json
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Group dependabot PRs
  .github/dependabot.yml
Due: none

Add github actions to dependabot updates
  .github/dependabot.yml
Due: none

Rename page
  apps/public/src/app/nieuwe-renderer/page.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add custom form renderer (#551)
  apps/public/src/app/nieuwe-renderer/page.tsx
  libs/form-renderer/.babelrc
  libs/form-renderer/.eslintrc.json
  libs/form-renderer/README.md
  libs/form-renderer/project.json
  libs/form-renderer/src/FormRenderer.spec.tsx
  libs/form-renderer/src/FormRenderer.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.spec.tsx
  libs/form-renderer/src/components/Checkbox/Checkbox.tsx
  libs/form-renderer/src/components/Radio/Radio.spec.tsx
  libs/form-renderer/src/components/Radio/Radio.tsx
  libs/form-renderer/src/components/Select/Select.spec.tsx
  libs/form-renderer/src/components/Select/Select.tsx
  libs/form-renderer/src/components/TextArea/TextArea.spec.tsx
  libs/form-renderer/src/components/TextArea/TextArea.tsx
  libs/form-renderer/src/components/TextInput/TextInput.spec.tsx
  libs/form-renderer/src/components/TextInput/TextInput.tsx
  libs/form-renderer/src/components/index.ts
  libs/form-renderer/src/index.ts
  libs/form-renderer/src/mocks/mockFormData.json
  libs/form-renderer/tsconfig.json
  libs/form-renderer/tsconfig.lib.json
  libs/form-renderer/tsconfig.spec.json
  libs/form-renderer/vite.config.ts
  libs/form-renderer/vitest.setup.ts
  tsconfig.base.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Group dependabot prs (#587)
  .github/dependabot.yml
Due: none

Generate schema and api client
  libs/api-client/src/schemas.gen.ts
  libs/api-client/src/services.gen.ts
  libs/api-client/src/types.gen.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add api call to FileUpload
  apps/public/src/app/bijlagen/_components/FileUpload.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Add test case
  apps/public/src/app/bijlagen/_components/FileUpload.spec.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npx nx affected -t typecheck --exclude=api-client,form-renderer

Path conditions:
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,scss})
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  npx nx affected -t typecheck --exclude=api-client,form-renderer: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
