Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.{md,js,json,jsx,ts,tsx,mjs,cjs}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Remove obsolete test
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make sure address always matches coordinates
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Abort call on input change, instead of after debounce
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make abort controller signal required
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unnecessary abort and associated tests
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAddressList.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/_utils/fetchAndSetAddress.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clear address on new coordinate select
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Do not overwrite a query with an address that comes in later
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove style overrides
  apps/admin/src/app/Admin.css
  apps/admin/src/app/Admin.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove MeldingenSimpleForm for complex fields setup
  apps/admin/src/pages/form/components/CreateEditForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove Custom form component
  apps/admin/src/pages/asset-types/AssetTypeCreate.tsx
  apps/admin/src/pages/asset-types/AssetTypeEdit.tsx
  apps/admin/src/pages/asset-types/AssetTypeFields.test.tsx
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/static-form/ContactForm.tsx
  apps/admin/src/pages/static-form/PrimaryForm.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.module.css
  apps/admin/src/shared/simple-form/MeldingenSimpleForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add wrapper class for specific form styling
  apps/admin/src/app/Admin.css
  apps/admin/src/app/Admin.tsx
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Rename selector
  apps/admin/src/app/Admin.css
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Remove redundant library from project
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AddressInput/AddressInput.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Open reclassification combobox options when clicking on the input
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.module.css
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Address PR comments
  apps/admin/src/app/Admin.css
  apps/admin/src/app/Admin.tsx
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.module.css
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Exclude test files in ESLint rule to limit lines in source files (#1498)
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add service belofte fields to Classification form in Admin (#1480)
  apps/admin/src/app/providers/i18nProvider.ts
  apps/admin/src/pages/classification/ClassificationCreate.tsx
  apps/admin/src/pages/classification/ClassificationEdit.tsx
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.module.css
  apps/admin/src/pages/classification/ClassificationFormFieldsBase.tsx
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor validate/parse select formData with Zod
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use required classificationId as source
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Schema validation on classificationId/query
  apps/back-office/src/app/melden/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add zoom button to image
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Simplify mock
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add touchscreen functionality
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Refactor
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ImageSlider.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/clampOffset.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/getPointerPositionInPercentages.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Use prefil/default classification if available and show error messages if present
  apps/back-office/src/app/melden/MeldingForm.test.tsx
  apps/back-office/src/app/melden/MeldingForm.tsx
  apps/back-office/src/app/melden/_components/ClassificationField/ClassificationField.test.tsx
  apps/back-office/src/app/melden/_components/ClassificationField/ClassificationField.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add classification input error messages
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add arrow key control
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.module.css
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.tsx
  apps/back-office/translations/nl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add missing test
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests for classification(Id/Query)
  apps/back-office/src/app/melden/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove redundant test case
  apps/back-office/src/app/melden/actions.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Throw failed classification call
  apps/back-office/src/app/melden/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Clean up tests
  apps/back-office/src/app/melding/[meldingId]/foto/_components/ZoomableImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Classification box better screenreader support
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Ensure the submit is disabled when prefetch is in progress
  apps/back-office/src/app/melden/MeldingForm.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove unused import
  apps/back-office/src/app/melden/_components/ClassificationField/ClassificationField.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix id to be same as name
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show all the options on click
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.test.tsx
  apps/back-office/src/app/_components/ClassificationCombobox/ClassificationCombobox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Revert ESLint rule limiting source file lines to 150
  eslint.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make sure you do not lose focus when moving to next image
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.test.ts
  apps/back-office/src/app/melding/[meldingId]/foto/_components/_utils/setCurrentSlideIndexToVisibleSlide.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit
