Repository Amsterdam/meldingen-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Add AssetList test
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

make submit button width fit-content
  apps/melding-form/src/app/(map)/locatie/kies/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Lower coverage threshold to account for unreliable percentages
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Show API errors on Home (#920)
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Use formio/core to add types
  apps/admin/package.json
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/src/pages/types.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add types to Admin (#895)
  apps/admin/package.json
  apps/admin/src/app/providers/dataProvider.ts
  apps/admin/src/pages/form/components/FormCreate.tsx
  apps/admin/src/pages/form/components/FormEdit.tsx
  apps/admin/src/pages/form/utils/filterFormResponse.ts
  apps/admin/src/pages/form/utils/filterFormResponseMock.ts
  apps/admin/src/pages/static-form/StaticFormEdit.tsx
  apps/admin/src/pages/types.ts
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add missing unit tests (#919)
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.test.tsx
  apps/melding-form/src/app/(general)/aanvullende-vragen/[classificationId]/[panelId]/page.tsx
  apps/melding-form/src/app/(general)/cookie-storing/page.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/index.ts
  apps/melding-form/src/app/layout.test.tsx
  apps/melding-form/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Test do not merge
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor fetch assets
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAndAddAssetLayerToMap.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAndAddAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAssets.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAssets.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Create hook for useAssetLayer
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/hooks/useAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/hooks/useAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetList/AssetList.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/hooks/useAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/fetchAssets.test.ts
  apps/melding-form/src/mocks/data.ts
  apps/melding-form/src/mocks/handlers.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit, stylelint --allow-empty-input

Fix rendering bug
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/hooks/useAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Refactor hook to function
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/hooks/useAssetLayer.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fix test cases
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update SelectLocation test
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add test case for toggle button
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

attach backend internal url as runtime variable instead of Docker build arg
  Dockerfile
  docker-compose.yml
Due: none

Test
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set keyboard to false on asset markers
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/addAssetLayerToMap.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Make assets selectable and update coordinates
  apps/melding-form/public/asset-selected-marker.svg
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/markerIcons.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/addAssetLayerToMap.ts
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change hook name file
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/useAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove stopPropagation
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

downgrade @formio/js to 5.0.1
  libs/form-builder/package.json
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change formio/js for @formio/core
  libs/form-builder/package.json
  libs/form-builder/src/FormBuilder.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

add logging
  apps/melding-form/next.config.ts
  libs/api-client/runtime-config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Remove tabfocus from asset markers (#930)
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/addAssetLayerToMap.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Implement PR feedback
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Change place min-width map
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.module.css
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/Map.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove .only form test
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add error handling docs
  docs/0011-error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Implement PR feedback
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Update apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/Map/utils/updateAssetLayer.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add input validation docs
  docs/0007-forms.md
  docs/0011-error-handling.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Create AssetListToggle
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/SelectLocation.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetListToggle/AssetListToggle.test.tsx
  apps/melding-form/src/app/(map)/locatie/kies/_components/AssetListToggle/AssetListToggle.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Fetch primary form data when id and token exist
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/actions.ts
  apps/melding-form/src/app/(general)/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Formatting
  apps/melding-form/src/app/(general)/actions.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add and fix tests, move action to page
  apps/melding-form/src/app/(general)/Home.tsx
  apps/melding-form/src/app/(general)/actions.test.ts
  apps/melding-form/src/app/(general)/page.test.tsx
  apps/melding-form/src/app/(general)/page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Add tests
  apps/melding-form/src/app/(general)/Home.test.tsx
  apps/melding-form/src/app/(general)/page.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, tsc-files --noEmit

Path conditions:
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}
  prettier --check: (any of: *.{md,js,json,jsx,ts,tsx,mjs,cjs}) or (any of: *.{css,scss})
  tsc-files --noEmit: any of: *.{ts,tsx}
  stylelint --allow-empty-input: any of: *.{css,scss}
